@if luiTheme(element, field, momentpicker, enabled) {
	@if lui_input_style_enabled("compact") {
		$selector: lui_input_get_style_selector("compact");

		#{$prefix}.input#{$selector} luid-moment, luid-moment#{$selector} {
			> .moment.input {
				width: 2.5em;
				input {
					@extend %lui_quick_compact_input;
				}
			}

			.mp-button {
				&:hover {
					color: luiTheme(element, field, input, compact, hover-color);
					background: transparentize(luiPalette(light, color), 0.9);
				}
				&:active {
					background: transparentize(luiPalette(light, color, dark), 0.8);
				}
			}
		}
	}
}
