@if luiTheme(element, field, momentpicker, enabled) {
	@if lui_input_style_enabled("material") {
		$selector: lui_input_get_style_selector("material");
		@at-root #{$namespace} {
			luid-moment#{$selector} {
				> .moment.input {
					width: luiTheme(element, field, momentpicker, width);
					input {
						@extend %lui_quick_material_input;
					}
				}

				.mp-button {
					&:hover {
						color: luiTheme(element, field, input, material, hover-color);
						background: transparentize(luiPalette(primary, color), 0.9);
					}
					&:active {
						background: transparentize(luiPalette(primary, color), 0.8);
					}
				}
			}
		}
	}
}
