
.lui.block {
	border: $border;
	padding: $vertical-padding $horizontal-padding;

	> .header, .lui.header, > .footer, .lui.footer {
		padding: $vertical-padding $horizontal-padding;
	}

	> .header, .lui.header {
		margin: -$vertical-padding -$horizontal-padding 0 -$horizontal-padding;
		border-bottom: $border;
	}
	> .footer, .lui.footer {
		margin: 0 -$horizontal-padding -$vertical-padding -$horizontal-padding;
		border-top: $border;
	}

	// Alignments
	// =====
	&.align.right {
		text-align: right;
	}
	&.align.center {
		text-align: center;
	}
}

.lui.block.inverted {
	border-color: $border-inverted;

	> .header, .lui.header, > .footer, .lui.footer {
		border-color: $border-inverted;
	}
}

.lui.block.round {
	border-radius: $border-radius;
	> .header, .lui.header {
		border-radius: $border-radius $border-radius 0 0;
	}
	> .footer, .lui.footer {
		border-radius: 0 0 $border-radius $border-radius;
	}
}
