#{$prefix}.search.input {
	@include lui_make_icon("search");

	> input { padding-left: $search-input-left-padding; }

	&.searching {
		@include lui_loader();
		&:after { margin-left: 0; left: 1em; }
	}

	&:before, &:after {
		cursor: text;
		display: inline-block;
		position: absolute;
		top: 50%; left: 1em;
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		@extend .lui_user_select_none;
	}

	i.empty {
		@include lui_make_icon("cross");
		font-style: normal;
		cursor: pointer;

		font-size: (0.5 * $lui_default_font_size);
		width: $lui_default_font_size; height: $lui_default_font_size;
		text-align: center;
		border-radius: 50%;

		&, &:before {
			position: absolute;
			top: 50%; transform: translateY(-50%);
		}
		right: 1em;
		&:before { right: 0.5em; }

		background: $border-color;
		color: #FFF;
	}
}
