
// General
// ===================================
& {
	font-size: $lui_default_font_size;
	font-family: $font-family;
	color: $color;
	line-height: $line-height;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
small { font-size: $small-size; }

// Headings
// ===================================

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	line-height: $heading-line-height;
	margin: $heading-v-margin 0;
	font-weight: $heading-font-weight;
	padding: 0em;
}

h1 {
	font-size: $h1-size;
	line-height: $h1-line-height;
	font-weight: $h1-weight;
}
h2 {
	font-size: $h2-size;
	line-height: $h2-line-height;
	font-weight: $h2-weight;
}
h3 {
	font-size: $h3-size;
	line-height: $h3-line-height;
	font-weight: $h3-weight;
}
h4 {
	font-size: $h4-size;
	line-height: $h4-line-height;
	font-weight: $h4-weight;
}
h5 {
	font-size: $h5-size;
	line-height: $h5-line-height;
	font-weight: $h5-weight;
}
h6 {
	font-size: $h6-size;
	line-height: $h6-line-height;
	font-weight: $h6-weight;
}

.lui.sub.heading {
	letter-spacing: normal;
	color: lighten($color, 15);
}

h1, h2, h3, h4, h5, h6 {
	// Sub heading
	// =====
	.lui.sub.heading {
		display: inline-block;
		vertical-align: middle;
		font-size: (0.9 * $lui_default_font_size);
	}

	// Icon support
	// =====
	> .lui.icon:not(.button) {
		margin-right: .5em;
		vertical-align: top;
		font-size: $icon-in-heading-size;

		&.right {
			margin-left: .5em;
			margin-right: 0;
		}
	}
}


// Definition lists
// ===================================

dl.lui.definition-list {
	@extend .lui.clear;
	dt {
		float: left;
		clear: left;
		font-weight: $dl-dt-weight;
		&:after {
			content: $dl-divider;
		}
	}

	dd {
		float: right;
		font-weight: $dl-dd-weight;
		margin: 0 0 0 $dl-gutter;
	}
}


// Text alignment
// ===================================

.lui[class*="center aligned"] { text-align: center; }
.lui[class*="left aligned"] { text-align: left; }
.lui[class*="right aligned"] { text-align: right; }
.lui[class*="justify aligned"] { text-align: justify; }


// Links
// ===================================

a {
	color: $link-color;
	&:hover, &:active {
		color: $link-color-over;
	}

	&[ui-sref] {
		cursor: pointer;
	}
}



// Body copy
// ===================================

.lui[class*="capitalized sentence"]::first-letter { text-transform: capitalize; }
.lui.capitalized:not([class*="capitalized sentence"]) { text-transform: capitalize; }
.lui.uppercase { text-transform: uppercase; }

.lui.italic {
	font-style: italic;
}
.lui.bold {
	font-style: 600;
}


.lui.typeset {
	h1, h2, h3, h4, h5, h6 { margin: 1em 0 0.5em 0; }
	h1:first-child {
		margin-top: 0;
	}
}

// Menus
// ====
.lui.menu .item.divider:not(.header) {
	color: lighten($color, 25);
}
