<h2 class="lui divider below">luid-date-picker</h2>

<p>A directive to pick a date in a calendar, a bit like the <a class="lui fancy link" href="https://angular-ui.github.io/bootstrap/#/datepicker">datepicker</a>	from angular ui bootstrap but with different options</p>
<p>For example you can use it with a <code>moment</code>, a <code>date</code> or any <code>string</code> if you provide a format</p>
<p>It exists inline or in a popup.</p>

<div class="lui dashed divider">
	<h4 class="lui underline">Supported arguments:</h4>
</div>
<ul class="lui unstyled">
	<li><code>ng-model</code>: the variable to bind to</li>
	<li><code>format</code>: the format of the <code>ng-model</code> variable, <code>moment</code>, <code>date</code> or any format
		usable by <a class="lui fancy link" href="http://momentjs.com/docs/#/parsing/string-format/">momentjs</a>, default <code>moment</code></li>
	<li><code>min</code>: self explainatory</li>
	<li><code>max</code>: self explainatory</li>
	<li><code>custom-class</code>: a function taking in a moment and returnung a string to apply specific classes to some days</li>
	<li><code>displayed-months</code>: number of months you want displayed next to one another, default <code>1</code></li>
	<li><code>display-format</code>: unused inline, the format to use to display the selected date in the input, will use <code>format</code>		if you provided any or the format <code>L</code> if you didn't</li>
	<li><code>disable-keyboard-input</code>: unused inline, a self explainatory boolean, default <code>false</code></li>
	<li><code>shortcuts</code>: unused inline, a list of objects <code>{ label: "string", date: "your format of date" }</code> to
		be displayed under the calendars to easily select a certain date</li>
	<li><code>grouped-shortcuts</code>: unused inline, like <code>shortcuts</code> but you want them displayed on several lines
		for consistency, for example you want on one line <code>yesterday</code>, <code>today</code>, <code>tomorrow</code> and
		on another <code>last week</code>, <code>this week</code>, <code>next week</code></li>
</ul>

<div class="lui dashed divider">
	<h4 class="lui underline">Usage</h4>
</div>
<p>
	<pre hljs no-escape language="html">
&lt;luid-date-picker ng-model="myDate"&gt;&lt;/luid-date-picker&gt;
&lt;luid-date-picker ng-model="myDate" format="YYYY-MM-DD" displayed-month="3"&gt;&lt;/luid-date-picker&gt;
&lt;luid-date-picker-popup ng-model="myDate" display-format="dddd Do, MMMM"&gt;&lt;/luid-date-picker-popup&gt;
</pre>
</p>

<!--<div class="lui item">
	<a class="lui button primary" href="http://plnkr.co/edit/gaTyMAWNr0Bn2iWqi6OS?p=preview">
		<i class="lui icon search"></i>View in Plunker
	</a>
</div>-->

<div class="lui dashed divider">
	<h4 class="lui underline">Demo</h4>
</div>
<div class="lui block round">
	<section class="lui fitting container">
		<div class="lui desktop-3 tablet-6 column">
			<p>Basic use, linked to a moment</p>
			<p>
				<luid-date-picker ng-model="dateMoment"></luid-date-picker>
			</p>
			<p>My date: <code>{{ dateMoment | luifMoment : "LL"}}</code></p>
		</div>
		<div class="lui desktop-3 tablet-6 column">
			<p>Linked to a string with format <code>YYYY-MM-DD</code></p>
			<p>
				<luid-date-picker ng-model="dateStr" format="YYYY-MM-DD"></luid-date-picker>
			</p>
			<p>My date: <code>{{ dateStr }}</code></p>
		</div>
		<div class="lui desktop-3 tablet-6 column">
			<p>Linked to a <code>date</code></p>
			<p>
				<luid-date-picker ng-model="dateDate" format="date"></luid-date-picker>
			</p>
			<p>My date: <code>{{ dateDate }}</code></p>
		</div>
	</section>

	<hr class="lui dashed divider">

	<p>In a popup, to be easily incorporated in a form</p>
	<p>
		<luid-date-picker-popup class="lui compact" ng-model="datePopup1" disable-keyboard-input="true"></luid-date-picker-popup>
	</p>
	<p>displaying the date with the <code>LL</code> format but binded to a string with the <code>L</code> format</p>
	<p>
		<luid-date-picker-popup class="lui compact" ng-model="datePopup2" display-format="LL" format="L" disable-keyboard-input="true"></luid-date-picker-popup>
	</p>
	<p>value in my $scope: <code>{{ datePopup2 }}</code></p>

	<hr class="lui dashed divider">

	<p>with min/max</p>
	<p ng-form="myForm">
		<div class="lui field">
			<span class="lui compact input">
				<luid-date-picker-popup name="withMinMax" ng-model="dateMoment" min="min" max="max" disable-keyboard-input="true"></luid-date-picker-popup>
				<label>With dynamic min and max</label>
			</span>
			<div class="messages">
				<span class="message helper">Select a min and max in the inputs below</span>
			</div>
	</div>
	</p>
	<p>
		<div class="lui inline field">
			<span class="lui compact input">
				<luid-date-picker-popup ng-model="min" display-format="LL" shortcuts="shortcuts" disable-keyboard-input="true"></luid-date-picker-popup>
				<label>Min</label>
			</span>
		</div>
		<div class="lui inline field">
			<span class="lui compact input">
				<luid-date-picker-popup ng-model="max" display-format="LL" grouped-shortcuts="groupedShortcuts" disable-keyboard-input="true"></luid-date-picker-popup>
				<label>Max</label>
			</span>
		</div>
	</p>
	<p>
		<!-- <code>{{myForm.withMinMax}}</code> -->
		validity: <span class="lui green label" ng-show=" myForm.withMinMax.$valid">ng-valid</span>
		<span class="lui red label" ng-show=" myForm.withMinMax.$invalid">ng-invalid</span>
		<span class="lui red label" ng-repeat="(key, value) in myForm.withMinMax.$error">ng-invalid-{{key}}</span>
	</p>

	<hr class="lui dashed divider">

	<p>with custom classes</p>
	<p ng-form="datepickerForm">this one applies the class <code>disabled</code> to weekends
		<luid-date-picker-popup class="lui compact" ng-model="customClasses" custom-class="disableWeekends" disable-keyboard-input="true"></luid-date-picker-popup>
	</p>
	<p ng-form="datepickerForm">this one highlights the current week
		<luid-date-picker-popup class="lui compact" ng-model="customClasses" custom-class="highlightThisWeek" disable-keyboard-input="true"></luid-date-picker-popup>
	</p>

	<hr class="lui dashed divider">

	<p>In a popup, with keyboard input enabled</p>
	<p>
		<luid-date-picker-popup ng-model="keyboardPopup" min="keyboardDemoMin" max="keyboardDemoMax" format="DD/MM/YYYY" disable-keyboard-input="keyboardInputDisabled"
			display-format="DD/MM/YYYY" custom-class="disableWeekends" shortcuts="shortcuts" class="lui compact" >
		</luid-date-picker-popup>
		<div class="lui compact checkbox input">
			<input type="checkbox" name="keyboardInputDisabledCheckbox" id="keyboardInputDisabledCheckbox" ng-model="keyboardInputDisabled">
			<label for="keyboardInputDisabledCheckbox">Disable keyboard input</label>
		</div>
	</p>
	<p>
		<span class="lui compact input">
			<luid-date-picker-popup ng-model="keyboardDemoMin" format="DD/MM/YYYY"></luid-date-picker-popup>
			<label>Min</label>
		</span>
		<span class="lui compact input">
			<luid-date-picker-popup ng-model="keyboardDemoMax" format="DD/MM/YYYY"></luid-date-picker-popup>
			<label>Max</label>
		</span>
		<div>selected date = {{keyboardPopup}}</div>
	</p>
	<hr class="lui dashed divider">

	<p>With multiple months displayed at once</p>
	<p>
		<luid-date-picker class="lui compact" ng-model="dateMoment" displayed-calendars="2"></luid-date-picker>
	</p>
	<p>
		<luid-date-picker class="lui compact" ng-model="dateMoment" displayed-calendars="3"></luid-date-picker>
	</p>
	<p>With multiple months displayed at once in a popup</p>
	<p>
		<luid-date-picker-popup class="lui compact" ng-model="dateMoment" displayed-calendars="2"></luid-date-picker-popup>
	</p>
</div>
