@default-body-font-family: 'Source Sans Pro', 'Tahoma', Verdana, Geneva, Helvetica, Arial, sans-serif;
@default-body-text-size: 14px;
@default-body-text-color: #666;

// Headings
@font-size-large: ceil((@default-body-text-size * 1.25)); // ~18px
@font-size-small: ceil((@default-body-text-size * 0.9)); // ~12px

@font-size-h1: 3.25em;
@font-size-h2: 2.5em;
@font-size-h3: 2em;
@font-size-h4: 1.5em;
@font-size-h5: 1.25em;
@font-size-h6: 1.1em;

h1 {
	font-size: @font-size-h1;
	font-weight: lighter;
}

h2 {
	font-size: @font-size-h2;
}

h3 {
	font-size: @font-size-h3;
}

h4 {
	font-size: @font-size-h4;
}

h5 {
	font-size: @font-size-h5;
}

h6 {
	font-size: @font-size-h6;
	font-weight: bold;
}

body {
	font-family: @default-body-font-family;
	color: @default-body-text-color;
	font-size: @default-body-text-size;

	@media(max-width: @screen-xs-max) {
		font-size: @font-size-small;
	}

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.center-align {
	text-align: center;
}

.left-align {
	text-align: left;
}

.right-align {
	text-align: right;
}


.sub-title {
	font-size: @font-size-small;
	color: @color-grey;
	line-height: 1em;
	margin-top: 0.25em;
}

.small-text {
	font-size: @font-size-small;
}


dl {
	.clearfix;
	dt {
		float: left;
		clear: left;
		font-weight: bold;

		&:after {
			content: ":";
		}
	}

	dd {
		float: right;
		margin: 0 0 0 2em;
	}
}

.capitalize {
	&:first-letter {
		text-transform: capitalize;
	}
}
