/**
 * Loading Source Sans Pro
 */

@source-sans-path: "@{framework-path}/fonts/SourceSansPro";

// 300 - roman only
@font-face {
  font-family: "Source Sans Pro";
  src:  url("@{source-sans-path}/200.eot");
  src:  url("@{source-sans-path}/200.eot?#iefix") format("embedded-opentype"),
        url("@{source-sans-path}/200.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src:  url("@{source-sans-path}/200italic.eot");
  src:  url("@{source-sans-path}/200italic.eot?#iefix") format("embedded-opentype"),
        url("@{source-sans-path}/200italic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

// 300 - roman only
@font-face {
  font-family: "Source Sans Pro";
  src:  url("@{source-sans-path}/300.eot");
  src:  url("@{source-sans-path}/300.eot?#iefix") format("embedded-opentype"),
        url("@{source-sans-path}/300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

// 400 - roman & italic
@font-face {
  font-family: "Source Sans Pro";
  src:  url("@{source-sans-path}/400.eot");
  src:  url("@{source-sans-path}/400.eot?#iefix") format("embedded-opentype"),
        url("@{source-sans-path}/400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src:  url("@{source-sans-path}/400italic.eot");
  src:  url("@{source-sans-path}/400italic.eot?#iefix") format("embedded-opentype"),
        url("@{source-sans-path}/400italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

// 600 - roman & italic
@font-face {
  font-family: "Source Sans Pro";
  src:  url("@{source-sans-path}/600.eot");
  src:  url("@{source-sans-path}/600.eot?#iefix") format("embedded-opentype"),
        url("@{source-sans-path}/600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src:  url("@{source-sans-path}/600italic.eot");
  src:  url("@{source-sans-path}/600italic.eot?#iefix") format("embedded-opentype"),
        url("@{source-sans-path}/600italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

// 700 - roman only
@font-face {
  font-family: "Source Sans Pro";
  src:  url("@{source-sans-path}/700.eot");
  src:  url("@{source-sans-path}/700.eot?#iefix") format("embedded-opentype"),
        url("@{source-sans-path}/700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

// 900 - roman only
@font-face {
  font-family: "Source Sans Pro";
  src:  url("@{source-sans-path}/900.eot");
  src:  url("@{source-sans-path}/900.eot?#iefix") format("embedded-opentype"),
        url("@{source-sans-path}/900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}