@default-label-background-color: #666;
@default-label-text-color: #fff;
@default-label-border-radius: 5px;

.lucca-label {
  display: inline-block;
  line-height: 1em;
  .border-radius(@default-label-border-radius);
  padding: 0.25em 0.4em;
  vertical-align: middle;
  margin-left: 0.25em;
  font-weight: bold;
  text-align: center;
  margin-top: -3px;
  background-color: @default-label-background-color;
  color: @default-label-text-color;

  &.round {
    .border-radius(50%);
  }

  &.primary {
    background-color: @color-primary;
    color: @color-over-primary;
  }

  &.secondary {
    background-color: @color-secondary;
    color: @color-over-secondary;
  }

  &.yellow {
	  background-color: @color-lucca;
	  color: @color-over-lucca;
  }

  &.success {
	background-color: @color-success;
	color: darken(@color-success, 25);
  }

  &.error {
	background-color: @color-error;
	color: #FFF;
  }

  &.warning {
	background-color: @color-warning;
	color: darken(@color-warning, 25);
  }

  &.light {
    background-color: #ccc;
  }

  &.white {
    background-color: #fff;
    color: #999;
    border: 1px solid rgba(50, 50, 50, 0.25);
  }
}