
// ===================================
// ========= INITIALIZATION ==========
// ===================================

// Utility functions
// ===================================
@import	"core/utilities/functions/maps",
		"core/utilities/functions/strings";

// Namespace discovery
// ===================================
$prefix: '' !default;
$namespace: &; @if ($namespace == null) { $namespace: body; } $cleanNamespace: str-replace(to-string($namespace), '#', '');

// Theme building
// ===================================
@import "themes/default/references.json";
@import "themes/default/adjectives.json";
@import "themes/default/elements.json";
$theme: (core: (references: $references, adjectives: $adjectives, elements: $elements));

@import "core/utilities/theming/theming";

// ===================================
// ======== CORE & UTILITIES =========
// ===================================





// Build theme
// ===================================


// Mixins
// ===================================
@import	"core/utilities/mixins/ie9-support",
		"core/utilities/mixins/flex",
		"core/utilities/mixins/responsive",
		"core/utilities/mixins/transition",
		"core/utilities/mixins/is-animated",
		"core/utilities/mixins/supports-sizing",
		"core/utilities/mixins/supports-text-coloring",
		"core/utilities/mixins/loader",
		"core/utilities/mixins/points-towards";




// ===================================
// =========== ADJECTIVES ============
// ===================================
@import	"core/adjectives/unstyled",
		"core/adjectives/animated",
		"core/adjectives/pointing",
		"core/adjectives/raised",
		"core/adjectives/rounded",
		"core/adjectives/stuck",
		"core/adjectives/visible";




// ===================================
// ============ ELEMENTS =============
// ===================================
@import	"core/elements/icon",
		"core/elements/grid",
		"core/elements/divider",
		"core/elements/typography"
		// "core/elements/input",
		// "core/elements/button",
		// "core/elements/table",
		// "core/elements/menu",
		// "core/elements/breadcrumbs",
		// "core/elements/label",
		// "core/elements/callout",
		// "core/elements/block", // @TODO: under construction
		// "core/elements/overlay",
		// "core/elements/progress",
		// "core/elements/day-block",
		// "core/elements/tablegrid",
		// "core/elements/notify"
		;




// ===================================
// ============= PLUGINS =============
// ===================================


// Angular UI Bootstrap reskin
// ===================================
// @at-root #{$namespace} {
// 	@import "plugins/angular-ui-bootstrap-reskin/angular-ui-bootstrap-reskin";
// }


// Lucca App Lqyout
// ===================================
// @at-root #{$namespace} {
// 	@import "plugins/lucca-app-layout/lucca-app-layout";
// }
