$prefix: '' !default;
$namespace: false;

@import "scss/core/utilities/theming/theming";


// ===================================
// =========== UTILITIES =============
// ===================================
// IE9 support mixin
@import "scss/core/utilities/ie9-support";
// Resets
@import "scss/core/utilities/flex";
// Responsive
@import "scss/core/utilities/responsive";
// Transition & animations mixins
@import "scss/core/utilities/transition";
// Is animated (mixin)
@import "scss/core/utilities/is-animated";
// Sizing handler
@import "scss/core/utilities/supports-sizing";
// Loader
@import "scss/core/utilities/loader";

// Lucca icons
// ===================================

@import "bower_components/lucca-icons/src/lucca-icons";
$luccaIcons_icon-base-selector: map-gets($luiTheme, dependencies, luccaIcons, iconBaseSelector);

.lui.icon { @include lui_supports_sizing(); };

// We define a mixin alias here for better support
@mixin lui_make_icon($name, $position: left) {
	@include luccaIcons_make($name, $position);
}

// ===================================
// =========== ADJECTIVES ============
// ===================================

@at-root {
	// Unstyled
	// ===================================
	@import "scss/core/adjectives/unstyled";
}

@at-root {
	// Animated
	// ===================================
	$vars: lui_theme(adjective, animated);
	@import "scss/core/adjectives/animated";
}

@at-root {
	// Pointing
	// ===================================
	$vars: lui_theme(adjective, pointing);
	@import "scss/core/adjectives/pointing";
}

@at-root {
	// Raised: subtle shadow effect
	// ===================================
	$vars: lui_theme(adjective, raised);
	@import "scss/core/adjectives/raised";
}

@at-root {
	// Rounded
	// ===================================
	$vars: lui_theme(adjective, rounded);
	@import "scss/core/adjectives/rounded";
}

@at-root {
	// Stuck
	// ===================================
	$vars: lui_theme(adjective, stuck);
	@import "scss/core/adjectives/stuck";
}


// ===================================
// ============ ELEMENTS =============
// ===================================

@at-root {
	// Grid
	// ===================================
	$vars: lui_theme(element, grid);
	@import "scss/core/elements/grid";
}

@at-root {
	// Typography
	// ===================================
	$vars: lui_theme(element, typography);
	@import "scss/core/elements/typography";
}

@at-root {
	// Input
	// ===================================
	$vars: lui_theme(element, input);
	@import "scss/core/elements/input";
}

@at-root {
	// Button
	// ===================================
	$vars: lui_theme(element, button);
	@import "scss/core/elements/button";
}

@at-root {
	// Divider
	// ===================================
	$vars: lui_theme(element, divider);
	@import "scss/core/elements/divider";
}

@at-root {
	// Table
	// ===================================
	$vars: lui_theme(element, table);
	@import "scss/core/elements/table";
}

@at-root {
	// Menu
	// ===================================
	$vars: lui_theme(element, menu);
	@import "scss/core/elements/menu";
}

@at-root {
	// Breadcrumbs
	// ===================================
	$vars: lui_theme(element, breadcrumbs);
	@import "scss/core/elements/breadcrumbs";
}

@at-root {
	// label
	// ===================================
	$vars: lui_theme(element, label);
	@import "scss/core/elements/label";
}

@at-root {
	// Callout
	// ===================================
	$vars: lui_theme(element, callout);
	@import "scss/core/elements/callout";
}

@at-root {
	// Block (@TODO: under construction)
	// ===================================
	$vars: lui_theme(element, block);
	@import "scss/core/elements/block";
}

@at-root {
	// Overlay
	// ===================================
	$vars: lui_theme(element, overlay);
	@import "scss/core/elements/overlay";
}

@at-root {
	// progress
	// ===================================
	$vars: lui_theme(element, progress);
	@import "scss/core/elements/progress";
}


// ===================================
// ============= PLUGINS =============
// ===================================

@at-root {
	// Nguibs - Angular UI bootstrap reskin project
	// ===================================
	@import "plugins/angular-ui-bootstrap-reskin/angular-ui-bootstrap-reskin";
}

@at-root {
	// Lucca App Lqyout
	// ===================================
	@import "plugins/lucca-app-layout/lucca-app-layout";
}
