
.lui.animated {
	animation-easing: @animation-easing;
	animation-duration: @animation-duration;
	animation-fill-mode: both;

	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
	backface-visibility: hidden;

	// resets
	opacity: 1;
}

.lui.infinitely.animated { animation-iteration-count: infinite; }


/**
 * Fading animations
 * --------------------------------------------------------------------------- */

// Upsided fade in/out
@keyframes fadeInUp {
	from { opacity: 0;  transform: translate3d(0, -@fade-translation-distance, 0); }
	to { opacity: 1; transform: none; }
}
.lui.animated[class*="up fade in"] { animation-name: fadeInUp; }

@keyframes fadeOutUp {
	from { opacity: 1;  transform: none }
	to { opacity: 0; transform: translate3d(0, -@fade-translation-distance, 0);; }
}
.lui.animated[class*="up fade out"] { animation-name: fadeOutUp; }

// Downsided fade in/out
@keyframes fadeInDown {
	from { opacity: 0;  transform: translate3d(0, @fade-translation-distance, 0); }
	to { opacity: 1; transform: none; }
}
.lui.animated[class*="down fade in"] { animation-name: fadeInDown; }

@keyframes fadeOutDown {
	from { opacity: 1;  transform: none }
	to { opacity: 0; transform: translate3d(0, @fade-translation-distance, 0);; }
}
.lui.animated[class*="down fade out"] { animation-name: fadeOutDown; }

// Leftsided fade in/out
@keyframes fadeInLeft {
	from { opacity: 0;  transform: translate3d(-@fade-translation-distance, 0, 0); }
	to { opacity: 1; transform: none; }
}
.lui.animated[class*="left fade in"] { animation-name: fadeInLeft; }

@keyframes fadeOutLeft {
	from { opacity: 1;  transform: none }
	to { opacity: 0; transform: translate3d(-@fade-translation-distance, 0, 0);; }
}
.lui.animated[class*="left fade out"] { animation-name: fadeOutLeft; }

// Rightsided fade in/out
@keyframes fadeInRight {
	from { opacity: 0;  transform: translate3d(@fade-translation-distance, 0, 0); }
	to { opacity: 1; transform: none; }
}
.lui.animated[class*="right fade in"] { animation-name: fadeInRight; }

@keyframes fadeOutRight {
	from { opacity: 1;  transform: none }
	to { opacity: 0; transform: translate3d(@fade-translation-distance, 0, 0);; }
}
.lui.animated[class*="right fade out"] { animation-name: fadeOutRight; }


/**
 * Scaling animations
 * --------------------------------------------------------------------------- */

 // Down scale
@keyframes downScaleIn {
	from { transform: scale((1 - @scale-animation-ratio / 100)); opacity: 0; }
	to { transform: scale(1); opacity: 1; }
}
.lui.animated[class*="down scale in"] { animation-name: downScaleIn; }

@keyframes downScaleOut {
	from { transform: scale(1); opacity: 1; }
	to { transform: scale((1 - @scale-animation-ratio / 100)); opacity: 0; }
}
.lui.animated[class*="down scale out"] { animation-name: downScaleOut; }

// Up scale
@keyframes upScaleIn {
	from { transform: scale((1 + @scale-animation-ratio / 100)); opacity: 0; }
	to { transform: scale(1); opacity: 1; }
}
.lui.animated[class*="up scale in"] { animation-name: upScaleIn; }

@keyframes upScaleOut {
	from { transform: scale(1); opacity: 1; }
	to { transform: scale((1 + @scale-animation-ratio / 100)); opacity: 0; }
}
.lui.animated[class*="up scale out"] { animation-name: upScaleOut; }


/**
 * Sliding animations
 * --------------------------------------------------------------------------- */

 // Slide vertical
@keyframes slideInVertical {
	from { transform: scale(1, 0); }
	to { transform: scale(1, 1); }
}
.lui.animated[class*="up slide in"] { transform-origin: center top; animation-name: slideInVertical; }
.lui.animated[class*="down slide in"] { transform-origin: center bottom; animation-name: slideInVertical; }

@keyframes slideOutVertical {
	from { transform: scale(1, 1); }
	to { transform: scale(1, 0); }
}
.lui.animated[class*="up slide out"] { transform-origin: center top; animation-name: slideOutVertical; }
.lui.animated[class*="down slide out"] { transform-origin: center bottom; animation-name: slideOutVertical; }

// Slide horizontal
@keyframes slideInHorizontal {
	from { transform: scale(0, 1); }
	to { transform: scale(1, 1); }
}
.lui.animated[class*="left slide in"] { transform-origin: left center; animation-name: slideInHorizontal; }
.lui.animated[class*="right slide in"] { transform-origin: right center; animation-name: slideInHorizontal; }

@keyframes slideOutHorizontal {
	from { transform: scale(1, 1); }
	to { transform: scale(0, 1); }
}
.lui.animated[class*="left slide out"] { transform-origin: left center; animation-name: slideOutHorizontal; }
.lui.animated[class*="right slide out"] { transform-origin: right center; animation-name: slideOutHorizontal; }


/**
 * Static animations
 * --------------------------------------------------------------------------- */

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
	40% { transform: translateY(-@bounce-distance);	}
	60% { transform: translateY(-(@bounce-distance / 2)); }
}
.lui.animated.bounce { animation-name: bounce; }

@keyframes pulse {
	0% { transform: scale(1); opacity: 1; }
	50% { transform: scale(0.85); opacity: 0.75; }
	100% { transform: scale(1); opacity: 1; }
}
.lui.animated.pulse { animation-name: pulse; }
