/**
 * Grid
 * --------------------------------------------------------------------------- */

body, html {
    width: 100%; height: 100%;
}

// Basic elements
// =====
.lui.container {
    margin: 0  @container-space-around;
    padding: 0;
    width: @container-width;

    .lui.column {
        float: left;
        box-sizing: border-box;
        width: 100%;
    }

    .lui.columns {
        .clear();
    }

    @media (max-width: @tablet) {
        margin-left: 1em;
        margin-right: 1em;
    }
}

// A fitted container will have no outer margin
.lui.container.fitted {
    margin: 0;
}

// Add gutter
// =====
.lui.container.spaced .lui.column,
.lui.container .lui.column.spaced {
    padding: 0 @gutter;
}
.lui.container.spaced .columns {
    margin: 0 -@gutter;
}

// Grid maker
// =====
.define_grid(@class, @count) when (@count > -1) {
	.lui.container .lui.column.@{class}-@{count} {
		width: @column * @count;
	}

    // Offset
    // =====
    .lui.container .lui.column.@{class}-offset-@{count} {
        margin-left: @column * @count;
    }

    // Reordering: Pulling
    // =====
    .lui.container .lui.column.@{class}-pull-@{count} {
        position: relative;
        left: -@column * @count;
    }

    // Reordering: Pushing
    // =====
    .lui.container .lui.column.@{class}-push-@{count} {
        position: relative;
        left: @column * @count;
    }

	.define_grid(@class, @count - 1);
}

// Mobile grid: mobile first
// ====
.define_grid(mobile, @columns);
.mobile-hide { display: none !important; }
.mobile-show { display: block; }

// Tablet grid
// ====
@media (min-width: @tablet) {
    .lui.container { margin: 0  @container-space-around-tablet; }

    .define_grid(tablet, @columns);

    .tablet-hide { display: none !important; }
    .tablet-show { display: block !important; }
}
// Desktop grid
// ====
@media (min-width: @desktop) {
    .lui.container { margin: 0  @container-space-around-desktop; }

    .define_grid(desktop, @columns);

    .tablet-desktop { display: none !important; }
    .tablet-desktop { display: block !important; }
}
// Large grid
// ====
@media (min-width: @large) {
    .lui.container { margin: 0  @container-space-around-large; }

    .define_grid(large, @columns);

    .tablet-large { display: none !important; }
    .tablet-large { display: block !important; }
}

// Fitting container : no outer space
// ====
.lui.fitting.container {
    margin-left: 0;
    margin-right: 0;
}

// Menu Support
// ====
.lui.menu.container {
    padding-left: @container-space-around; padding-right: @container-space-around;
    @media (min-width: @tablet) { padding-left: @container-space-around-tablet; padding-right: @container-space-around-tablet; }
    @media (min-width: @desktop) { padding-left: @container-space-around-desktop; padding-right: @container-space-around-desktop; }
    @media (min-width: @large) { padding-left: @container-space-around-large; padding-right: @container-space-around-large; }

    > .item:first-child {
        padding-left: 0;
        margin-left: 0;
    }
    > .item:last-child {
        padding-right: 0;
        margin-right: 0;
    }
}
