@iconFontName: "lucca-icons";
@iconFontPath: "../../../dist/fonts/LuccaIcons";

@icons:
  "pin" "\e000",
  "plus" "\e001",
  "analytics" "\e002",
  "chevron east" "\e003",
  "chevron north" "\e004",
  "chevron south" "\e005",
  "chevron west" "\e006",
  "attachment" "\e007",
  "blocks" "\e008",
  "branch" "\e009",
  "coffee" "\e00a",
  "check" "\e00b",
  "checkbox" "\e00c",
  "checkbox checked" "\e00d",
  "clock" "\e00e",
  "cross" "\e00f",
  "calendar" "\e010",
  "download" "\e011",
  "edit" "\e012",
  "edit frame" "\e013",
  "edit mini" "\e014",
  "ellipsis" "\e015",
  "error" "\e016",
  "files" "\e017",
  "filter" "\e018",
  "email" "\e019",
  "add user" "\e01a",
  "help" "\e01b",
  "list" "\e01c",
  "lock" "\e01d",
  "forbidden" "\e01e",
  "minus" "\e01f",
  "move" "\e020",
  "move horizontal" "\e021",
  "move vertical" "\e022",
  "notification" "\e023",
  "outside" "\e024",
  "camera" "\e025",
  "printer" "\e026",
  "refresh" "\e027",
  "remove user" "\e028",
  "drag" "\e029",
  "search" "\e02a",
  "send" "\e02b",
  "to user" "\e02c",
  "settings" "\e02d",
  "comment" "\e02e",
  "timer" "\e02f",
  "trash" "\e030",
  "unlock" "\e031",
  "upload" "\e032",
  "user" "\e033",
  "warning" "\e034",
  "bank card" "\e035",
  "bookmark" "\e036",
  "coins" "\e037",
  "milestone" "\e038",
  "quantity" "\e039",
  "luggage" "\e03a",
  "train" "\e03b",
  "tools" "\e03c",
  "toll dollar" "\e03d",
  "toll euro" "\e03e",
  "taxi" "\e03f",
  "clean car" "\e040",
  "car" "\e041",
  "postage" "\e042",
  "iron" "\e043",
  "plane" "\e044",
  "piggy bank" "\e045",
  "phone" "\e046",
  "parking" "\e047",
  "computer mouse" "\e048",
  "subway" "\e049",
  "meal" "\e04a",
  "lunch" "\e04b",
  "mileage" "\e04c",
  "hotel" "\e04d",
  "gasoline" "\e04e",
  "euro" "\e04f",
  "drink" "\e050",
  "diner" "\e051",
  "dollar" "\e052",
  "computer" "\e053",
  "bus" "\e054",
  "breakfast" "\e055",
  "arrow west" "\e056",
  "arrow east" "\e057",
  "arrow north" "\e058",
  "arrow south" "\e059";
