
/**
 * Loader
 * --------------------------------------------------------------------------- */

.lui.loader.small { font-size: @small; }
.lui.loader.regular { font-size: @regular; }
.lui.loader.large { font-size: @large; }
.lui.loader.x-large { font-size: @x-large; }

/**
 * Icon
 * --------------------------------------------------------------------------- */

.lui.icon.small { font-size: @small; }
.lui.icon.regular { font-size: @regular; }
.lui.icon.large { font-size: @large; }
.lui.icon.x-large { font-size: @x-large; }

.lui.icon.spinner,
.lui.icon.loader {
    &.small { font-size: @small; }
    &.regular { font-size: @regular; }
    &.large { font-size: @large; }
    &.x-large { font-size: @x-large; }
}

/**
 * Button
 * --------------------------------------------------------------------------- */
.lui.button.regular,
.lui.buttons.regular { font-size: @regular; }
.lui.button.small,
.lui.buttons.small { font-size: @small; }
.lui.button.large,
.lui.buttons.large { font-size: @large; }
.lui.button.x-large,
.lui.buttons.x-large { font-size: @x-large; }

/**
 * Label
 * --------------------------------------------------------------------------- */
.lui.label.regular { font-size: @regular; }
.lui.label.small { font-size: @small; }
.lui.label.large { font-size: @large; }
.lui.label.x-large { font-size: @x-large; }

/**
 * Input
 * --------------------------------------------------------------------------- */
.lui.input.small { font-size: @small; }
.lui.input.regular { font-size: @regular; }
.lui.input.large { font-size: @large; }
.lui.input.x-large { font-size: @x-large; }
