<h2 class="lui divider below">luid-day-block</h2>

<p>
	An element directive to to draw a day block calendar, like this:
</p>
<p>
	<luid-day-block date="myDate"></luid-day-block>
	or
	<luid-day-block class="lui primary" date="myDate"></luid-day-block>
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Features</h4>
</div>
<p>
	<ul class="lui unstyled">
		<li>Supports color class adjectives like <code>primary</code> or <code>green</code></li>
		<li>Supports size class adjectives like <code>small</code> or <code>x-large</code></li>
	</ul>
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Supported arguments</h4>
</div>
<p>
	<ul class="lui unstyled">
		<li><code>date</code> : The date you want to display, see <a class="lui fancy link" href="#filters#luifMoment">luifMoment</a> for supported values. </li>
		<li><code>show-day</code> : this argument must be a boolean, if true the directive shows the name of the day on top.</li>
		<li><code>primary-color</code> : use these two arguments to have your own color palette. </li>
		<li><code>secondary-color</code> : see above</li>
	</ul>
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Usage</h4>
</div>
<p>
	<pre hljs no-escape language="html">&lt;!-- basic usage --&gt;
&lt;luid-day-block date="myDate"&gt;&lt;/luid-day-block&gt;
&lt;!-- with a palette and size --&gt;
&lt;luid-day-block date="myDate" class="lui primary large"&gt;&lt;/luid-day-block&gt;
&lt;!-- with custom colors --&gt;
&lt;luid-day-block date="myDate" show-day="showDay" primary-color="customPrimaryColor" secondary-color="'white'"&gt;&lt;/luid-day-block&gt;</pre>
</p>
<div class="lui bottom dashed divider menu" id="demoBlock">
	<div class="lui header vertical menu">
		<h4 class="lui underline">Demo</h4>
	</div>
</div>
<div class="lui block round">
	<p>
	<span class="lui compact input">
		<luid-date-picker-popup ng-model="myDate"></luid-date-picker>
		<label>Date</label>
	</span>
	</p>
	<p>
		Palette :
		<div class="lui buttons">
			<div class="lui button" ng-model="palette" uib-btn-radio="''">none</div>
			<div class="lui button" ng-model="palette" uib-btn-radio="'primary'">primary</div>
			<div class="lui button" ng-model="palette" uib-btn-radio="'secondary'">secondary</div>
			<div class="lui button" ng-model="palette" uib-btn-radio="'grey'">grey</div>
			<div class="lui button" ng-model="palette" uib-btn-radio="'light'">light</div>
			<div class="lui button" ng-model="palette" uib-btn-radio="'green'">green</div>
			<div class="lui button" ng-model="palette" uib-btn-radio="'yellow'">yellow</div>
			<div class="lui button" ng-model="palette" uib-btn-radio="'orange'">orange</div>
			<div class="lui button" ng-model="palette" uib-btn-radio="'red'">red</div>
		</div>
	</p>
	<p>
		Sizing :
		<div class="lui buttons">
			<div class="lui button" ng-model="sizing" uib-btn-radio="'x-small'">x-small</div>
			<div class="lui button" ng-model="sizing" uib-btn-radio="'small'">small</div>
			<div class="lui button" ng-model="sizing" uib-btn-radio="''">default</div>
			<div class="lui button" ng-model="sizing" uib-btn-radio="'large'">large</div>
			<div class="lui button" ng-model="sizing" uib-btn-radio="'x-large'">x-large</div>
		</div>
	</p>
	<p>
		primary color:
		<span class="lui short compact input with addon">
			<input type="text" ng-model="foregroundColor" class="ng-pristine ng-valid ng-touched">
		</span>
	</p>
	<p>
		secondary color:
		<span class="lui short compact input with addon">
			<input type="text" ng-model="backgroundColor" class="ng-pristine ng-valid ng-touched">
		</span>
	</p>
	<p>
		<div class="lui compact input checkbox">
			<input type="checkbox" id="showDay" checked ng-model="showDay" />
			<label for="showDay">Show day label</label>
		</div>
	</p>
	<luid-day-block class="lui" ng-class="[palette, sizing]" show-day="showDay" primary-color="foregroundColor" secondary-color="backgroundColor"
	date="myDate">
	</luid-day-block>
</div>
