
// Animated
// @type: adjective
// ===================================

$animated: (
	enabled:					true,

	animationDuration:			0.5s,
	animationEasing:			ease-out,
	fadeTranslationDistance: 	1em,
	scaleAnimationRatio: 		25,
	bounceDistance: 			2em
);
$luiTheme: lui_set_component_variables(adjective, animated, $animated);
