
// Block
// @type: element
// ===================================

$block: (
	enabled: 					true,

	verticalPadding: 			1em,
	horizontalPadding: 			1em,
	border: 					1px solid luiTheme(element, divider, color),
	invertedBorder: 			rgba(255, 255, 255, 0.2),
	borderRadius: 				3px
);
$luiTheme: luiSetTheme(element, block, $block);
