
// Breadcrumbs
// @type: element
// ===================================

$breadcrumbs: (
	enabled: 					true,

	itemPadding:  				0.5em 0,

	dividers: (
		fontFamily: 			'',
		character: 				"\003e",
		margin: 				0 0.5em,
		color:					map-gets($luiTheme, elements, divider, color)
	)
);
$luiTheme: lui_set_component_variables(element, breadcrumbs, $breadcrumbs);
