// Luid-datepicker
// @type: element
// ===================================
$datepicker: (
	enabled: true,

	input: (
		width: 10em,
	),

	header: (
		font-size: 1.5em,
		font-weight: normal,
		padding: (
			vertical: lui-rem(0.5),
			horizontal: 0
		)
	),

	heads: (
		font-weight: normal,
		color: luiPalette(light, color, dark)
	),

	day: (
		size: 2.5em,

		empty: (
			border: (
				width: 1px,
				style: solid,
				color: #FAFAFA
			)
		),

		disabled: (
			background-color: #FFF,
			color: luiPalette(light, color),
			opacity: .5,

			border: (
				width: 1px,
				style: double,
				color: luiPalette(light, color)
			)
		),

		default: (
			background-color: #FFF,
			color: luiPalette(grey, color),

			border: (
				width: 1px,
				style: double,
				color: luiPalette(light, color)
			),

			hover: (
				background-color: luiPalette(light, color, light),
				color: luiPalette(grey, color)
			)
		),
		selected: (
			background-color: luiPalette(primary, color),
			color: luiPalette(primary, text),

			border: (
				width: 1px,
				style: double,
				color: darken(luiPalette(primary, color), 3),
			),

			hover: (
				background-color: darken(luiPalette(primary, color), 3),
				color: luiPalette(primary, text)
			)
		),
		in-between: (
			background-color: luiPalette(primary, color, light),
			color: luiPalette(primary, text),

			border: (
				width: 1px,
				style: double,
				color: luiPalette(primary, color),
			),

			hover: (
				background-color: darken(luiPalette(primary, color, light), 10),
				color: luiPalette(primary, text),
			)
		)
	),

	popup: (
		footer: (
			background: #FAFAFA
		)
	)
);
$luiTheme: luiSetTheme(element, datepicker, $datepicker);
