
// Divider
// @type: element
// ===================================

$divider: (
	enabled: 					true,

	width: 						1px,
	fatWidth: 					3px,
	color: 						rgba(50, 50, 50, 0.2),
	invertedColor: 				rgba(255, 255, 255, 0.2)
);
$luiTheme: lui_set_component_variables(element, divider, $divider);
