
// Lucca icons
// @type: element
// ===================================

$icon: (
	enabled: 					true,

	createClasses: 				true,
	iconBaseSelector: 			"#{$prefix}.icon"

);
$luiTheme: luiSetTheme(element, icon, $icon);
