
// Overlay
// @type: element
// ===================================

$overlay: (
	enabled: 					true,

	zIndex: 					998,
	background: 				rgba(0, 0, 0, 0.5)
);
$luiTheme: luiSetTheme(element, overlay, $overlay);
