
// Progress
// @type: element
// ===================================

$progress: (
	enabled: 					true,

	height: 					1.5em,
	slimHeight: 				5px,
	borderRadius: 				luiTheme(adjective, rounded, radius),
	background: 				#EFEFEF,
	defaultColoring: 			(color: #CCC, text: #666, lod: false),
	verticalMargin: 			1em,

	status: (
		fontWeight:				600
	),

	indicator: (
	)
);
$luiTheme: luiSetTheme(element, progress, $progress);
