<h2 class="lui divider below">ui-select</h2>
<p><a class="lui fancy link" href="https://github.com/angular-ui/ui-select">ui-select github page</a></p>
<p>
	<b>Important:</b> do <b>not</b> import the select.css or else some of the styling will be broken
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Simple select</h4>
</div>
<div class="lui field">
	<div class="lui material input">
		<ui-select ng-model="person.selected" ng-disabled="disabled" placeholder="Test" class="lui">
			<ui-select-match allow-clear="true">{{$select.selected.name}}</ui-select-match>
			<ui-select-choices repeat="person in people | filter: $select.search">
				<span ng-bind-html="person.name | highlight: $select.search"></span>
			</ui-select-choices>
		</ui-select>
		<label for="">User</label>
	</div>
</div>

<div class="lui compact input">
	<ui-select ng-model="person.selected" ng-disabled="disabled" search-enabled="false" class="lui">
		<ui-select-match>{{$select.selected.name}}</ui-select-match>
		<ui-select-choices repeat="person in people | filter: $select.search">
			<span ng-bind-html="person.name | highlight: $select.search"></span>
		</ui-select-choices>
	</ui-select>
	<label for="">User</label>
</div>

<div class="lui dashed divider">
	<h4 class="lui underline">Multi-select</h4>
</div>
<div class="lui input material">
	<ui-select multiple ng-model="colors" ng-disabled="disabled" class="lui long">
		<ui-select-match placeholder="Select colors...">{{$item}}</ui-select-match>
		<ui-select-choices repeat="color in availableColors | filter:$select.search">
			{{color}}
		</ui-select-choices>
	</ui-select>
</div>

<p class="lui natural form">
	<span>I seriously want to hire</span>
	<ui-select ng-model="person.selected" search-enabled="false">
		<ui-select-match placeholder="Pick a user">{{$select.selected.name}}</ui-select-match>
		<ui-select-choices repeat="person in people | filter: $select.search">
			<span ng-bind-html="person.name | highlight: $select.search"></span>
		</ui-select-choices>
	</ui-select>
	<span>because he/she just rocks at organizing LAN parties.</span>
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Usage:</h4>
</div>
<p>
	<pre hljs no-escape language="html">
&lt;div class="lui material compact"&gt;
	&lt;ui-select multiple ng-model="colors" ng-disabled="disabled"&gt;
		&lt;ui-select-match placeholder="Select colors...">{{$item}}&lt;/ui-select-match&gt;
		&lt;ui-select-choices repeat="color in availableColors | filter:$select.search"&gt;
			{{color}}
		&lt;/ui-select-choices&gt;
	&lt;/ui-select&gt;
&lt;/div&gt;
...
&lt;div class="lui natural form"&gt;
	&lt;span&gt;I seriously want to hire&lt;/span&gt;
	&lt;ui-select ng-model="person.selected" search-enabled="false"&gt;
		&lt;ui-select-match placeholder="Pick a user"&gt;{{$select.selected.name}}&lt;/ui-select-match&gt;
		&lt;ui-select-choices repeat="person in people | filter: $select.search"&gt;
			&lt;span ng-bind-html="person.name | highlight: $select.search"&gt;&lt;/span&gt;
		&lt;/ui-select-choices&gt;
	&lt;/ui-select&gt;
	&lt;span&gt;because he/she just rocks at organizing LAN parties.&lt;/span&gt;
&lt;div&gt;
</pre>
</p>
