//@import "../../less/lucca-ui";
@import "../../less2/lucca-ui2.less";

// Table of contents
@toc-width: 10em;

html, body {
    min-height: 100%;
    width: 100%;
}

.dark {
    background-color: #333;
    padding: 1em;
    &.inline {
        display: inline-block;
    }
}

#toc {
    position: fixed;
    z-index: 10;
    left: 0; top: 0;

    width: @toc-width;
    height: 100%;
    //background-color: #333;
}
#main-content {
    margin-left: @toc-width;
    padding: 2em;
}


code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
    color: #c7254e;
    background-color: #f9f2f4;
    padding: 3px;
    border-radius: 3px;
}
#lui-icon .icon-list {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        margin: 0 30px 20px 0;
        padding: 0;
        display: inline-block;
        overflow: hidden;
        text-align: center;
        i {
            color: #162a36;
            overflow: hidden;
            font-size: 24px;
        }
        input {
            display: block;
            padding: 5px;
            font-size: 12px;
            text-align: center;
        }
    }
}
