<h2 class="lui divider below">luid-iban</h2>

<p>
	An input to type in an iban.
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Features</h4>
</div>
<p>
	Shows IBAN split in 3 parts : country code, control key and bban
</p>
<p>
	Jumps to next sub input automaticaly
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Usage</h4>
</div>
<p>
	<pre hljs no-escape language="html">&lt;!-- basic usage --&gt;
&lt;luid-iban ng-model="myIban"&gt;&lt;/luid-iban&gt;</pre>
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Demo</h4>
</div>
<div ng-controller="ibanCtrl" class="lui block round" id="demoIban">
	<p>
		The directive
	</p>
	<p>
	<div class="lui long field">
			<span class="lui input">
				<luid-iban ng-model="iban"></luid-iban>
				<label for="">IBAN</label>
			</span>
		</div>
	</p>
	<div class="lui divider"></div>
	<p>
		Value in parent model
	</p>
	<p ng-bind="iban">
	</p>
</div>
