
/**
 * Headings
 * --------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: @heading-font;
    line-height: @heading-line-height;
    margin: @heading-v-margin 0;
    font-weight: @heading-font-weight;
    padding: 0em;
}

h1 {
    font-size: @size-h1;
}
h2 {
    font-size: @size-h2;
}
h3 {
    font-size: @size-h3;
}
h4 {
    font-size: @size-h4;
}
h5 {
    font-size: @size-h5;
}
h6 {
    font-size: @size-h6;
}

h1, h2, h3, h4, h5, h6 {
    .lui.icon {
        margin-right: 1em;
        vertical-align: top;
        font-size: @lui_sizes-small;

        &.right {
            margin-left: 1em;
            margin-right: 0;
        }
    }
}


/**
 * Body copy
 * --------------------------------------------------------------------------- */

.lui.body-copy {
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child {
        margin-top: 0em;
    }

    h1:last-child,
    h2:last-child,
    h3:last-child,
    h4:last-child,
    h5:last-child,
    h6:last-child {
        margin-bottom: 0em;
    }
}
