/**
 * DEFAULT GRADIENT VARIABLES
 */
@default-gradient-start-color: #555;
@default-gradient-end-color: #333;

/**
 * Horizontal gradient, from left to right
 * Has support for old versions of IE through filter:progid
 */
.gradient-horizontal(@start-color: @default-gradient-start-color, @end-color: @default-gradient-end-color, @start-percent: 0%, @end-percent: 100%) {
  background-image: -webkit-linear-gradient(left, @start-color @start-percent, @end-color @end-percent);
  background-image: -o-linear-gradient(left, @start-color @start-percent, @end-color @end-percent);
  background-image: linear-gradient(to right, @start-color @start-percent, @end-color @end-percent);
  background-repeat: repeat-x;
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@start-color),argb(@end-color)));
}
/**
 * Vertical gradient, from top to bottom
 * Has support for old versions of IE through filter:progid
 */
.gradient-vertical(@start-color: @default-gradient-start-color, @end-color: @default-gradient-end-color, @start-percent: 0%, @end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);
  background-image: -o-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);
  background-image: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent);
  background-repeat: repeat-x;
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@start-color),argb(@end-color)));
}

/**
 * Directional gradient
 * No support for old versions of IE
 */
.gradient-directional(@start-color: @default-gradient-start-color, @end-color: @default-gradient-end-color, @deg: 45deg) {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(@deg, @start-color, @end-color);
  background-image: -o-linear-gradient(@deg, @start-color, @end-color);
  background-image: linear-gradient(@deg, @start-color, @end-color);
}

/**
 * Radial gradient
 * No support for old versions of IE
 */
.gradient-radial(@inner-color: @default-gradient-start-color, @outer-color: @default-gradient-end-color) {
  background-image: -webkit-radial-gradient(circle, @inner-color, @outer-color);
  background-image: radial-gradient(circle, @inner-color, @outer-color);
  background-repeat: no-repeat;
}