/**
 * DEFAULT TRIANGLES VARIABLES
 */
@default-drop-shadow-x: 0;
@default-drop-shadow-y: 3px;
@default-drop-shadow-blur: 5px;
@default-drop-shadow-color: rgba(0, 0, 0, 0.1);

.no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.drop-shadow(@x-axis: @default-drop-shadow-x, @y-axis: @default-drop-shadow-y, @blur: @default-drop-shadow-blur, @color: @default-drop-shadow-color) {
  -webkit-box-shadow: @x-axis @y-axis @blur @color;
  -moz-box-shadow: @x-axis @y-axis @blur @color;
  box-shadow: @x-axis @y-axis @blur @color;
}
.inner-shadow(@horizontal: @default-drop-shadow-x, @vertical: @default-drop-shadow-y, @blur: @default-drop-shadow-blur, @color: @default-drop-shadow-color) {
  -webkit-box-shadow: inset @horizontal @vertical @blur @color;
  -moz-box-shadow: inset @horizontal @vertical @blur @color;
  box-shadow: inset @horizontal @vertical @blur @color;
}