@default-striped-start-color: rgba(50, 50, 50, 0.05);
@default-striped-end-color: transparent;


.striped(@start-color: @default-striped-start-color, @end-color: @default-striped-end-color) {
  background-image: repeating-linear-gradient(
          -45deg,
          @start-color 2em,
          @start-color 4em,
          @end-color 4em,
          @end-color 6em
  )
}