/**
 * DEFAULT TRIANGLES VARIABLES
 */
@default-triangle-color: #fff;
@default-triangle-width: 10px;


/**
 * BASIS FOR TRIANGLES
 */
.triangle-base() {
  content: '';
  display: block;
  width: 0;
  height: 0;
  -moz-transform: scale(.9999);
}

/**
 * TRIANGLE SHORTCUTS
 * Just add the "triangle-{direction}" class to an element
 */
.triangle-up {
  .triangle(up, @default-triangle-color, @default-triangle-width);
}
.triangle-down {
  .triangle(down, @default-triangle-color, @default-triangle-width);
}
.triangle-left {
  .triangle(left, @default-triangle-color, @default-triangle-width);
}
.triangle-right {
  .triangle(right, @default-triangle-color, @default-triangle-width);
}

/**
 * PROPER TRIANGLE MAKERS
 * string @direction Can be 'up', 'down', 'left' or 'right'
 * string @color Color of the triangle
 * string @width Width of the triangle
 * string @height Height of the triangle, defaults to (@width / 2)
 */
.triangle(@direction, @color: @default-triangle-color, @width: @default-triangle-width/2, @height: @default-triangle-width) when (@direction = up) {
  .triangle-base();
  border-left: @width solid transparent;
  border-right: @width solid transparent;
  border-bottom: @height solid @color;
}
.triangle(@direction, @color: @default-triangle-color, @width: @default-triangle-width/2, @height: @default-triangle-width) when (@direction = down) {
  .triangle-base();
  border-left: @width solid transparent;
  border-right: @width solid transparent;
  border-top: @height solid @color;
}
.triangle(@direction, @color: @default-triangle-color, @width: @default-triangle-width, @height: @default-triangle-width/2) when (@direction = left) {
  .triangle-base();
  border-top: @height solid transparent;
  border-bottom: @height solid transparent;
  border-right: @width solid @color;
}
.triangle(@direction, @color: @default-triangle-color, @width: @default-triangle-width, @height: @default-triangle-width/2) when (@direction = right) {
  .triangle-base();
  border-top: @height solid transparent;
  border-bottom: @height solid transparent;
  border-left: @width solid @color;
}