// ******************************************************
// ---------------------- LUCCA UI ----------------------
// ******************************************************

// A less framework by and for Lucca


// This is the absolute path to the less framework
@framework-path: "/Areas/admin/Angular/bower_component/lucca-ui/less";

// Legacy remains
@lucca-banner-height: 35px;


/**
 * THE GRID
 * The framework comes without a grid (Bootstrap recommended for now)
 */

// Bootstrap grid gutter
@bs-gutter-width: 15px;

// Breakpoints
// screen-xs is mobile, screen-sm is tablets, screen-sm is small desktop and screen-lg is large desktop
@screen-xs-max: @screen-sm-min;
@screen-sm-min: 768px;
@screen-sm-max: 992px;
@screen-md-min: @screen-sm-max;
@screen-md-max: 1200px;
@screen-lg-min: @screen-md-max;


/**
 * LOGOTYPE
*/
@logo-small-source: '';
@logo-large-source: '';

/**
 * COLORS
 */
@body-bg-color: #f1ede9;
@body-text-color: @color-grey-dark;

// Apps colors
@color-lucca: #ffc900;
@color-over-lucca: #666;

@color-figgo: #828db9;
@color-over-figgo: #FFF;

@color-cleemy: #9acd32;
@color-over-cleemy: #FFF;

@color-timmi: #6CA;
@color-over-timmi: #FFF;

// Shades of grey
@color-grey: #999;
@color-grey-light: #ccc;
@color-grey-dark: #666;

// Status colors (success, warning, error)
@color-warning: #f90;
@color-error: #f60;
@color-success: #5cb85c;

// Default primary / secondary
@color-primary: @color-lucca;
@color-over-primary: @default-body-text-color;
@color-primary-darker: darken(@color-primary, 10);

@color-secondary: #FF6600;
@color-over-secondary: #FFF;


/**
 * THE LAYOUT
 * The basic application layout (collapsable sidebar, header and view)
 */
@sidebar-bg-color: @color-grey-dark;