<h2 class="lui divider below">Tables</h2>

<p>
	Add the the classes <code class="red">lui table</code> to your table.
	Tables comes with 2 additionnal style options: <code class="red">zebra</code> and <code class="red">clickable</code>.
	<br>
	You can also use the class <code class="red">lui table</code> on a div element and add the classes <code class="red">thead</code>, <code class="red">tbody</code>, <code class="red">tr</code>, <code class="red">td</code> to its children.
	<br>
	You can add a <code class="red">color</code> class to your <code>tr</code> elements to prepend them with a colored border
</p>
<table class="lui table">
	<thead>
		<tr>
			<th class="small">#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>
				<div class="lucca-button-group">
					<button class="lui button">Do something</button>
					<button class="lui button">Do something else</button>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr class="orange">
			<td scope="row" class="small">1</td>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
		</tr>
		<tr>
			<td scope="row" class="small">2</td>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
		</tr>
		<tr class="red">
			<td scope="row" class="small">3</td>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
		</tr>
		<tr>
			<td scope="row" class="small">4</td>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
		</tr>
		<tr>
			<td scope="row" class="small">5</td>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
		</tr>
		<tr class="green">
			<td scope="row" class="small">6</td>
			<td>Larry</td>
			<td>the Bird</td>
			<td>@twitter</td>
		</tr>
	</tbody>
</table>

<a class="show-code-link" ng-click="showCodeT1 = !showCodeT1">Show code</a>

<pre hljs language="html" ng-show="showCodeT1"><table class="lui table">
	<thead>
		<tr>
			<th class="small">#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>
				<div class="lucca-button-group">
					<button class="lui button">Do something</button>
					<button class="lui button">Do something else</button>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr class="orange">
			<td scope="row" class="small">1</td>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
		</tr>
		<tr>
			<td scope="row" class="small">2</td>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
		</tr>
		<tr class="red">
			<td scope="row" class="small">3</td>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
		</tr>
		<tr>
			<td scope="row" class="small">4</td>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
		</tr>
		<tr>
			<td scope="row" class="small">5</td>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
		</tr>
		<tr class="green">
			<td scope="row" class="small">6</td>
			<td>Larry</td>
			<td>the Bird</td>
			<td>@twitter</td>
		</tr>
	</tbody>
</table></pre>

<div class="lui table zebra">
	<div class="thead large">
		<div class="tr">
			<div class="th">#</div>
			<div class="th">First name</div>
			<div class="th">Last name</div>
			<div class="th">Username</div>
		</div>
	</div>
	<div class="tbody">
		<div class="tr orange">
			<div class="td">1</div>
			<div class="td">Mark</div>
			<div class="td">Otto</div>
			<div class="td">@mdo</div>
		</div>
		<div class="tr red">
			<div class="td">2</div>
			<div class="td">Mark</div>
			<div class="td">Otto</div>
			<div class="td">@mdo</div>
		</div>
		<div class="tr green">
			<div class="td">3</div>
			<div class="td">Mark</div>
			<div class="td">Otto</div>
			<div class="td">@mdo</div>
		</div>
	</div>
</div>

<a class="show-code-link" ng-click="showCodeT2 = !showCodeT2">Show code</a>

<pre hljs language="html" ng-show="showCodeT2"><div class="lui table zebra">
	<div class="thead large">
		<div class="tr">
			<div class="th">#</div>
			<div class="th">First name</div>
			<div class="th">Last name</div>
			<div class="th">Username</div>
		</div>
	</div>
	<div class="tbody">
		<div class="tr orange">
			<div class="td">1</div>
			<div class="td">Mark</div>
			<div class="td">Otto</div>
			<div class="td">@mdo</div>
		</div>
		<div class="tr red">
			<div class="td">2</div>
			<div class="td">Mark</div>
			<div class="td">Otto</div>
			<div class="td">@mdo</div>
		</div>
		<div class="tr green">
			<div class="td">3</div>
			<div class="td">Mark</div>
			<div class="td">Otto</div>
			<div class="td">@mdo</div>
		</div>
	</div>
</div></pre>

<div class="lui table clickable">
	<div class="thead large">
		<div class="tr">
			<div class="th">#</div>
			<div class="th">First name</div>
			<div class="th">Last name</div>
			<div class="th">Username</div>
		</div>
	</div>
	<div class="tbody">
		<div class="tr">
			<div class="td">1</div>
			<div class="td">Mark</div>
			<div class="td">Otto</div>
			<div class="td">@mdo</div>
		</div>
		<div class="tr">
			<div class="td">2</div>
			<div class="td">Mark</div>
			<div class="td">Otto</div>
			<div class="td">@mdo</div>
		</div>
		<div class="tr">
			<div class="td">3</div>
			<div class="td">Mark</div>
			<div class="td">Otto</div>
			<div class="td">@mdo</div>
		</div>
	</div>
</div>

<a class="show-code-link" ng-click="showCodeT3 = !showCodeT3">Show code</a>

<pre hljs language="html" ng-show="showCodeT3"><div class="lui table clickable">
	<div class="thead large">
		<div class="tr">
			<div class="th">#</div>
			<div class="th">First name</div>
			<div class="th">Last name</div>
			<div class="th">Username</div>
		</div>
	</div>
	<div class="tbody">
		<div class="tr">
			<div class="td">1</div>
			<div class="td">Mark</div>
			<div class="td">Otto</div>
			<div class="td">@mdo</div>
		</div>
		<div class="tr">
			<div class="td">2</div>
			<div class="td">Mark</div>
			<div class="td">Otto</div>
			<div class="td">@mdo</div>
		</div>
		<div class="tr">
			<div class="td">3</div>
			<div class="td">Mark</div>
			<div class="td">Otto</div>
			<div class="td">@mdo</div>
		</div>
	</div>
</div></pre>
