<template #luiDatepickerPopover>
	<luid-date-picker
		[(date)]="date"
		(dateChange)="onDateChange()"
		[format]="format"
		[displayFormat]="displayFormat"
		[displayedCalendars]="displayedCalendars"
		[minMode]="minMode"
		[min]="min"
		[max]="max"
		[customClass]="customClass"
		[placeholder]="placeholder"
		[shortcuts]="shortcuts"
		[groupedShortcuts]="groupedShortcuts"
		[popover]="popover"
		(dateChange)="onDateChange()">
	</luid-date-picker>
</template>

<div [ngbPopover]="luiDatepickerPopover" #popover="ngbPopover" placement="bottom" class="lui datepicker input">
	<input type="text" [(ngModel)]="displayStr" placeholder="{{placeholder}}">
	<i class="empty"></i>
</div>