<template #luiDatepickerPopover>
	<div class="calendars" (click)="onInsideClick($event)">
		<div class="calendar" [attr.mode]="uiCtrl.mode" *ngFor="let calendar of calendars" [ngClass]="uiCtrl.direction">
			<header>
				<button class="previous" (click)="uiCtrl.previous()"></button>
				<span [ngSwitch]="uiCtrl.mode">
				<span *ngSwitchDefault (click)="uiCtrl.switchToMonthMode()">{{ calendar.date | luipMoment : calendar.currentYear ? "MMMM" : "MMMM - YYYY" }}</span>
				<span *ngSwitchCase="1" (click)="uiCtrl.switchToYearMode()">{{ calendar.date | luipMoment : "YYYY" }}</span>
				<span *ngSwitchCase="2">{{ calendar.date.year() }} - {{ calendar.date.year() + 11 }}</span>
				</span>
				<button class="next" (click)="uiCtrl.next()"></button>
			</header>

			<table class="days">
				<thead>
					<th *ngFor="let dayLabel of uiCtrl.dayLabels">{{ dayLabel }}</th>
				</thead>
				<tbody>
					<tr *ngFor="let week of calendar.weeks">
						<td *ngFor="let day of week.days" [ngClass]="{empty: day.empty, selected: day.selected}" class="{{ day.customClass }}" ng-disabled="day.disabled"
							(click)="uiCtrl.selectDay(day)">{{ day?.dayNum }}</td>
					</tr>
				</tbody>
			</table>

			<div class="months">
				<ul>
					<li *ngFor="let m of calendar.months" (click)="uiCtrl.selectMonth(m)" ng-disabled="m.disabled" [ngClass]="{selected: m.selected}"
						class="{{ m.customClass }}">{{ m?.date | luipMoment : "MMM" }}</li>
				</ul>
			</div>

			<div class="years">
				<ul>
					<li *ngFor="let y of calendar.years" ng-disabled="y.disabled" (click)="uiCtrl.selectYear(y)" [ngClass]="{selected: y.selected}"
						class="{{ y.customClass }}">{{ y?.date | luipMoment : "YYYY" }}</li>
				</ul>
			</div>
		</div>
	</div>

	<footer *ngIf="!!shortcuts || !!groupedShortcuts">
		<ul>
			<li *ngIf="!!shortcuts.length">
				<ul>
					<li class="shortcut" *ngFor="let shortcut of shortcuts">
						<a class="lui small grey wired button" (click)="uiCtrl.selectShortcut(shortcut)">{{ shortcut.label }}</a>
					</li>
				</ul>
			</li>
			<li class="group" *ngFor="let group of groupedShortcuts">
				<ul>
					<li class="shortcut" *ngFor="let shortcut of group">
						<a class="lui small grey wired button" (click)="uiCtrl.selectShortcut(shortcut)">{{ shortcut.label }}</a>
					</li>
				</ul>
			</li>
		</ul>
	</footer>
</template>

<div [ngbPopover]="luiDatepickerPopover" #popover="ngbPopover" placement="bottom" class="lui datepicker input" (click)="onInsideClick($event)">
	<input type="text" [(ngModel)]="displayStr" placeholder="{{placeholder}}">
	<i class="empty"></i>
</div>