/**
  * Colors
  * Here you can change Lucca-UI default coloring scheme to your liking
  * If you want to add an entirely new color, please use the add-color mixin
  * --------------------------------------------------------------------------- */

@enabled: true;

/*
@grey: #666;
@grey-light: #CCC;
*/

@primary: @primary-color;
@primary-over: @primary-color-over;
@primary-lightOnDark: true;

@secondary: teal;
@secondary-over: #FFF;
@secondary-lightOnDark: true;
/*
@red: #f60;
@red-over: #FFF;
@red-lightOnDark: true;

@orange: #f90;
@orange-over: #FFF;
@orange-lightOnDark: true;

@green: #5cb85c;
@green-over: #FFF;
@green-lightOnDark: true;

@yellow: #FFC900;
@yellow-over: #666;
@yellow-lightOnDark: false;
*/
