%lui_tagged_input_tag_material {
	background-color: luiPalette(light, color, light);
	color: luiPalette(light, text);

	&:hover {
		background-color: luiPalette(grey, color);
		color: luiPalette(grey, text);
	}
}

%lui_tagged_input_tag_active_material{
	background-color: luiPalette(primary, color);
	color: luiPalette(primary, text);
}

@if luiTheme(element, field, tagged, enabled) {
	@if lui_input_style_enabled("material") {
		$selector: lui_input_get_style_selector("material");

		$vars: luiTheme(element, field, tagged);

		#{$prefix}.tagged.input#{$selector} {
			.tag {
				@extend %lui_tagged_input_tag_material;

				&.selected {
					@extend %lui_tagged_input_tag_active_material;
				}
			}
		}
	}
}
