<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Lucca UI - Demo</title>
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"/> -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.1/select.min.css" media="screen" title="no title" charset="utf-8">

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../../demo/demo.min.css"/>

	<script src="../../bower_components/angular/angular.min.js"></script>
	<script src="../../bower_components/angular-mocks/angular-mocks.js"></script>
	<script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

	<script src="../../bower_components/moment/min/moment.min.js"></script>
	<script src="../../bower_components/underscore/underscore-min.js"></script>

	<script src="../../bower_components/ui-select/dist/select.min.js"></script>
	<script src="../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>

	<script src="../../dist/custom/lucca-ui-spe.js"></script>
	<script src="e2e.js"></script>
</head>
<body ng-app="e2eApp">
	<nav id="toc" class="lui vertical primary dividing menu">
		<a class="item header" href="#"><b>Filters</b></a>
		<a class="item" href="#luifPlaceholder">luifPlaceholder</a>
		<a class="item" href="#luifDefaultCode">luifDefaultCode</a>
		<a class="item" href="#luifNumber">luifNumber</a>
		<a class="item" href="#luifStartFrom">luifStartFrom</a>
		<a class="item" href="#luifMoment">luifMoment</a>
		<a class="item" href="#luifCalendar">luifCalendar</a>
		<a class="item" href="#luifFriendlyRange">luifFriendlyRange</a>
		<a class="item" href="#luifDuration">luifDuration</a>
		<a class="item" href="#luifHumanize">luifHumanize</a>
		<div class="lui vertical dashed divider"></div>
		<a class="item header" href="#"><b>Directives</b></a>
		<a class="item" href="#luid-timespan">luid-timespan</a>
		<a class="item" href="#luid-percentage">luid-percentage</a>
		<a class="item" href="#luid-moment">luid-moment</a>
		<a class="item" href="#luid-user-picker">luid-user-picker</a>
	</nav>

	<section id="main-content" class="lui container">
		<h1 class="lui column desktop-8">Lucca UI</h1>
		<div class="lui column desktop-4">
			<a class="lui large button pull-right" href="https://github.com/LuccaSA/lucca-ui">Code on github</a>
		</div>
		<p class="lui sub heading">DOCUMENTATION - Getting up and running with the framework</p>

		<div class="lui callout warning">
			<p>
				<b>Important:</b>
				this page is used for all them e2e tests
			</p>
		</div>

		<article id="luifPlaceholder">
			<h2 class="lui divider below">luifPlaceholder</h2>
			<div ng-controller="luifPlaceholderCtrl" class="lui block round">
				<div class="lui input"><input id="luifPlaceholder_myValue_input" ng-model="myValue" type="text"></div>
				<div class="lui input"><input id="luifPlaceholder_myPlaceholder_input" ng-model="myPlaceholder" type="text"></div>
				<div id="luifPlaceholder_myValue_value_1">{{ myValue | luifPlaceholder : "static placeholder" }}</div>
				<div id="luifPlaceholder_myValue_value_2">{{ myValue | luifPlaceholder : myPlaceholder }}</div>
			</div>
		</article>

		<article id="luifDefaultCode">
			<h2 class="lui divider below">luifDefaultCode</h2>
			<div ng-controller="luifDefaultCodeCtrl" class="lui block round">
				<div class="lui long input"><input id="luifDefaultCode_myValue_input" ng-model="myValue" type="text"></div>
				<div id="luifDefaultCode_myValue_value">{{ myValue | luifDefaultCode }}</div>
			</div>
		</article>

		<article id="luifNumber">
			<h2 class="lui divider below">luifNumber</h2>
			<div ng-controller="luifNumberCtrl" class="lui block round">
				<div class="lui input"><input id="luifNumber_myValue_input" ng-model="myValue" type="text"></div>
				<div class="lui input"><input id="luifNumber_myPrecision_input" ng-model="myPrecision" type="number"></div>
				<div id="luifNumber_myValue_value_1" ng-bind-html="myValue | luifNumber : myPrecision "></div>
				<div id="luifNumber_myValue_value_2" ng-bind-html="myValue | luifNumber : myPrecision : 0"></div>
				<div id="luifNumber_myValue_value_3" ng-bind-html="myValue | luifNumber : myPrecision : '-'"></div>
			</div>
		</article>

		<article id="luid-user-picker">
			<h2 class="lui divider below">luidUserPicker</h2>
			<div ng-controller="luidUserPickerCtrl" class="lui block round">
				<!-- Without former employees -->
				<div>
					<luid-user-picker id="luidUserPicker_myUser_select" ng-model="myUser.selected"></luid-user-picker>
					<div id="luidUserPicker_myUser_value">{{myUser.selected.firstName}} {{myUser.selected.lastName}}
					</div>
				</div>
				<!-- With former employees -->
				<div>
					<luid-user-picker id="luidUserPicker_myUser_select_former_employees" ng-model="myUser.selected" show-former-employees="true"></luid-user-picker>
				</div>
			</div>
		</article>
	</section>
</body>
</html>