<!DOCTYPE html>
<html>

<head lang="en">
	<meta charset="UTF-8">
	<title>Lucca UI - Tests e2e</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic'
	rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../../demo/demo.min.css" />

	<script src="../../bower_components/angular/angular.min.js"></script>
	<script src="../../bower_components/angular-mocks/angular-mocks.js"></script>
	<script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.8.1/angular-translate.min.js"></script>

	<script src="../../bower_components/moment/min/moment.min.js"></script>
	<script src="../../bower_components/underscore/underscore-min.js"></script>

	<script src="../../bower_components/ui-select/dist/select.min.js"></script>
	<script src="../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>

	<script src="../../dist/custom/lucca-ui-spe.js"></script>
	<script src="e2e.js"></script>
</head>

<body ng-app="e2eApp">

	<section id="main-content" class="lui container">
		<a class="lui large button" href="https://github.com/LuccaSA/lucca-ui">Code on github</a>

		<div class="lui callout warning">
			<p>
				<b>Important:</b> this page is used for all them e2e tests
			</p>
		</div>

		<article id="luifPlaceholder">
			<h2 class="lui divider below">luifPlaceholder</h2>
			<div ng-controller="luifPlaceholderCtrl" class="lui block round">
				<div class="lui input">
					<input id="luifPlaceholder_myValue_input" ng-model="myValue" type="text">
				</div>
				<div class="lui input">
					<input id="luifPlaceholder_myPlaceholder_input" ng-model="myPlaceholder" type="text">
				</div>
				<div id="luifPlaceholder_myValue_value_1">{{ myValue | luifPlaceholder : "static placeholder" }}</div>
				<div id="luifPlaceholder_myValue_value_2">{{ myValue | luifPlaceholder : myPlaceholder }}</div>
			</div>
		</article>

		<article id="luifDefaultCode">
			<h2 class="lui divider below">luifDefaultCode</h2>
			<div ng-controller="luifDefaultCodeCtrl" class="lui block round">
				<div class="lui long input">
					<input id="luifDefaultCode_myValue_input" ng-model="myValue" type="text">
				</div>
				<div id="luifDefaultCode_myValue_value">{{ myValue | luifDefaultCode }}</div>
			</div>
		</article>

		<article id="luifNumber">
			<h2 class="lui divider below">luifNumber</h2>
			<div ng-controller="luifNumberCtrl" class="lui block round">
				<div class="lui input">
					<input id="luifNumber_myValue_input" ng-model="myValue" type="text">
				</div>
				<div class="lui input">
					<input id="luifNumber_myPrecision_input" ng-model="myPrecision" type="number">
				</div>
				<div id="luifNumber_myValue_value_1" ng-bind-html="myValue | luifNumber : myPrecision "></div>
				<div id="luifNumber_myValue_value_2" ng-bind-html="myValue | luifNumber : myPrecision : 0"></div>
				<div id="luifNumber_myValue_value_3" ng-bind-html="myValue | luifNumber : myPrecision : '-'"></div>
			</div>
		</article>

		<article id="luid-daterange">
			<h2 class="lui divider below">luidDaterange</h2>
			<p>
				We're just testing the js events here, clicking the input shows the popover, clicking agian hides it.
			</p>
			<div ng-controller="luidDaterangeCtrl" class="lui block round">
				<luid-daterange ng-model="myRange" id="luidDaterange_input_1" class="lui long input"></luid-daterange>
				<luid-daterange ng-model="myRange" id="luidDaterange_input_2" close-label="Close" close-action="doClosePopover(22)" class="lui long input"></luid-daterange>
				<div id="luidDaterange_div_2">{{ someStuff }}</div>
			</div>
		</article>

		<article id="luid-user-picker">
			<h2 class="lui divider below">luidUserPicker</h2>
			<div ng-controller="luidUserPickerCtrl" class="lui block round">
				<!-- Without former employees -->
				<div>
					<luid-user-picker id="myUserPicker" ng-model="myUser.selected"></luid-user-picker>
					<div id="myUserPicker_value">{{myUser.selected.firstName}} {{myUser.selected.lastName}}
					</div>
				</div>
				<!-- With former employees -->
				<div>
					<luid-user-picker id="myUserPicker_former_employees" ng-model="myUser.withFormerEmployees" show-former-employees="true"></luid-user-picker>
				</div>
				<!-- With custom info -->
				<div>
					<luid-user-picker id="myUserPicker_custom_info" ng-model="myUser.withCustomInfo" custom-info="customInfo"></luid-user-picker>
					<luid-user-picker id="myUserPicker_custom_info_async" ng-model="myUser.withCustomInfoAsync" custom-info-async="customInfoAsync"></luid-user-picker>
				</div>
				<!-- With 'display-me-first' set to true -->
				<div>
					<luid-user-picker id="myUserPicker_display_me_first" ng-model="myUser.displayMeFirst" display-me-first="true"></luid-user-picker>
				</div>
				<!-- With 'display-all-users' set to true -->
				<div>
					<luid-user-picker id="myUserPicker_display_all_users" ng-model="myUser.displayAllUsers" display-all-users="true"></luid-user-picker>
				</div>
			</div>
		</article>

		<article id="luid-keydown">
			<h2 class="lui divider below">luidKeydown</h2>
			<div ng-controller="luidKeydownCtrl" class="lui block round">
				<!-- Without former employees -->
				<span class="lui input"><input luid-keydown mappings="mappings" id="myKeydown_input"></span>
				<span id="myKeydown_span">{{text}}</span>
			</div>
		</article>

		<article id="luid-day-block">
			<h2 class="lui divider below">luidDayBlock</h2>
			<div ng-controller="luidDayBlockCtrl" class="lui block round">
				<!-- With day name -->
				<luid-day-block id="myDayBlock" show-day="showDay" first-color="firstColor" second-color="secondColor" date="date" />
			</div>
			<div ng-controller="luidDayBlockCtrl" class="lui block round">
				<!-- Without day name -->
				<luid-day-block id="myDayBlockWithout" show-day="false" first-color="firstColor" second-color="secondColor" date="date" />
			</div>
		</article>
	</section>
</body>

</html>