<h2 class="lui divider below">luid-user-picker</h2>
<p>An enhanced version of the original luid-user-picker, based on the luid-select directive.</p>

<div class="lui dashed divider">
	<h4 class="lui underline">Supported arguments</h4>
</div>
<p>
	<ul class="lui unstyled">
		<li><code><b>ng-model</b></code>: the selected user. If you are using the <code>luid-user-picker-multiple</code> directive, the ng-model is an array which contains the selected users.</li>
		<li><code><b>on-select</b></code>: function which will be called when an item is selected (default: nothing)</li>
		<li><code><b>on-remove</b></code>: function which will be called when an item is removed (multi-select or emptying the input) (default: nothing)</li>
		<li><code><b>control-disabled</b></code>: boolean indicating if you want the control to be disabled (default: false)</li>
		<li><code><b>allow-clear</b></code>: boolean indicating if you can clear the current value (default: false)</li>
		<li><code><b>show-former-employees</b></code>: boolean indicating if you want to fetch former employees or not (default: false)</li>
		<li><code><b>homonyms-properties</b></code>: list of properties you want to display in case of homonyms</li>
		<li><code><b>custom-filter</b></code>: function that filters users. For a given user, it returns if he should be kept in the set of results or not. This function should respect the following signature: <code>function(user){ return boolean; }</code></li>
		<li><code><b>app-id</b></code>: the set of results should have access to the application matching this id</li>
		<li><code><b>operations</b></code>: list of operations that the set of results should support for the given application</li>
		<li><code><b>custom-info</b></code>: function that will return the information to display next to each user. It should respect the following signature : <code>function(user) { return string; }</code></li>
		<li><code><b>custom-info-async</b></code>: Same idea than <code>custom-info</code>, except that the information is fetched asynchronously. It has to be a function with the following signature: <code>function(user) { return promise; }</code></li>
		<li><code><b>display-me-first</b></code>: boolean indicating if you want to display the connected user as first result if he belongs to the set of results</li>
		<li><code><b>display-all-users</b></code>: boolean used to force the directive to disable paging and display all the users (default: false)</li>
		<li><code><b>bypass-operations-for</b></code>: list of user ids to display even if they does not have
			access to operations in <code>operations</code> attribute. Warning: if the current user can't see one of the users, it will not be displayed and a 404 error will occur</li>
	</ul>
</p>

<div class="lui dashed divider">
	<h4 class="lui underline">Demo</h4>
</div>
<article class="lui block round">
	<h5>Simple user picker</h5>
	<div class="lui field">
		<span class="lui material input">
			<luid-user-picker ng-if="!!globalConnected"
			ng-model="firstModel.selected"
			homonyms-properties="homonymsProperties"
			show-former-employees="includeFormerEmployees"
			display-me-first="true"
			on-select="onSelectFirstModel()"
			on-remove="onRemoveFirstModel()"
			custom-filter="customFilter"
			custom-info="getCustomInfo"
			custom-info-async="getCustomInfoAsync"
			control-disabled="disableUserPicker"
			app-id="appId"
			operations="operations"
			bypass-operations-for="bypassOperationsFor">
		</luid-user-picker>
		<label>Select a user</label>
	</span>
	</div>
	<div class="lui dashed divider"></div>
		<p>
			<p><code>ng-model:</code></p>
			<p><code>{{ firstModel.selected }}</code></p>
			<button class="lui button" ng-click="clearFirstModel()" ng-disabled="firstModel.selected === undefined">Clear the ng-model</button>
		</p>
		<div class="lui checkbox input">
			<input type="checkbox" name="disable-user-picker" id="disable-user-picker" ng-model="disableUserPicker">
			<label for="disable-user-picker">Disable</label>
		</div>
		<div class="lui checkbox input">
			<input type="checkbox" name="include-former-employees" id="include-former-employees" ng-model="includeFormerEmployees">
			<label for="include-former-employees">Include former employees</label>
		</div>
		<form name="userPickerForm" style="margin-top: 3em;">
			<p>Only display the users who have access to this application and have these permissions :</p>
			<div class="lui input">
				<input type="text" placeholder="App Id" ng-required="true" ng-model="appIdTmp">
			</div>
			<div class="lui input">
				<input type="text" ng-pattern="'((\\d+,)*(\\d+))$'" placeholder="Operations id (separated with ',')" ng-required="true" ng-model="operationsIdTmp">
			</div>
			<input type="submit" class="lui primary button" ng-disabled="!userPickerForm.$valid"
				ng-click="setAppIdAndOperations(appIdTmp,operationsIdTmp)">
			<input type="reset" class="lui button"
				ng-click="resetAppIdAndOperations()">
		</form>
	</div>
</article>
<br/><br/>
<article class="lui block round">
	<h5>Multiple user picker</h5>
	<div class="lui fitting field">
		<span class="lui material input">
			<luid-user-picker-multiple ng-if="!!globalConnected"
			ng-model="users.selected">
			</luid-user-picker-multiple>
			<label>Select users</label>
		</span>
	</div>
	<div class="lui dashed divider"></div>
	<p><code>ng-model:</code></p>
	<p><code>{{ users.selected }}</code></p>
</article>
