@use "sass:math";

@mixin lui_points_towards($direction, $color, $size) {
	& {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent;
	}
	@if $direction == top {
		& {
			border-left-width: $size;
			border-right-width: $size;
			border-bottom: math.div($size, 1.25) solid $color;
		}
	} @else if $direction == bottom {
		& {
			border-left-width: $size;
			border-right-width: $size;
			border-top: math.div($size, 1.25) solid $color;
		}
	} @else if $direction == left {
		& {
			border-top-width: $size;
			border-bottom-width: $size;
			border-right: math.div($size, 1.25) solid $color;
		}
	} @else if $direction == right {
		& {
			border-top-width: $size;
			border-bottom-width: $size;
			border-left: math.div($size, 1.25) solid $color;
		}
	} @else {
		@warn "#{$direction} is not a supported triangle direction";
	}
}
