@mixin lui_points_towards($direction, $color, $size) {
	&:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent;
	}
	@if $direction == top {
		&:after {
			border-left-width: $size;
			border-right-width: $size;
			border-bottom: $size solid $color;
		}
	} @else if $direction == bottom {
		&:after {
			border-left-width: $size;
			border-right-width: $size;
			border-top: $size solid $color;
		}
	} @else if $direction == left {
		&:after {
			border-left-width: $size;
			border-right-width: $size;
			border-right: $size solid $color;
		}
	} @else if $direction == right {
		&:after {
			border-left-width: $size;
			border-right-width: $size;
			border-left: $size solid $color;
		}
	} @else {
		@warn "#{$direction} is not a supported triangle direction";
	}
}
