
/**
 * Block
 * A (very) basic but incredibly powerful building block
 * --------------------------------------------------------------------------- */

// Basic behavior
// =====
.lui.block {
    border: @border;
    padding: 1em;

    > .header, .lui.header, > .footer, .lui.footer {
        padding: 1em;
    }

    > .header, .lui.header {
        margin: -1em -1em 0 -1em;
        border-bottom: @border;
    }
    > .footer, .lui.footer {
        margin: 0 -1em -1em -1em;
        border-top: @border;
    }
}

.lui.block.inverted {
    border: @border-inverted;

    > .header, .lui.header, > .footer, .lui.footer {
        border: @border-inverted;
    }
}

.lui.block.raised {
    box-shadow: @raised-shadow;
}
.lui.block.round {
    border-radius: @border-radius;
    > .header, .lui.header {
        border-radius: @border-radius @border-radius 0 0;
    }
    > .footer, .lui.footer {
        border-radius: 0 0 @border-radius @border-radius;
    }
}
