
/**
 * Callout
 * --------------------------------------------------------------------------- */

.lui.callout {
    display: block;
    overflow: hidden;
    // Default style
    .lui.side-border;
    .lui_icon_maker(help);
    .lui_raised();
    margin: @v-margin @h-margin;
    border: 1px solid @lui_colors-grey_light;
    background: @background;
    padding: @v-padding @h-padding @v-padding (@icon-size + (3 * @h-padding));

    &:before {
        position: absolute;
        top: 50%; left: @h-padding;
        .lui_transform(translate(0, -50%));
        font-size: @icon-size;
    }
}

// Colors
// =====
// Default coloring
// Default coloring
.lui.callout {
    .lui_callout_coloring_handler(@fill-bg, @fill-txt);
}
.lui.callout.success {
    .lui_icon_maker(check);
}
.lui.callout.warning {
    .lui_icon_maker(warning);
}
.lui.callout.error {
    .lui_icon_maker(error);
}


/**
 * Filled style
 * --------------------------------------------------------------------------- */

.lui.callout.fill {
}


/**
 * Callouts
 * --------------------------------------------------------------------------- */
.lui.callouts {
    > .lui.callout {
        margin: 0;
    }
}

/**
 * Sideborder
 * --------------------------------------------------------------------------- */

.lui.side-border {
    position: relative;
    box-sizing: border-box;
    &:after {
        position: absolute;
        display: block;
        content: "";
    }

    // Position - defaults to left
    // =====
    &:after {
        top: 0; left: 0;
        width: @border-width;
        height: 100%;
    }

    &.top:after {
        top: 0; left: 0;
        width: 100%;
        height: @border-width;
    }
    &.right:after {
        top: 0; left: auto; right: 0;
        width: @border-width;
        height: 100%;
    }
    &.left:after {
        top: 0; left: 0;
        width: @border-width;
        height: 100%;
    }
    &.bottom:after {
        top: 0; left: 0;
        width: 100%;
        height: @border-width;
    }

    // Colors
    // =====
    &:after {
        background: @lui_colors-grey; // Default is "grey"
    }

    &.primary:after {
        background: @lui_colors-primary;
    }
    &.secondary:after {
        background: @lui_colors-secondary;
    }
    &.yellow:after {
        background: @lui_colors-yellow;
    }
    &.light:after {
        background: @lui_colors-grey_light;
    }
    &.success:after {
        background: @lui_colors-success;
    }
    &.warning:after {
        background: @lui_colors-warning;
    }
    &.error:after {
        background: @lui_colors-error;
    }
}
