
/**
 * Load icon font
 * --------------------------------------------------------------------------- */
@font-face {
  font-family: "lucca-icons";
  src:  url("@{font_path}/@{font_name}.eot");
  src:  url("@{font_path}/@{font_name}.eot?#iefix") format("embedded-opentype"),
        url("@{font_path}/@{font_name}.woff") format("woff"),
        url("@{font_path}/@{font_name}.ttf") format("truetype"),
        url("@{font_path}/@{font_name}.svg#lucca-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
 * Icons
 * --------------------------------------------------------------------------- */

.lui_icon_base() {
    font-family: "lucca-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: none;
    text-transform: none;
    text-align: center;

    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    // Font characters are poorly croped
    &:before {
        display: block;
        margin-top: -1px;
    }
}

i.lui.icon {
    .lui_icon_base();
    display: inline-block;
    vertical-align: middle;
}

[lui-icon] {
    .lui_icon_base();
    display: inline-block;
    &:before {
        content: attr(lui-icon);
    }
}

// Button with only an icon
// =====
.lui.button.icon {
    .lui_icon_base();
}


// Icon classes
// =====

.lui.icon.plus:before {
  content: "a";
}
// Add User
.lui.icon.add-user:before {
  content: "b";
}
// Analytics
.lui.icon.analytics:before {
  content: "c";
}
// Chevron East
.lui.icon.chevron-e:before {
  content: "d";
}
// Chevron North
.lui.icon.chevron-n:before {
  content: "e";
}
// Chevron South
.lui.icon.chevron-s:before {
  content: "f";
}
// Chevron West
.lui.icon.chevron-w:before {
  content: "g";
}
// Attachment
.lui.icon.attachment:before {
  content: "h";
}
// Blocks
.lui.icon.blocks:before {
  content: "i";
}
// Branch
.lui.icon.branch:before {
  content: "j";
}
// Breaktime
.lui.icon.breaktime:before {
  content: "k";
}
// Check
.lui.icon.check:before {
  content: "l";
}
// Checkbox (unchecked)
.lui.icon.checkbox:before,
.lui.icon.checkbox.unchecked:before{
  content: "m";
  cursor: pointer;
}
// Checkbox (checked)
.lui.icon.checkbox.checked:before {
  content: "n";
}
// Clock
.lui.icon.clock:before {
  content: "o";
}
// Close
.lui.icon.close:before {
  content: "p";
}
// Datepicker
.lui.icon.datepicker:before {
  content: "q";
}
// Download
.lui.icon.download:before {
  content: "r";
}
// Edit
.lui.icon.edit:before {
  content: "s";
}
// Edit Frame
.lui.icon.edit-frame:before {
  content: "t";
}
// Edit Mini
.lui.icon.edit-mini:before {
    content: "u";
    font-size: 0.5em;
}
// Ellipsis
.lui.icon.ellipsis:before {
    content: "v";
}
// Error
.lui.icon.error:before {
    content: "w";
}
// Files
.lui.icon.files:before {
    content: "x";
}
// Filter
.lui.icon.filter:before {
    content: "y";
}
// Email
.lui.icon.email:before {
    content: "Z";
}
// Pin
.lui.icon.pin:before {
    content: "A";
}
// Help
.lui.icon.help:before {
    content: "B";
}
// List
.lui.icon.list:before {
    content: "D";
}
// Lock
.lui.icon.lock:before {
    content: "E";
}
// Forbidden
.lui.icon.forbidden:before {
  content: "F";
}
// Minimize
.lui.icon.minimize:before {
  content: "G";
}
// Move
.lui.icon.move:before {
  content: "H";
}
// Move (horizontal)
.lui.icon.move-h:before {
  content: "I";
}
// Move (vertical)
.lui.icon.move-v:before {
  content: "J";
}
// Notification
.lui.icon.notification:before {
  content: "K";
}
// Outside
.lui.icon.outside:before {
  content: "L";
}
// Camera
.lui.icon.camera:before {
  content: "M";
}
// Print
.lui.icon.print:before {
  content: "N";
}
// Refresh
.lui.icon.refresh:before {
  content: "O";
}
// Remove user
.lui.icon.remove-user:before {
  content: "P";
}
// Drag
.lui.icon.drag:before {
  content: "Q";
}
// Search
.lui.icon.search:before {
  content: "R";
}
// Send
.lui.icon.send:before {
  content: "S";
}
// Send to User
.lui.icon.send-to-user:before {
  content: "T";
}
// Settings
.lui.icon.settings:before {
  content: "U";
}
// Comment
.lui.icon.comment:before {
  content: "V";
}
// Timer
.lui.icon.timer:before {
  content: "W";
}
// Trash
.lui.icon.trash:before {
  content: "X";
}
// Unlock
.lui.icon.unlock:before {
  content: "Y";
}
// Upload
.lui.icon.upload:before {
  content: "Z";
}
// User
.lui.icon.user:before {
  content: "0";
}
// Warning
.lui.icon.warning:before {
  content: "1";
}
