
/**
 * Inputs
 * --------------------------------------------------------------------------- */

.lui.input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    display: inline-flex; // modern browsers

    > .addon, > input {
        display: inline-block;
        flex: auto;
    }
}
.lui.input > input {
    display: inline-block;
    vertical-align: middle;
    border-radius: @border-radius;
    border: 1px solid @border-color;
    background: #fff;
    color: @color;
    padding: @v-padding @h-padding;

    &:focus, &:active {
        outline: none;
        border-color: darken(@border-color, 10);
    }
}

// Placeholders
// =====
.lui.input input::-webkit-input-placeholder {
    line-height: 1em;
    color: @placeholder-color;
    font-style: @placeholder-style;
}
.lui.input input::-moz-placeholder {
    line-height: 1em;
    color: @placeholder-color;
    font-style: @placeholder-style;
}
.lui.input input::-ms-input-placeholder {
    line-height: 1em;
    color: @placeholder-color;
    font-style: @placeholder-style;
}

// Icon support
// =====
.lui.input.icon {
    > input {
        padding-left: 2.5em;
    }
    .lui.icon {
        position: absolute;
        z-index: 2;
        top: 0; bottom: 0;
        height: 100%;
        left: 0;
        width: 2.5em;
        margin-right: 0.5em;
        &:before {
            position: absolute;
            top: 50%; left: 0; right: 0;
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
        }
    }
    &.left {
        > input {
            padding-left: 0;
            padding-right: 2.5em;
        }
        .lui.icon {
            left: auto; right: 0;
            margin-right: 0;
            margin-left: 0.5em;
        }
    }
}

// Addons
// =====
.lui.input.has.addon,
.lui.input.has.addons {
    > .lui.addon {
        display: inline-block;
        vertical-align: middle;
        border: 1px solid @border-color;
        padding: @v-padding @h-padding;
        background: @border-color;
    }

    &:not(.right) .lui.addon,
    &.addons .lui.addon:first-child {
        border-radius: @border-radius 0 0 @border-radius;
    }

    &:not(.right) > input {
        border-radius: 0 @border-radius @border-radius 0;
    }

    &.right .lui.addon,
    &.addons .lui.addon:last-child {
        border-radius: 0 @border-radius @border-radius 0;
    }
    &.right > input {
        border-radius: @border-radius 0 0 @border-radius;
    }

    &.addons > input {
        border-radius: 0;
    }
}

// Sizes support
// =====
.lui.input.small {
    font-size: @lui_sizes-small;
}
.lui.input.regular {
    font-size: @lui_sizes-regular;
}
.lui.input.large {
    font-size: @lui_sizes-large;
}
.lui.input.x-large {
    font-size: @lui_sizes-x-large;
}


/**
 * Search input
 * --------------------------------------------------------------------------- */

.lui.input.search {
    .lui_icon_maker(search);

    > input {
        padding-left: 3em;
    }

    &.searching {
    	.lui_loader();
        &:after {
            margin-left: 0;
            left: 1em;
        }
    }

    &:before, &:after {
        display: inline-block;
        position: absolute;
        top: 50%; left: 1em;
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        .user_select_none();
    }
}


/**
 * Checkbox
 * --------------------------------------------------------------------------- */

.lui.input.checkbox {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	height: 1.25em;
	width: 1.25em;
    border: 1px solid @border-color;
    overflow: hidden;

	input, label {
		margin: 0;
	}

	input {
		position: absolute;
		left: 0; top: 0;
		z-index: 4;
		width: 100%;
		height: 100%;
		cursor: pointer;
		opacity: 0;
	}

	label {
		display: block;
        box-sizing: border-box;
		position: relative;
        width: 100%;
        height: 100%;

		.lui_icon_maker(checkbox, left); // Before is unchecked
		.lui_icon_maker(check, right); // After is checked

        &:before, &:after {
			position: absolute;
			top: 50%; left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
			z-index: 2;
			font-size: 1.25em;
			margin: 0;
		}

        &:before {
            color: #FFF;
        }

        &:after {
            font-size: 0.8em;
            z-index: 3;
            color: @lui_colors-primary;
            opacity: 0;
            .lui_transition();
        }
	}

	input:checked ~ label {
        &:after {
            opacity: 1;
        }
	}

	&:hover label:after {
		opacity: 0.5;
	}
}


/**
 * Toggle
 * --------------------------------------------------------------------------- */

.lui.input.switch {
    @width: 4.5em;
    @height: 2.25em;

	display: inline-block;
	vertical-align: middle;
	position: relative;
	height: @height;
	width: @width;

	input {
		position: absolute;
		z-index: 3;
		width: 100%;
		height: 100%;
		cursor: pointer;
		opacity: 0;
		margin: 0;
	}

	label {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		background: @lui_colors-grey;
		color: darken(@lui_colors-grey, 15);
		.lui_transition();
		.lui_icon_maker(check, left);
		.lui_icon_maker(close, right);

		&:before, &:after {
			display: block;
			position: absolute;
			top: 0.5em;
			z-index: 1;
		}

		&:before {
			left: 0.5em;
		}

		&:after {
			right: 0.5em;
		}

		span {
			background: #fff;
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0.5em;
			right: 0;
			height: 1.5em;
			width: 1.5em;
			margin: auto 0;
			z-index: 2;
			.lui_transition();

			&:before {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				content: '';
				display: block;
				height: 50%;
				width: 0.1em;
				background: @lui_colors-grey_light;
				box-shadow: -0.2em 0 0 0 @lui_colors-grey_light, 0.2em 0 0 0 @lui_colors-grey_light;
				margin: auto;
				.lui_transition();
			}
		}
	}

	input:checked ~ label {
		background: @lui_colors-primary;
		color: darken(@lui_colors-primary, 15);
	}

	input:checked ~ label span {
		left: 2.5em;
	}
}
