/**
 * Links
 * --------------------------------------------------------------------------- */

.lui.link {
    color: @lui_link-link_color;
	text-decoration: underline;

	&:hover, &:active,&.active {
		color: @lui_link-link_color_hover;
	}
}
