
/**
 * Button color
 * --------------------------------------------------------------------------- */

.lui.menu {
    display: block;

    ul {
        .lui_unstyled_list();
    }

    a {
        .lui_unstyled_links();
        display: block;
        padding: 1em;
        &:after {
            display: block;
            content: "";
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        &:hover:after {
            background-color: @divider-color;
        }
        &:active:after, &.active:after {
            background-color: @active-border-color;
        }
    }
}

.lui.menu:not(.vertical), .lui.menu.horizontal {
    border-bottom: @divider-width solid @divider-color;

    > ul > li {
        display: inline-block;
        > a {
            padding-bottom: 0;

            &:after {
                height: @active-border-width;
                width: 0;
                margin: 1em auto -@divider-width auto;
                .lui_transition_properties(background-color, width);
            }

            &:hover:after {
                width: 100%;
            }
            &:active:after, &.active:after {
                width: 100%;
            }
        }
    }

    // Alignments
    // =====
    &.align.right {
        text-align: right;
    }

    &.align.center {
        text-align: center;
    }

    // Justified
    // =====
    &.justified {
        text-align: center;
        > ul {
            display: flex;
            justify-content: space-around;
        }
    }
}

.lui.menu.vertical {
    > ul > li > a {
        position: relative;
        &:after {
            position: absolute;
            top: 0;
            width: @active-border-width;
            height: 100%;
            transform: scale(1, 0);
            .lui_transition_properties(background-color, transform);
        }
        &:hover:after, &:active:after, &.active:after {
            transform: scale(1, 1);
        }
    }

    // Left side
    // =====
    &:not(.right) {
        border-right: @divider-width solid @divider-color;

        > ul > li > a {
            &:after {
                left: 0;
                margin: 0 1em 0 -@divider-width;
            }
        }
    }

    // Right side
    // =====
    &.right {
        border-left: @divider-width solid @divider-color;
        > ul > li > a {
            &:after {
                right: 0;
                margin: 0 -@divider-width 0 1em;
            }
        }
    }
}
