
/**
 * Button color
 * --------------------------------------------------------------------------- */

.lui.menu {
    display: block;
    border-color: @divider-color;
    border-style: solid;
    border-width: 0;

    ul {
        .lui_unstyled_list();
    }

    a {
        .lui_unstyled_links();
    }

    > ul > li > a {
        display: block;
        padding: 1em;
        &:after, &:before {
            display: block;
            content: "";
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        &:hover:after, &:hover:before {
            background-color: @divider-color;
        }
        &:active:after, &.active:after,
        &:active:before, &.active:before {
            background-color: @active-border-color;
        }
    }
}

// horizontal
// ====
.lui.menu:not(.vertical), .lui.menu.horizontal {

    > ul > li {
        display: inline-block;
    }

    &:not(.bottom) > ul > li > a:after,
    &.bottom > ul > li > a:before {
        height: @active-border-width;
        width: 0;
        .lui_transition_properties(background-color, width);
    }
    &:not(.bottom) > ul > li > a:hover:after,
    &:not(.bottom) > ul > li > a:active:after,
    &:not(.bottom) > ul > li > a.active:after,
    &.bottom > ul > li > a:hover:before,
    &.bottom > ul > li > a:active:before,
    &.bottom > ul > li > a.active:before {
        width: 100%;
    }

    &:not(.bottom) {
        border-bottom-width: @divider-width;

        > ul > li > a {
            padding-bottom: 0;
            &:after {
                margin: 1em auto -@divider-width auto;
            }
        }
    }

    &.bottom {
        border-top-width: @divider-width;

        > ul > li > a {
            padding-top: 0;
            &:before {
                margin: -@divider-width auto 1em auto;
            }
        }
    }

    // Alignments
    // =====
    &.align.right {
        text-align: right;
    }

    &.align.center {
        text-align: center;
    }

    // Justified
    // =====
    &.justified {
        text-align: center;
        > ul {
            display: flex;
            justify-content: space-around;
        }
    }
}

// vertical
// ====
.lui.menu.vertical {
    > ul > li > a {
        position: relative;
        &:after {
            position: absolute;
            top: 0;
            width: @active-border-width;
            height: 100%;
            transform: scale(1, 0);
            .lui_transition_properties(background-color, transform);
        }
        &:hover:after, &:active:after, &.active:after {
            transform: scale(1, 1);
        }
    }

    // Left side
    // =====
    &:not(.right) {
        border-right: @divider-width solid @divider-color;

        > ul > li > a {
            &:after {
                left: 0;
                margin: 0 1em 0 -@divider-width;
            }
        }
    }

    // Right side
    // =====
    &.right {
        border-left: @divider-width solid @divider-color;
        > ul > li > a {
            &:after {
                right: 0;
                margin: 0 -@divider-width 0 1em;
            }
        }
    }
}

// borderless
// ====
.lui.menu.borderless {
    border-color: transparent;
}
