
<h2 class="lui divider below">Pagination</h2>
<p><a class="lui fancy link" href="https://angular-ui.github.io/bootstrap/#/pagination">github.io page</a></p>

<h4 class="lui center aligned">Default</h4>
<uib-pagination class="lui" boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
<h4 class="lui center aligned">Bordered style</h4>
<uib-pagination class="lui bordered" boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
<h4 class="lui center aligned">Dividing style</h4>
<uib-pagination class="lui dividing" boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
<h4 class="lui center aligned">Bordered top dividing</h4>
<uib-pagination class="lui green bordered top dividing" boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
