<h2>Entering animations</h2>
<div class="lui container syntax">
	<div class="lui column desktop-6">
		<h3>Base syntax</h3>
		<p>To animate an element, add the <code>.lui.animated</code> classes.</p>
		<h3>Animation type</h3>
		<p>There are 3 kinds of entering animations:</p>
		<ul class="squared">
			<li><code>.fade.in</code></li>
			<li><code>.slide.in</code></li>
			<li><code>.scale.in</code></li>
		</ul>
		You can also specify the direction of the animation:</li>
		<ul class="squared">
			<li><code>.up</code></li>
			<li><code>.down</code></li>
			<li><code>.left</code></li>
			<li><code>.right</code></li>
		</ul>
	</div>
	<div class="lui column desktop-6" id="demoBlock">
		<h3>
			Demo
			<a class="lui link" href="http://plnkr.co/edit/Vy79xAx4D8QieTAyuVcV?p=preview">Edit in Plunker</a>
		</h3>
		<div ng-controller="enterCtrl" class="lui block round fitting container">
			<div class="lui fitting columns">
				<div class="lui spaced column mobile-6">
					Choose a type:<br/>
					<div class="lui buttons">
						<button class="lui button" ng-model="animation" uib-btn-radio="'fade in'">Fade in</button>
						<button class="lui button" ng-model="animation" uib-btn-radio="'slide in'">Slide in</button>
						<button class="lui button" ng-model="animation" uib-btn-radio="'scale in'">Scale in</button>
					</div>

					And a direction:<br/>
					<div class="lui buttons">
						<button class="lui button" ng-model="direction" uib-btn-radio="'up'">Up</button>
						<button class="lui button" ng-model="direction" uib-btn-radio="'down'">Down</button>
						<button class="lui button" ng-model="direction" uib-btn-radio="'left'">Left</button>
						<button class="lui button" ng-model="direction" uib-btn-radio="'right'">Right</button>
					</div>

					<p>Classes added: <code>lui animated {{direction}} {{animation}}</code></p>
					<div class="actions">
						<div class="lui primary button" ng-click="add()">Show me</div>
					</div>
				</div>
				<div class="lui spaced column mobile-6 result">
				Your element will appear this way:<br/>
					<!-- <button ng-repeat="item in array track by $index" class="lui primary button animated" ng-class="direction + ' ' + animation">{{item}}</button> -->
					<button ng-if="showButton" class="lui primary button animated" ng-class="direction + ' ' + animation">Here I am!</button>
				</div>
			</div>
		</div>
		<h3>Usage</h3>
		<textarea readonly id="static-animations"><ANY class="lui animated bounce"></ANY>
<ANY class="lui animated up fade in"></ANY>
<ANY class="lui animated {direction} {animation.type}"></ANY>
		</textarea>
	</div>
</div>