<section id="lui-icon" class="lui typeset fitting container" ng-controller="iconsCtrl">
	<article id="how-to" class="syntax">
		<h2>How to use<a href="guidelines.html#icons">Guidelines Lucca</a></h2>
		<div class="lui container syntax">

			<p class="lui column mobile-12">
				Just append/prepend <span>.lui.{color}.icon.{icon-name}</span> classes to your element: <i class="lui icon image"></i> <br /><br />
				Icons support color but only on <span>&lt;i&gt;&lt;/i&gt;</span> elements. <span>&lt;i class="lui red icon warning"&gt;&lt;/i&gt;</span> will display as: <i class="lui red icon warning"></i><br /><br />
				<b>Important:</b> the words order is important in the icon-name : <span>.lui.icon.arrow.south</span> is not the same that <span>.lui.icon.south.arrow</span>
			</p>
		</div>
	</article>
	<article id="icons-list">
		<h2>List of available icons</h2>
		<div class="lui container syntax">

		<ul class="icon-list lucca-input-group" ng-repeat="list in allIcons">
			<li ng-repeat="item in list" class="lui raised">
				<i class="lui icon {{item}}"></i>
				<p><span>{{item}}</span></p>
			</li>
		</ul>
		<div class="lui container syntax">

	</article>
</section>
