
/**
 * Breadcrumbs
 * --------------------------------------------------------------------------- */

.lui.breadcrumbs {
	.lui_unstyled_list();

	> li {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		padding: 0.5em 0;

		&:after {
			display: inline-block;
			content: "\003e";
			vertical-align: middle;
			margin: 0 0.5em;
		}
		&:last-child:after { content: ""; }

		> a { display: inline-block; }
	}

	// Changes inter-items dividers with slashes rather than the default ">"
	// =====
	&.slashes > li:after { content: "/"; }

	// Divider support
	// ====
	&.divided {
		margin-bottom: 1em;

		> li:last-child:after {
			position: absolute;
			display: block;
			margin: 0;
			bottom: -2px;
			left: 0; right: 0;
			width: 100%;
			border-bottom: 1px solid @dividers-color;
		}
	}
}
