@text-transform: normal;
@min-height: 1em;
@min-width: 3em;
@v-padding: 0.66em;
@h-padding: 1em;
@v-margin: 0.25em;
@h-margin: 0.25em;
@text-shadow: none;
@border-radius: 3px;
@default-background: #FFF;
@default-color: #666;
@default-border: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
