@background: #FFF;
@border-color: #CCC;
@border-width: 5px;

@default-coloring: #CCC;

@v-padding: 1em;
@h-padding: 2em;
@v-margin: 1em;
@h-margin: 0;

@default-coloring-color: #CCC;
@default-coloring-text: #222;
