
/**
 * Default divider
 * --------------------------------------------------------------------------- */

.lui.divider {
	letter-spacing: 0.025em;
	border-width: 0; // reset

	margin: @lui_default_font_size 0;

	&:not([class*="top divider"]) {
		border-bottom: @divider-weight solid @border-color;
	}
	&[class*="top divider"] {
		border-top: @divider-weight solid @border-color;
	}

	&.double {
		border-top: @divider-weight solid @border-color;
	}

	&.dashed {
		border-style: dashed;
	}
	&.dotted {
		border-style: dotted;
	}
}
.lui.divider.inverted {
	border-color: @border-color-inverted;
}


/**
 * Heading divider
 * --------------------------------------------------------------------------- */

 h1.lui.divider,
 h2.lui.divider,
 h3.lui.divider,
 h4.lui.divider,
 h5.lui.divider,
 h6.lui.divider {
	  .lui.divider.heading;
 }
 .lui.divider.heading {
	 padding-bottom: 0.5em;
	 margin: 1em 0;
	 &.spaced {
		 padding: inherit 1em;
	 }
 }

 h1.lui.divider.below,
 h2.lui.divider.below,
 h3.lui.divider.below,
 h4.lui.divider.below,
 h5.lui.divider.below,
 h6.lui.divider.below {
	height: auto;
	border-top-width: 0;
	display: table;
	width: 100%;
	white-space: nowrap;
	line-height: 1em;
	text-align: center;
	padding-bottom: 0.2em;
	border: none;

	&:before, &:after {
		content: "";
		display: table-cell;
		width: 50%;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGhlaWdodD0iMSIgd2lkdGg9IjEwMCUiPg0KICA8bGluZSB4MT0iMCIgeTE9IjAiIHgyPSIxMDAlIiB5Mj0iMCIgc3R5bGU9InN0cm9rZTpyZ2JhKDUwLDUwLDUwLC41KTtzdHJva2Utd2lkdGg6MSIgLz4NCjwvc3ZnPg0K);
		background-repeat: no-repeat;
	}
	&:before {
		margin-right: 0.5em;
		background-position: right 1em top 50%;
	}
	&:after {
		margin-left: 0.5em;
		background-position: left 1em top 50%;
	}

	.lui.icon {
		margin: 0.5em;
	}
}


// Underline
// =====
.lui.divider h1.underline,
.lui.divider h2.underline,
.lui.divider h3.underline,
.lui.divider h4.underline,
.lui.divider h5.underline,
.lui.divider h6.underline {
	display: inline-block;

	border-bottom: @larger-weight solid @border-color;
	padding-bottom: 0.5em;
	margin-bottom: -@divider-weight;
}


/**
 * List divider
 * --------------------------------------------------------------------------- */
ul li.lui.divider,
ol li.lui.divider {
	margin: 0.5em 0;
	padding: 0.5em 0;
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 600;
}


 /**
  * Horizontal divider
  * --------------------------------------------------------------------------- */

.lui.horizontal.divider {

}
