
/**
 * Load icon font
 * --------------------------------------------------------------------------- */
@font-face {
  font-family: "@{iconFontName}";
  src:  url("@{iconFontPath}/@{iconFontName}.eot");
  src:  url("@{iconFontPath}/@{iconFontName}.eot?#iefix") format("embedded-opentype"),
        url("@{iconFontPath}/@{iconFontName}.woff") format("woff"),
        url("@{iconFontPath}/@{iconFontName}.ttf") format("truetype"),
        url("@{iconFontPath}/@{iconFontName}.svg#iconFontName") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
 * Sizing support
 * --------------------------------------------------------------------------- */

.lui.icon {
    .lui_supports_sizing({
        font-size: @sizeEms;
    });
}


/**
 * Icons
 * --------------------------------------------------------------------------- */

.lui_icon_base() {
    font-family: @iconFontName;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: none;
    text-transform: none;
    text-align: center;

    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    display: inline-block;
    vertical-align: middle;

    // Font characters are poorly cropped...
    &:before {
        display: block;
        margin-top: -1px;
    }
}

i.lui.icon, [lui-icon],
// Button with only an icon
.lui.button.icon,
// Menu item with only an icon
.lui.menu > ul > li > a.icon {
    .lui_icon_base();
}

[lui-icon]:before {
    content: attr(lui-icon);
}

// Loader support
.lui.icon.spinner,
.lui.icon.loader {
    .lui_loader();
}

// Defines icon classes
// =====
.lui_define_icons(@index) when (@index > 0) {

    @iconClass: replace(e(extract(extract(@icons, @index), 1)), " ", ".");
    @iconChar: extract(extract(@icons, @index), 2);

    .lui.icon.@{iconClass}:before { content: @iconChar; }

    .lui_define_icons((@index - 1));
}
.lui_define_icons(length(@icons));
