
@import "inputs/_search";
@import "inputs/_switch";
@import "inputs/_checkbox";

@import "inputs/_ui-select";
@import "inputs/_timespanpicker";
@import "inputs/_momentpicker";

/**
 * Input
 * --------------------------------------------------------------------------- */

.lui.input {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	.display-flex(true);
}

// General styles for inputs
// ====
.lui.input > input,
.lui.input > textarea,
.lui.input > select {
	width: 100%;
	border-radius: @border-radius;
	border: 1px solid @border-color;
	background: @bg;
	color: @color;

	&:focus, &:active {
		outline: 0; outline: none;
		border-color: @focus-border-color;
	}
	.lui_placeholder({
		color: @placeholder-color;
		font-style: @placeholder-style;
	});
}

// Text inputs
// =====
.lui.input > input {
	padding: 0 @h-padding;
	line-height: (1em + 2 * @v-padding);
	display: inline-block;
	.flex();
}
.lui.input > input, .lui.input > textarea { cursor: text; }
.lui.input > select, .lui.input > textarea { padding: @v-padding @h-padding; }


// Fitting size
// =====
.lui.fitting.input { width: 100%; }

// Inputs length (horizontal sizing)
// =====
.lui.input.short, .lui.field.short > input { min-width: 0; width: 8em !important; }
.lui.input.medium, .lui.field.medium > input { min-width: 0; width: 15em !important; }
.lui.input.long, .lui.field.long > input { min-width: 0; width: 20em !important; }
.lui.input.x-long, .lui.field.x-long > input { min-width: 0; width: 25em !important; }

// Icon support
// =====
.lui.input.icon {
	> input { padding-left: 2.5em; }

	.lui.icon {
		position: absolute;
		z-index: 2;
		top: 0; bottom: 0;
		height: 100%;
		left: 0;
		width: 2.5em;
		margin-right: 0.5em;
		&:before {
			position: absolute;
			top: 50%; left: 0; right: 0;
			-ms-transform: translate(0, -50%);
			transform: translate(0, -50%);
		}
	}
	&[class*="left icon"] {
		> input {
			padding-left: 0;
			padding-right: 2.5em;
		}
		.lui.icon {
			left: auto; right: 0;
			margin-right: 0;
			margin-left: 0.5em;
		}
	}
}


// Addons
// =====

// Addon support
// =====
// .lui.input > .addon { &:extend(.lui.input > input); }

.lui.input[class*="with addon"],
.lui.input[class*="with addons"] {
	> .addon {
		position: relative; z-index: 2;
		vertical-align: middle;
		border: 1px solid @border-color;
		padding: 0 @h-padding;
		background: @bg;
		line-height: 1 + 2 * @v-padding;
	}

	> .lui.addon:not([class*="right addon"]),
	&[class*="with addons"] > .lui.addon:first-child {
		margin-right: -1px;
		border-radius: @border-radius 0 0 @border-radius;
		& + input { border-radius: 0 @border-radius @border-radius 0; }
	}

	> .lui[class*="right addon"],
	&[class*="with addons"] .lui.addon:last-child {
		border-radius: 0 @border-radius @border-radius 0;
		margin-left: -@border-radius;
	}

	&[class*="with addons"] > input {
		border-radius: 0 !important;
	}
}

// Addons support coloring
// =====
@coloring-ruleset: {
	background-color: @coloring-color;
	border-color: @coloring-color;
	color: @coloring-text;
	& when (@coloring-lightOnDark = true) { text-shadow: 0 1px 1px darken(@coloring-color, 15); }
};
.lui.input[class*="with addon"] > .addon,
.lui.input[class*="with addons"] > .addon {
	.lui_supports_coloring(@coloring-ruleset);
}


/**
 * Form & field elements
 * --------------------------------------------------------------------------- */
.lui.field { &:extend(.lui.input all); }

.lui.form {

	.lui.field { // Automatic inputs styling
		margin: @field-v-margin 0;
		&:not(.inline) {
			.flex-direction(column);

			> label, > input { display: block; }
		}

		> input[type="checkbox"] { width: auto; }
		input[type="checkbox"] + label { margin-left: 0.5em; }

		> label { font-weight: @field-label-font-weight; }
	}
}


/**
 * Sizing support
 * --------------------------------------------------------------------------- */

.lui.input {
	.lui_supports_sizing({
		font-size: @sizeEms;
	});
}


/**
 * Validation
 * --------------------------------------------------------------------------- */

.lui.input.invalid,
.lui.input.ng-invalid {
	color: @invalid-color;
	> input {
		color: @invalid-color;
		border-color: @invalid-color;
		.lui_placeholder({ color: lighten(@invalid-color, 15); });
	}
}
