
/**
 * Label
 * --------------------------------------------------------------------------- */
.lui.label {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.85em;
	padding: @v-padding @h-padding;
	margin: 0 0.5em;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	border-radius: @border-radius;

	// Icon support
	// ====
	.lui.icon, > i.icon {
		margin-right: 0.25em;
		&[class*="right icon"] {
			margin-right: 0; margin-left: 0.25em;
		}
	}

	// Circular
	// =====
	&.circular {
		display: inline-block;
		border-radius: 1em;
		&.icon:after {
			font-size: .5em;
		}
	}
}


/**
 * Sizing support
 * --------------------------------------------------------------------------- */

.lui.label {
	.lui_supports_sizing({
		font-size: @sizeEms;
	});
}


/**
 * Addons
 * --------------------------------------------------------------------------- */

.lui.label[class*="with addon"],
.lui.label[class*="with addons"] {
	.display-flex(true);
	> .addon {
		display: inline-block;
		vertical-align: top;
		background: rgba(0, 0, 0, 0.2);
		padding: @v-padding @h-padding;
		margin: -@v-padding @h-padding -@v-padding -@h-padding;
		&[class*="right addon"] {
			margin-right: -@h-padding;
			margin-left: @h-padding;
		}
	}
}


/**
 * Headings
 * --------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	.lui.label {
		margin-top: -.15em;
	}
}

.lui.label.pointing {
	&.up {

	}
	&.down {

	}
	&.left {

	}
	&.right {

	}
}


/**
 * Coloring support
 * --------------------------------------------------------------------------- */

 // Coloring ruleset
 // ====
 @coloring-ruleset: {
	background: @coloring-color;

	color: @coloring-text;
	& when (@coloring-lightOnDark = true) {
		text-shadow: 1px 0 1px darken(@coloring-color, 5);
	}
 };

// Default coloring
// ====
.lui.label {
	@coloring-color: @default-background;
	@coloring-text: @default-color;
	@coloring-lightOnDark: false;

	@coloring-ruleset();
}

// Custom coloring support
// ====
.lui.label {
	.lui_supports_coloring(@coloring-ruleset);
}
