
/**
 * Links
 * --------------------------------------------------------------------------- */

a {
	color: @lui_link-link_color;
	&:hover, &:active {
		color: @lui_link-link_color_hover;
	}

	&[ui-sref] {
		cursor: pointer;
	}
}
