@default-coloring-bg: #666;
@default-coloring-txt: #FFF;

@v-margin: 0;
@h-margin: 0;
@v-padding: 0;
@h-padding: 0;

@border-color: rgba(50, 50, 50, 0.2);
@border-color-inverted: rgba(255, 255, 255, 0.2);

@border-width: 1px;

@divider-color: rgba(50, 50, 50, 0.2);
@divider-width: 1px;
@divider-active-border-width: 3px;
@divider-active-color: @lui_colors-primary;

@vertical-item-y-padding: @lui_default_font_size;
@vertical-item-x-padding: @lui_default_font_size;
@vertical-item-y-margin: 0;
@vertical-item-x-margin: 0;

@horizontal-item-y-padding: (0.5 * @lui_default_font_size);
@horizontal-item-x-padding: (0.5 * @lui_default_font_size);
@horizontal-item-y-margin: 0;
@horizontal-item-x-margin: 0;

@tabbed-padding: 0 1em;
@tabbed-bg: #FAFAFA;
@tabbed-active-bg: #FFF;
@tabbed-border-color: rgba(50, 50, 50, 0.2);
@tabbed-active-border-width: 3px;
@tabbed-bottom-height: 5px;

@header-size: '';

@pills-radius: 3px;
