.lui.table {
	display: table;
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	text-align: left;
	margin: 1em 0;
	background-color: @bg;

    > .thead .tr, > .tbody .tr,
    > thead tr, > tbody tr {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    > .thead > .tr > .th, > .tbody > .tr > .td,
    > thead > tr > th, > tbody > tr > td {
        display: table-cell;
        float: none;
        text-align: left;
        vertical-align: top;
        padding: @padding;
        border-top: @border;
    }

    // thead
    // ====
	> .thead, > thead {
		display: table-header-group;
		padding: @padding;
		border: @border;
		border-bottom: none;
    }
    > .thead > .tr > .th, > thead > tr > th {
        font-weight: 600;
        padding-top: 1em;
        padding-bottom: 1em;
        vertical-align: middle;
    }

    // tbody
    // ====
	> .tbody, > tbody {
		display: table-row-group;
		border: @border;
		border-top: none;
		background-color: @bg;
	}

	&.center-align {
        text-align: center;
	}
	&.left-align {
		text-align: left;
	}
	&.right-align {
    	text-align: right;
	}
	&.justified-align {
		text-align: justify;
	}

    // Zebra table
    // ====
	&.zebra {
		> tbody > tr, .tbody > .tr {
			border: none;
			&:nth-child(odd) {
				background-color: @zebra-bg;
			}
		}
	}

    // Verticaly aligned
    // ====
	&.v-aligned {
		vertical-align: middle;

		> tbody > tr > td,
        > .tbody > .tr > .td,
        > thead > tr > th,
        > .thead > .tr > .th {
			vertical-align: middle;
			float: none;
		}
	}
}


/**
 * Coloring support
 * --------------------------------------------------------------------------- */

// Coloring ruleset
// ====
@coloring-ruleset: {
	> .th:first-child,
	> .td:first-child,
	> th:first-child,
	> td:first-child {
		display: table-cell;
	    position: relative;
	    box-sizing: border-box;
	    &:after {
	        visibility: visible !important; // Neutralises possible clearfix
	        position: absolute;
	        z-index: 2;
	        display: block;
	        content: "";
	        top: 0px; bottom: -1px; left: -1px;
	        width: 5px;
	        background: @color;
	        min-height: 100%;
	    }
	}
};

// Coloring
// =====
.lui.table tr,
.lui.table .tr {
	// Define ruleset to be used
	.lui_supports_coloring(@coloring-ruleset);
}
