<div>
	<nav class="lui dividing justified primary menu">
		<a class="lui item" ng-repeat="culture in cultures" ng-class="{ 'active': culture === selectedCulture }"
		   ng-click="selectCulture(culture)" ng-bind-html="culture | uppercase"></a>
	</nav>
	<content>
		<ul class="lui unstyled field container">
			<li class="lui input animated left fade in" ng-repeat="value in values[selectedCulture].values track by $index">
					<input type="text" ng-model="values[selectedCulture].values[$index].value"
						placeholder="{{ values[currentCulture].values[$index].value || ( 'LUID_TRANSLATIONSLIST_INPUT_VALUE' | translate) }}">
					<button class="lui flat button icon cross close" ng-click="deleteValue($index)" ng-if="!!canEdit"></button>
			</li>
		</ul>
		<footer ng-if="!!canEdit">
			<button ng-click="addValue()" ng-hide="canAddValue()" class="lui button wired light animated up fade in" translate="LUID_TRANSLATIONSLIST_ADD_VALUE"></button>
		</footer>
	</content>

</div>
