<h2 class="lui divider below">luis-progress-bar</h2>

<p>
	A service that allow to display a progress bar depending on http get requests.
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Features</h4>
</div>
<p>
	When the progress-bar-service is listening, a progress bar element appears and is loading until all http get requests are finished.
</p>
<p>
	Can specify the parent element on the initialisation.
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Usage</h4>
</div>
<p>
	Add http interceptor in your module config method :
</p>
<p>
	<pre hljs no-escape language="js">angular.module('demo').config(function($httpProvider) {
$httpProvider.interceptors.push("luiHttpInterceptor");
});</pre>
</p>
<p>
	Add progress bar in your module run method :
</p>
<p>
	<pre hljs no-escape language="js">angular.module("myApp").config(fumction(luisConfigProvider){
luisConfigProvider.setConfig({
parentTagIdClass: "demo",
prefix: "lui",
});
});</pre>
</p>
<p>
	Specify when you want to listen http request.
	For example, we can do that each time the ui-router state change :
	<pre hljs no-escape language="js">// with ui-router
$scope.$on("$stateChangeStart", function(event, toState, toParams, fromState, fromParams) => {
luisProgressBar.startListening();
});
// with ngRoute
$scope.$on("$routeChangeStart", function(event, toState, toParams, fromState, fromParams) => {
luisProgressBar.startListening();
});</pre>
</p>
<p>
	You can specify what http methods you want to listen to.
	<pre hljs no-escape language="js">luisProgressBar.startListening(); // will listen to get requests
luisProgressBar.startListening(["POST", "PUT"]); // will only listen to post and put request</pre>
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Demo</h4>
</div>
<div class="lui item">
<!-- 				<a class="lui button primary" href="http://plnkr.co/edit/gaTyMAWNr0Bn2iWqi6OS?p=preview">
		<i class="lui icon search"></i>View in Plunker
	</a> -->
</div>
<div class="lui block round" id="demoProgress">
	<p>
		A progress bar has been added to the page and will reload at a state change.
	</p>
	<p>
		Clicking <button class="lui button" ng-click="fastListen()">this</button> will make the progress bar reappear and load quickly
	</p>
	<p>
		Clicking <button class="lui button" ng-click="slowListen()">this</button> will make the progress bar reappear and load slowly
	</p>
	<p>
		Or click here to change the color of the progress bar <span class="lui buttons"><button ng-repeat="palette in palettes" class="lui button" ng-click="changeColor(palette)" ng-class="{active: palette == currentPalette}">{{palette}}</button></span>
	</p>
</div>
