@if luiTheme(element, field, percentage, enabled) {
	$vars: luiTheme(element, field, percentage);

	luid-percentage {
		display: inline-block;

		input {
			width: map-gets($vars, width) !important;
			text-align: right !important;
		}
	}
}
