@if luiTheme(element, field, percentage, enabled) {
	@at-root #{$namespace} {
		$vars: luiTheme(element, field, percentage);

		luid-percentage {
			display: inline-block;

			input {
				width: map-gets($vars, width) !important;
				text-align: right !important;
			}
		}

		#{$prefix}.natural.form luid-percentage {
			input {
				text-align: center;
			}
		}
	}
}
