$prefix: '' !default;
$namespace: "#{$prefix}.app" !default;
$luccaIcons_icon-base-selector: "#{$prefix}.icon" !default;

#{$namespace} {
	// ===================================
	// ============ GLOBALS ==============
	// ===================================

	@import "globals/sizes";
	@import "globals/colors";
	@import "globals/breakpoints";


	// ===================================
	// =========== UTILITIES =============
	// ===================================

	// IE9 support mixin
	@import "core/utilities/ie9-support";
	// Resets
	@import "core/utilities/flex";
	// Responsive
	@import "core/utilities/responsive";
	// Transition & animations mixins
	@import "core/utilities/transition";
	// Is animated (mixin)
	@import "core/utilities/is-animated";
	// Sizing handler
	@import "core/utilities/supports-sizing";
	// Color handler
	@import "core/utilities/colorschemer";
	// Loader
	@import "core/utilities/loader";


	// Lucca icons
	// ===================================

	@import "elements/icon.variables";
	@import "lucca-icons/src/lucca-icons";

	// We define a mixin alias here for better support
	@mixin lui_make_icon($name, $position: left) {
		@include luccaIcons_make($name, $position);
	}
	.lui.icon { @include lui_supports_sizing(); };


	// ===================================
	// =========== ADJECTIVES ============
	// ===================================

	& {
		// Unstyled
		// ===================================
		@import "adjectives/unstyled.variables";
		@import "core/adjectives/unstyled";
	}

	& {
		// Animated
		// ===================================
		@import "adjectives/animated.variables";
		@import "core/adjectives/animated";
	}

	& {
		// Pointing
		// ===================================
		@import "adjectives/pointing.variables";
		@import "core/adjectives/pointing";
	}

	& {
		// Raised: subtle shadow effect
		// ===================================
		@import "adjectives/raised.variables";
		@import "core/adjectives/raised";
	}

	& {
		// Rounded
		// ===================================
		@import "adjectives/rounded.variables";
		@import "core/adjectives/rounded";
	}

	& {
		// Stuck
		// ===================================
		@import "core/adjectives/stuck";
	}


	// ===================================
	// ============ ELEMENTS =============
	// ===================================

	@at-root {
		// Grid
		// ===================================
		@import "elements/grid.variables";
		@import "core/elements/grid";
	}

	& {
		// Typography
		// ===================================
		@import "elements/typography.variables";
		@import "core/elements/typography";
	}

	& {
		// Input
		// ===================================
		@import "elements/input.variables";
		@import "core/elements/input";
	}

	& {
		// Button
		// ===================================
		@import "elements/button.variables";
		@import "core/elements/button";
	}

	& {
		// Divider
		// ===================================
		@import "elements/divider.variables";
		@import "core/elements/divider";
	}

	& {
		// Table
		// ===================================
		@import "elements/table.variables";
		@import "core/elements/table";
	}

	& {
		// Menu
		// ===================================
		@import "elements/menu.variables";
		@import "core/elements/menu";
	}

	& {
		// Breadcrumbs
		// ===================================
		@import "elements/breadcrumbs.variables";
		@import "core/elements/breadcrumbs";
	}

	& {
		// label
		// ===================================
		@import "elements/label.variables";
		@import "core/elements/label";
	}

	& {
		// Callout
		// ===================================
		@import "elements/callout.variables";
		@import "core/elements/callout";
	}

	& {
		// Block (@TODO: under construction)
		// ===================================
		@import "elements/block.variables";
		@import "core/elements/block";
	}

	& {
		// Overlay
		// ===================================
		@import "elements/overlay.variables";
		@import "core/elements/overlay";
	}


	// ===================================
	// ============= PLUGINS =============
	// ===================================

	& {
		// Nguibs - Angular UI bootstrap reskin project
		// ===================================
		@import "plugins/angular-ui-bootstrap-reskin/plugin";
	}
}
