$enabled: true;

$background: #FFF;
$border-color: #CCC;
$border-width: 5px;

$v-padding: 1em;
$h-padding: 2em;
$v-margin: 1em;
$h-margin: 0;

$default-coloring: (color: #CCC, text: #222, lod: false);
