/**
 * Grid
 * --------------------------------------------------------------------------- */

body, html {
    width: 100%; height: 100%;
}

// Basic elements
// =====
.lui.container {
    margin: 0  @container-space-around;
    padding: 0;
    width: @container-width;

    .lui.column {
        float: left;
        box-sizing: border-box;
        width: 100%;
    }

    @media (max-width: @tablet) {
        margin-left: 1em;
        margin-right: 1em;
    }
}

// A fitted container will have no outer margin
.lui.container.fitted {
    margin: 0;
}

// Add gutter
// =====
.lui.container.spaced .lui.column,
.lui.container .lui.column.spaced {
    padding: 0 @gutter;
}
.lui.container.spaced .columns {
    margin: 0 -@gutter;
    .clear();
}

// Grid maker
// =====
.define_grid(@class, @count) when (@count > -1) {
	.lui.container .lui.column.@{class}-@{count} {
		width: @column * @count;
        &.absolute {
            width: ~"calc((@{column} * @{count}) - @{container-space-around}/2)";
        }
	}

    // Offset
    // =====
    .lui.container .lui.column.@{class}-offset-@{count} {
        margin-left: @column * @count;
    }

    // Reordering: Pulling
    // =====
    .lui.container .lui.column.@{class}-pull-@{count} {
        position: relative;
        left: -@column * @count;
    }

    // Reordering: Pushing
    // =====
    .lui.container .lui.column.@{class}-push-@{count} {
        position: relative;
        left: @column * @count;
    }

	.define_grid(@class, @count - 1);
}

.define_grid(mobile, @columns);


@media (min-width: @tablet) {
    .define_grid(tablet, @columns);
}
@media (min-width: @desktop) {
    .define_grid(desktop, @columns);
}
@media (min-width: @large) {
    .define_grid(large, @columns);
}


// Menu Support
// ====
.lui.menu.container {
    padding-left: @container-space-around;
    padding-right: @container-space-around;

    > .item:first-child {
        padding-left: 0;
        margin-left: 0;
    }
    > .item:last-child {
        padding-right: 0;
        margin-right: 0;
    }
}
