<div class="luid-cropper">
	<ui-cropper image="image" result-image="cropped" area-type="rectangle" result-image-size="'max'" aspect-ratio="croppingRatio"></ui-cropper>
</div>
<footer class="modal-footer lui right aligned">
	<div class="lui button" ng-click="crop()">{{ 'LUIIMGCROPPER_CROP' | translate }}</div>
	<div class="lui button" ng-click="donotcrop()">{{ 'LUIIMGCROPPER_DO_NOT_CROP' | translate }}</div>
	<div class="lui flat button" ng-click="cancel()">{{ cancelLabel }}</div>
</footer>