<div class="lui image-picker"  ng-class="{ uploading: uploading, 'is-disabled': isDisabled }"
		uib-popover-template="'lui/templates/image-picker/image-picker-popovermenu.html'"
		popover-trigger="'none'"
		popover-is-open="popover.isOpen"
		popover-class="lui luid-image-picker-popup"
		ng-click="togglePopover($event)">
	<div class="luid-image-picker-picture" ng-style="pictureStyle"/>
	<input accept="image/*" type="file" ng-disabled="!!isDisabled" ng-model="file" class="fileInput" file-model="image" luid-image-cropper on-cropped="onCropped" on-cancelled="onCancelled" cropping-disabled="croppingDisabled" cropping-ratio="croppingRatio" onclick="event.stopPropagation()"/>
	<div class="upload-overlay">
		<div class="lui inverted loader"></div>
	</div>
	<div class="input-overlay" ng-class="{'hide-editable': hideEditHint}">
		<div class="overlay-content">
			<i class="lui icon edit"></i>
			<span class="lui capitalized sentence" translate="LUIIMGPICKER_UPLOAD_IMAGE"></span>
		</div>
		<!--  DELETION CASE. CONDITION NEEDS TO BE PUT ELSEWHERE -->
		<!-- <i ng-if="deleteEnabled" class="empty" ng-click="onDelete()"></i> -->
	</div>
</div>
