@if map-get($vars, enabled) {
	%lui_animated_base {
		animation-easing: map-get($vars, animationEasing);
		animation-duration: map-get($vars, animationDuration);
		animation-fill-mode: both;

		-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
		backface-visibility: hidden;

		// resets
		opacity: 1;
	}

	#{$prefix}.animated {
		@extend %lui_animated_base;
	}

	#{$prefix}.infinitely.animated { animation-iteration-count: infinite; }


	// Fading animations
	// ===================================

	// Upsided fade in/out
	@at-root {
		@keyframes fadeInUp {
			from { opacity: 0;  transform: translate3d(0, -(map-get($vars, fadeTranslationDistance)), 0); }
			to { opacity: 1; transform: none; }
		}
	}
	#{$prefix}.animated[class*="up fade in"] { animation-name: fadeInUp; }

	@at-root {
		@keyframes fadeOutUp {
			from { opacity: 1;  transform: none }
			to { opacity: 0; transform: translate3d(0, -(map-get($vars, fadeTranslationDistance)), 0);; }
		}
	}
	#{$prefix}.animated[class*="up fade out"] { animation-name: fadeOutUp; }

	// Downsided fade in/out
	@at-root {
		@keyframes fadeInDown {
			from { opacity: 0;  transform: translate3d(0, map-get($vars, fadeTranslationDistance), 0); }
			to { opacity: 1; transform: none; }
		}
	}
	#{$prefix}.animated[class*="down fade in"] { animation-name: fadeInDown; }

	@at-root {
		@keyframes fadeOutDown {
			from { opacity: 1;  transform: none }
			to { opacity: 0; transform: translate3d(0, map-get($vars, fadeTranslationDistance), 0);; }
		}
	}
	#{$prefix}.animated[class*="down fade out"] { animation-name: fadeOutDown; }

	// Leftsided fade in/out
	@at-root {
		@keyframes fadeInLeft {
			from { opacity: 0;  transform: translate3d(-(map-get($vars, fadeTranslationDistance)), 0, 0); }
			to { opacity: 1; transform: none; }
		}
	}
	#{$prefix}.animated[class*="left fade in"] { animation-name: fadeInLeft; }

	@at-root {
		@keyframes fadeOutLeft {
			from { opacity: 1;  transform: none }
			to { opacity: 0; transform: translate3d(-(map-get($vars, fadeTranslationDistance)), 0, 0);; }
		}
	}
	#{$prefix}.animated[class*="left fade out"] { animation-name: fadeOutLeft; }

	// Rightsided fade in/out
	@at-root {
		@keyframes fadeInRight {
			from { opacity: 0;  transform: translate3d(map-get($vars, fadeTranslationDistance), 0, 0); }
			to { opacity: 1; transform: none; }
		}
	}
	#{$prefix}.animated[class*="right fade in"] { animation-name: fadeInRight; }

	@at-root {
		@keyframes fadeOutRight {
			from { opacity: 1;  transform: none }
			to { opacity: 0; transform: translate3d(map-get($vars, fadeTranslationDistance), 0, 0);; }
		}
	}
	#{$prefix}.animated[class*="right fade out"] { animation-name: fadeOutRight; }


	// Scaling animations
	// ===================================

	 // Down scale
	@at-root {
		@keyframes downScaleIn {
			from { transform: scale((1 - map-get($vars, scaleAnimationRatio) / 100)); opacity: 0; }
			to { transform: scale(1); opacity: 1; }
		}
	}
	#{$prefix}.animated[class*="down scale in"] { animation-name: downScaleIn; }

	@at-root {
		@keyframes downScaleOut {
			from { transform: scale(1); opacity: 1; }
			to { transform: scale((1 - map-get($vars, scaleAnimationRatio) / 100)); opacity: 0; }
		}
	}
	#{$prefix}.animated[class*="down scale out"] { animation-name: downScaleOut; }

	// Up scale
	@at-root {
		@keyframes upScaleIn {
			from { transform: scale((1 + map-get($vars, scaleAnimationRatio) / 100)); opacity: 0; }
			to { transform: scale(1); opacity: 1; }
		}
	}
	#{$prefix}.animated[class*="up scale in"] { animation-name: upScaleIn; }

	@at-root {
		@keyframes upScaleOut {
			from { transform: scale(1); opacity: 1; }
			to { transform: scale((1 + map-get($vars, scaleAnimationRatio) / 100)); opacity: 0; }
		}
	}
	#{$prefix}.animated[class*="up scale out"] { animation-name: upScaleOut; }


	// Sliding animations
	// ===================================

	 // Slide vertical
	@at-root {
		@keyframes slideInVertical {
			from { transform: scale(1, 0); }
			to { transform: scale(1, 1); }
		}
	}
	#{$prefix}.animated[class*="up slide in"] { transform-origin: center top; animation-name: slideInVertical; }
	#{$prefix}.animated[class*="down slide in"] { transform-origin: center bottom; animation-name: slideInVertical; }

	@at-root {
		@keyframes slideOutVertical {
			from { transform: scale(1, 1); }
			to { transform: scale(1, 0); }
		}
	}
	#{$prefix}.animated[class*="up slide out"] { transform-origin: center top; animation-name: slideOutVertical; }
	#{$prefix}.animated[class*="down slide out"] { transform-origin: center bottom; animation-name: slideOutVertical; }

	// Slide horizontal
	@at-root {
		@keyframes slideInHorizontal {
			from { transform: scale(0, 1); }
			to { transform: scale(1, 1); }
		}
	}
	#{$prefix}.animated[class*="left slide in"] { transform-origin: left center; animation-name: slideInHorizontal; }
	#{$prefix}.animated[class*="right slide in"] { transform-origin: right center; animation-name: slideInHorizontal; }

	@at-root {
		@keyframes slideOutHorizontal {
			from { transform: scale(1, 1); }
			to { transform: scale(0, 1); }
		}
	}
	#{$prefix}.animated[class*="left slide out"] { transform-origin: left center; animation-name: slideOutHorizontal; }
	#{$prefix}.animated[class*="right slide out"] { transform-origin: right center; animation-name: slideOutHorizontal; }


	// Static animations
	// ===================================

	@at-root {
		@keyframes bounce {
			0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
			40% { transform: translateY(-(map-get($vars, bounceDistance)));	}
			60% { transform: translateY(-(map-get($vars, bounceDistance) / 2)); }
		}
	}
	#{$prefix}.animated[class*="bounce"] { animation-name: bounce; }

	@at-root {
		@keyframes pulse {
			0% { transform: scale(1); opacity: 1; }
			50% { transform: scale(0.85); opacity: 0.75; }
			100% { transform: scale(1); opacity: 1; }
		}
	}
	#{$prefix}.animated[class*="pulse"] { animation-name: pulse; }

	@at-root {
		@keyframes spin {
			from {transform: rotate(0deg);}
			to {transform: rotate(360deg);}
		}
	}
	#{$prefix}.animated[class*="spin"] { animation-name: spin; }
}
