#{$prefix}.pointing:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
}
#{$prefix}[class*="top pointing"]:after,
#{$prefix}[class*="bottom pointing"]:after {
	border-left-width: _result($vars, triangle width);
	border-right-width: _result($vars, triangle width);
}
#{$prefix}[class*="top pointing"]:after {
	border-bottom: _result($vars, triangle width) solid _result($vars, triangle color);
}
#{$prefix}[class*="bottom pointing"]:after {
	border-top: _result($vars, triangle width) solid _result($vars, triangle color);
}
#{$prefix}[class*="left pointing"]:after,
#{$prefix}[class*="right pointing"]:after {
	border-top-width: _result($vars, triangle width);
	border-bottom-width: _result($vars, triangle width);
}
#{$prefix}[class*="left pointing"]:after {
	border-right: _result($vars, triangle width) solid _result($vars, triangle color);
}
#{$prefix}[class*="right pointing"]:after {
	border-left: _result($vars, triangle width) solid _result($vars, triangle color);
}
