@if map-get($vars, enabled) {

	$regular-shadow: unquote(map-gets($vars, default, box-shadow));
	$high-shadow: unquote(map-gets($vars, high, box-shadow));

	@at-root {
		%#{$cleanNamespace}-raised {
			box-shadow: $regular-shadow;
			&.high { box-shadow: $high-shadow; }
		}
	}

	#{$prefix}.raised { box-shadow: $regular-shadow }
	#{$prefix}.high.raised { box-shadow: $high-shadow }
}
