@mixin lui_rounded {
	@if luiTheme(adjective, rounded, enabled) {
		$vars: luiTheme(adjective, rounded);
		border-radius: map-get($vars, radius);
		background-clip: padding-box;
	}
}

@at-root #{$namespace} {
	#{$prefix}.rounded {
		@include lui_rounded;
	}
}
