@if luiTheme(adjective, rounded, enabled) {
	@at-root #{$namespace} {
		$vars: luiTheme(adjective, rounded);

		#{$prefix}.rounded {
			border-radius: map-get($vars, radius);
			background-clip: padding-box;
		}
	}
}
