@mixin lui_user_select_none() {
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

@if (luiTheme(adjective, unstyled, enabled)) {
	%lui_user_select_none {
		@include lui_user_select_none();
	}
	%lui_unstyled_list {
		list-style: none; padding: 0; margin: 0;
	}
	%lui_unstyled_button {
		cursor: pointer;
		border: none;
		text-decoration: none;
		font-style: normal;
		line-height: 1;
		font-weight: normal;
		background-color: transparent;
		border-radius: 0;
		@extend %lui_user_select_none;
	}
	%lui_unstyled_link {
		text-decoration: none;
	}

	// Lists
	// ====
	ul#{$prefix}.unstyled,
	ol#{$prefix}.unstyled {
		@extend %lui_unstyled_list;
	}

	// Links
	// ====
	a#{$prefix}.unstyled {
		@extend %lui_unstyled_link;
	}

	// Buttons
	// =====
	button#{$prefix}.unstyled {
		@extend %lui_unstyled_button;
	}
}
