<h2 class="lui divider below">luid-timespan</h2>

<p>
	An input that display and edit a timespan in a user friendly manner but has a model value more easily usable by the js code.
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Features</h4>
</div>
<p>
	It is editable using a regex as pattern recognition to know if the inputed text is parsable into some kind of duration. If
	the pattern is invalid the binded value will be set to <code>undefined</code>. This allows the luid-timespan to be
	compatible with <code>required</code> and <code>ng-required</code>.
</p>
<p>
	Upon pressing enter or losing focus of the input, it will format the input into a more readable form. For example you enter
	<code>140</code> and press enter, the text will change to <code>02h20</code>
</p>
<p>
	Supports up and down key events and scroll event to increment/decrement the value the value.
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Supported arguments:</h4>
</div>
<p>
	<ul class="lui unstyled">
		<li><code>ng-model</code> : the variable to bind to</li>
		<li><code>ng-change</code> : events to launch when the value is updated</li>
		<li><code>ng-disabled</code> : enable or disable the input</li>
		<li><code>unit</code> : 'hour' or 'minute', tells the directive that typing 10 in the input means 10 minutes or 10 hours.
			The default is 'minute'</li>
		<li><code>step</code> : when scrolling or pressing the up/down key, how many minutes you want to be added. The default is
			5.
		</li>
		<li><code>placeholder</code> : placeholder to display when the input is empty.</li>
		<li><code>mode</code> : to tell if you want the directive to give you a timespan or a <a href="http://momentjs.com/docs/#/durations/"
			class="lui fancy link">moment.duration</a>. Supported values: <code>timespan</code> (default) and <code>moment.duration</code></li>
	</ul>
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Usage</h4>
</div>
<p>
	<pre hljs no-escape language="html">&lt;luid-timespan ng-model="myValue"&gt;&lt;/luid-timespan&gt;</pre>
</p>
<div class="lui bottom dashed divider menu" id="demoBlock">
	<div class="lui header vertical menu">
		<h4 class="lui underline">Demo</h4>
	</div>
	<div class="lui right item">
		<a class="lui button primary" href="http://plnkr.co/edit/WXRZpjrtrErekQFV4Oyx?p=preview">
			<i class="lui icon edit"></i>Edit in Plunker
		</a>
	</div>
</div>
<div class="lui block round">
	<form name="myForm">
		<p>
			myValue in luid-timespan (required) :
			<luid-timespan name="myTimespan" ng-model="myTimespan" ng-change="hasChanged()" placeholder="--m" required></luid-timespan>
			<span class="lui label red" ng-show="myForm.myTimespan.$error.required">the value is required</span>
		</p>
		<p>
			myValue as it is in $scope :
			<span class="lui input">
			<input name="myTextInput" type="text" ng-model="myTimespan">
		</span>
		</p>
		<p>
			Number of time ng-change on the luid-timespan has been called : <code>{{updateCnt}}</code>
		</p>
		<hr>
		<p>
			With <code>mode="moment.duration"</code>
		</p>
		<p>
			<luid-timespan ng-model="myDuration" mode="moment.duration"></luid-timespan>
		</p>
		<p>
			myDuration in the $scope : {{myDuration}} and with a <a href="#/filters#luifDuration" class="lui fancy link">luifDuration</a>						filter : {{myDuration | luifDuration}}
		</p>
		<hr>
		<p>
			myValue2 bounded between "10m" and "11h" :
			<luid-timespan ng-model="myTimespan2" placeholder="--m" min="min" max="max"></luid-timespan>
		</p>
		<p>
			myValue2 as it is in $scope :
			<span class="lui input">
			<input type="text" ng-model="myTimespan2">
		</span>
		</p>
	</form>
</div>