// colorName color textOverColor isLightTextOverDarkBackground
@lui_colors-grey: grey #666 #fff true;
@lui_colors-light: light #ccc #666 false;
@lui_colors-primary: primary #FFC900 #666 false;
@lui_colors-secondary: secondary #f60 #fff true;
@lui_colors-red: red #f60 #fff true;
@lui_colors-orange: orange #f90 #fff true;
@lui_colors-green: green #5cb85c #fff true;
@lui_colors-yellow: yellow #FFC900 #666 false;

@lui_colors:
	@lui_colors-grey,
	@lui_colors-light,
	@lui_colors-primary,
	@lui_colors-secondary,
	@lui_colors-red,
	@lui_colors-orange,
	@lui_colors-green,
	@lui_colors-yellow;
