@at-root #{$namespace} {

	@if luiTheme(element, field, image-picker, enabled) {
		@if lui_input_style_enabled("material") {
			$selector: lui_input_get_style_selector("material");
			$vars: luiTheme(element, field, image-picker);

			#{$prefix}.input#{$selector} luid-image-picker,
			luid-image-picker#{$selector} {
				.luid-image-picker-picture {
					background-position: map-gets($vars, background-position);
					background-repeat: map-gets($vars, background-repeat);
					background-size: map-gets($vars, background-size);
				}

				.input-overlay,
				.upload-overlay {
					height: 0;
					background-color: map-gets($vars, overlay, bg-color);
				}

				.input-overlay {
					> span {
						padding: map-gets($vars, overlay, padding);
					}
				}

				.upload-overlay .loader{
					font-size: map-gets($vars, material, loader-size);
				}

				&:hover {
					.input-overlay {
						height: map-gets($vars, overlay, height);
					}
				}
			}

			// In a field
			// ====
			#{$prefix}.field {
				#{$prefix}.input#{$selector} luid-image-picker,
				luid-image-picker#{$selector} {
					height: map-gets($vars, size) !important;
				}

				#{$prefix}.input#{$selector} luid-image-picker + label,
				luid-image-picker#{$selector} + label {
					@extend %lui_input_label_displaced;
				}
			}
		}
	}
}
