<h2>Pagination<span><a class="lui link" href="https://angular-ui.github.io/bootstrap/#/pagination">See documentation for Bootstrap's pagination</a></span></h2>
<div class="lui container syntax" ng-controller="paginationCtrl">
	<div class="lui column desktop-3">
		<h3>Default</h3>
		<uib-pagination class="lui" boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
	</div>
	<div class="lui column desktop-3">
		<h3>Bordered style</h3>
		<uib-pagination class="lui bordered" boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
	</div>
	<div class="lui column desktop-3">
		<h3>Dividing style</h3>
		<uib-pagination class="lui dividing" boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
	</div>
	<div class="lui column desktop-3">
		<h3>Bordered top dividing</h3>
		<uib-pagination class="lui green bordered top dividing" boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
	</div>
</div>