
<h2 class="lui divider below">luid-translations</h2>

<p>
	An input that display and edit a text available in different languages
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Features</h4>
</div>
<p>
	As with the other directives, it inherits from the ng-model controller and as such can be integrated to forms like any other input.
</p>
<p>
	Supports 2 modes :
	<ul class="lui unstyled">
		<li><code>dictionary</code> default mode, the ng-model will have this form <code>{"en": "some stuff", "fr": "des bidules"}</code></li>
		<li><code>|</code> or <code>pipe</code> the ng-model will be a string looking like this <code>"en:some stuff|fr:des bidules"</code></li>
		<!-- <li><code>[]</code> the ng-model will be a string looking like this <code>"[en][some stuff][fr][des bidules]"</code></li> -->
	</ul>
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Supported arguments</h4>
</div>
<p>
	<ul class="lui unstyled">
		<li><code>ng-model</code>: the variable to bind to</li>
		<li><code>ng-change</code>: events to launch when the value is updated</li>
		<li><code>mode</code>: "dictionary", "|" (or "pipe"), "lucca" (for proprietary format)</li>
	</ul>
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Usage:</h4>
</div>
<p>
	<pre hljs no-escape language="html">&lt;luid-translations ng-model="myTrads"&gt;&lt;/luid-translations&gt;
&lt;luid-translations ng-model="myTrads" mode="|" ng-change="changed()" size="x-long"&gt;&lt;/luid-translations&gt;</pre>
</p>
<div class="lui bottom dashed divider menu" id="demoBlock">
	<div class="lui header vertical menu">
		<h4 class="lui underline">Demo</h4>
	</div>
</div>
<div class="lui block round">
	<h5>Mode dictionary</h5>
	<p>
		<luid-translations class="lui compact" ng-model="myTrads" ng-change="changed()"></luid-translations>
	</p>
	<p>
		myTrads: <code>{{myTrads}}</code>
	</p>
	<hr>
	<h5>Mode pipe</h5>
	<p>
		<luid-translations class="lui compact" ng-model="myTradsPipe" mode="|" size="x-long" ng-change="changed()"></luid-translations>
	</p>
	<p>
		myTradsPipe : <code>{{myTradsPipe}}</code>
	</p>
	<hr>
	<h5>Mode Lucca (with ng-required=true and compact style)</h5>
	<div class="lui columns">
		<div class="lui column desktop-6">
			<div class="lui compact input switch">
				<input type="checkbox" ng-true-value="false" ng-false-value="true" ng-model="translationDisabled" tooltip-class="lui" tooltip-placement="top" uib-tooltip="{{ listDisabled2 ? 'Disabled' : 'Enabled' }}">
				<label for="translationDisabled"><span></span></label>
			</div>
			<br>
			<br>
			<form name="translationform">
				<div class="lui field">
					<div class="lui input compact">
						<luid-translations ng-model="requiredModel" ng-disabled="translationDisabled" ng-required="true" mode="lucca" ng-change="changed()" name="requiredtranslation"></luid-translations>
					</div>
					<div class="messages">
						<small class="lui error message" ng-show="translationform.requiredtranslation.$touched && translationform.requiredtranslation.$error.required">
							This field is required
						</small>
					</div>
				</div>
			</form>
		</div>
		<div class="lui column desktop-6">
			<p><code>$error.required = {{!!translationform.requiredtranslation.$error.required ? translationform.requiredtranslation.$error.required : "undefined"}}</code></p>
			<p><code>$valid = {{translationform.requiredtranslation.$valid}}</code></p>
			<p><code>ng-model = {{requiredModel}}</code></p>
		</div>
	</div>
	<hr>
	<p>
		Number of times <code>ng-change</code> has been called : <code>{{count}}</code>
	</p>
</div>
