
<h2 class="lui divider below">Buttons</h2>

<div class="lui dashed divider">
	<h4 class="lui underline">4 button styles</h4>
</div>

<p>
	Stylize your button by adding the classes <code>lui button</code> to it. There are 5 variations :
	<ul class="lui menu pills spaced">
		<li><button class="lui button">Default</button><code class="code-label">-</code></li>
		<li><button class="lui button flat">Flat</button><code class="code-label">flat</code></li>
		<li><button class="lui button wired primary">Wired</button><code class="code-label">wired</code></li>
		<li><button class="lui button filling primary">Filling</button><code class="code-label">filling</code></li>
		<li><div class="dark inline">
			<button class="lui button inverted">Inverted</button>
		</div><code class="code-label">inverted</code></li>
	</ul>
</p>

<p><pre hljs no-escape language="html">&lt;button class=&quot;lui button&quot;&gt;Default&lt;/button&gt;
&lt;button class=&quot;lui button flat&quot;&gt;Flat&lt;/button&gt;
&lt;button class=&quot;lui button wired primary&quot;&gt;Wired&lt;/button&gt;
&lt;button class=&quot;lui button filling primary&quot;&gt;Filling&lt;/button&gt;
&lt;button class=&quot;lui button inverted&quot;&gt;Inverted&lt;/button&gt;</pre></p>

<div class="lui dashed divider">
	<h4 class="lui underline">Button colors</h4>
</div>

<p>
	Add color to your button by adding a color class to it. There are 8 variations :
	<ul class="lui menu pills spaced">
		<li><button class="lui button primary">Primary</button><code class="code-label">primary</code></li>
		<li><button class="lui button secondary">Secondary</button><code class="code-label">secondary</code></li>
		<li><button class="lui button yellow">Yellow (Lucca's color)</button><code class="code-label">yellow</code></li>
		<li><button class="lui button grey">Grey</button><code class="code-label">grey</code></li>
		<li><button class="lui button light">Light</button><code class="code-label">light</code></li>
		<li><button class="lui button red">Red</button><code class="code-label">red</code></li>
		<li><button class="lui button orange">Orange</button><code class="code-label">orange</code></li>
		<li><button class="lui button green">Green</button><code class="code-label">green</code></li>
	</ul>
</p>

<p><pre hljs no-escape language="html">&lt;button class=&quot;lui button primary&quot;&gt;Primary&lt;/button&gt;
&lt;button class=&quot;lui button secondary&quot;&gt;Secondary&lt;/button&gt;
&lt;button class=&quot;lui button yellow&quot;&gt;Yellow (Lucca's color)&lt;/button&gt;
&lt;button class=&quot;lui button grey&quot;&gt;Grey&lt;/button&gt;
&lt;button class=&quot;lui button light&quot;&gt;Light&lt;/button&gt;
&lt;button class=&quot;lui button red&quot;&gt;Red&lt;/button&gt;
&lt;button class=&quot;lui button orange&quot;&gt;Orange&lt;/button&gt;
&lt;button class=&quot;lui button green&quot;&gt;Green&lt;/button&gt;</pre></p>

<div class="lui dashed divider">
	<h4 class="lui underline">Button sizes</h4>
</div>

<p>
	Your button can take 4 different sizes :
	<ul class="lui menu pills spaced">
		<li><button class="lui button small">Small</button><code class="code-label">small</code></li>
		<li><button class="lui button">Default</button><code class="code-label">-</code></li>
		<li><button class="lui button large">Large</button><code class="code-label">large</code></li>
		<li><button class="lui button x-large">X-large</button><code class="code-label">x-large</code></li>
	</ul>
</p>
<p><pre hljs no-escape language="html">&lt;button class=&quot;lui button small&quot;&gt;Small&lt;/button&gt;
&lt;button class=&quot;lui button&quot;&gt;Default&lt;/button&gt;
&lt;button class=&quot;lui button large&quot;&gt;Large&lt;/button&gt;
&lt;button class=&quot;lui button x-large&quot;&gt;X-large&lt;/button&gt;</pre></p>

<div class="lui dashed divider">
	<h4 class="lui underline">Icon support</h4>
</div>
<h5>Icon in buttons</h5>
<p>You can add icons into your buttons in two ways. Either by adding <code style="color: #d14">icon iconName</code> to the button, replacing the content by the chosen icon.
Or by adding an icon <code><span class="hljs-tag">&lt;i <span class="hljs-attribute">class</span>=<span class="hljs-value">"lui icon iconName"</span>&gt;&lt;/i&gt;</span></code> into the button content.
<br><code>iconName</code> values are from <a href="#/icons">lucca-icons</a></p>
<table style="width: 100%">
	<tbody>
		<tr>
			<td style="width: 100px">Icon only</td>
			<td style="width: 100px">
				<button class="lui button icon add user"></button>
			</td>
			<td>
				<pre hljs no-escape language="html">&lt;button class=&quot;lui button icon iconname&quot;&gt;&lt;/button&gt;</pre>
			</td>
		</tr>
		<tr>
			<td style="width: 100px">Right Icon + text</td>
			<td style="width: 100px">
				<button class="lui button">Add user<i class="lui icon right add user"></i></button>
			</td>
			<td>
				<pre hljs no-escape language="html">&lt;button class=&quot;lui button&quot;&gt;
&#9Button text
&#9&lt;i class=&quot;lui icon right iconname&quot;&gt;&lt;/i&gt;
&lt;/button&gt;</pre>
			</td>
		</tr>
		<tr>
			<td style="width: 100px">Left Icon + text</td>
			<td style="width: 100px">
				<button class="lui button"><i class="lui icon add user"></i>Add user</button>
			</td>
			<td>
				<pre hljs no-escape language="html">&lt;button class=&quot;lui button&quot;&gt;
&#9&lt;i class=&quot;lui icon iconname&quot;&gt;&lt;/i&gt;
&#9Button text
&lt;/button&gt;</pre>
			</td>
		</tr>
	</tbody>
</table>

<h5>Icon addon</h5>
<p>
	Add an icon with a separation to your button by adding <code style="color: #d14">&quot;with addon&quot;</code> to its classes
</p>
<p>
	<table style="width: 100%">
		<tbody>
			<tr>
				<td style="width: 100px">
					<button class="lui button with addon"><i class="lui addon icon send"></i>Send message</button>
				</td>
				<td>
					<pre hljs no-escape language="html">&lt;button class=&quot;lui button with addon&quot;&gt;&lt;i class=&quot;lui addon icon iconname&quot;&gt;&lt;/i&gt;Button text&lt;/button&gt;</pre>
				</td>
			</tr>
		</tbody>
	</table>
</p>

<h5>More examples with icons</h5>
<button class="lui button flat"><i class="lui icon analytics"></i>Flat</button>
<button class="lui button primary"><i class="lui icon lock"></i>Unlock me!</button>
<button class="lui button wired secondary">Take a picture<i class="lui right icon camera"></i></button>
<button class="lui button red disabled"><i class="lui icon forbidden"></i>I'm disabled!</button>
<p><pre hljs no-escape language="html">&lt;button class=&quot;lui button flat&quot;&gt;&lt;i class=&quot;lui icon analytics&quot;&gt;&lt;/i&gt;Flat&lt;/button&gt;
&lt;button class=&quot;lui button primary&quot;&gt;&lt;i class=&quot;lui icon lock&quot;&gt;&lt;/i&gt;Unlock me!&lt;/button&gt;
&lt;button class=&quot;lui button wired secondary&quot;&gt;Take a picture&lt;i class=&quot;lui right icon camera&quot;&gt;&lt;/i&gt;&lt;/button&gt;
&lt;button class=&quot;lui button red disabled&quot;&gt;&lt;i class=&quot;lui icon forbidden&quot;&gt;&lt;/i&gt;I'm disabled!&lt;/button&gt;</pre></p>

<div class="lui dashed divider">
	<h4 class="lui underline">Button status</h4>
</div>
<p>
	You can easily show the status of the action triggered by the button by adding <code style="#d14">status statusName</code> to your button's classes.
	There are 3 statusName :
	<ul class="lui menu pills spaced">
		<li><button class="lui button large status loading">Send</button><code class="code-label">loading</code></li>
		<li><button class="lui button large status ok">Send</button><code class="code-label">ok</code></li>
		<li><button class="lui button large status failure">Send</button><code class="code-label">failure</code></li>
	</ul>
</p>

<h5>Examples</h5>
<button class="lui button large status loading">Send</button>
<button class="lui button large with addon status loading"><i class="lui addon icon send"></i>Send</button>
<button class="lui button large status ok">Send</button>
<button class="lui button large with addon status ok"><i class="lui addon icon send"></i>Send</button>
<button class="lui button large status failure">Send</button>
<button class="lui button large with addon status failure"><i class="lui addon icon send"></i>Send</button>
<p><pre hljs no-escape language="html">&lt;button class=&quot;lui button large status loading&quot;&gt;Send&lt;/button&gt;
&lt;button class=&quot;lui button large with addon status loading&quot;&gt;&lt;i class=&quot;lui addon icon send&quot;&gt;&lt;/i&gt;Send&lt;/button&gt;
&lt;button class=&quot;lui button large status ok&quot;&gt;Send&lt;/button&gt;
&lt;button class=&quot;lui button large with addon status ok&quot;&gt;&lt;i class=&quot;lui addon icon send&quot;&gt;&lt;/i&gt;Send&lt;/button&gt;
&lt;button class=&quot;lui button large status failure&quot;&gt;Send&lt;/button&gt;
&lt;button class=&quot;lui button large with addon status failure&quot;&gt;&lt;i class=&quot;lui addon icon send&quot;&gt;&lt;/i&gt;Send&lt;/button&gt;</pre></p>

<div class="lui dashed divider">
	<h4 class="lui underline">Buttons - button groups!</h4>
</div>
<p>
	Buttons can be groupped into button groups by embedding them into a <code><span class="hljs-tag">&lt;nav <span class="hljs-attribute">class</span>=<span class="hljs-value">"lui buttons"</span>&gt;&lt;/nav&gt;</span></code>.
</p>
<table style="width: 100%">
	<tbody>
		<tr>
			<td style="width: 200px">
				<nav class="lui buttons">
					<button class="lui button">01</button>
					<button class="lui button">02</button>
					<button class="lui button">03</button>
					<button class="lui button">04</button>
				</nav>
			</td>
			<td>
				<pre hljs no-escape language="html">&lt;nav class=&quot;lui buttons&quot;&gt;
&#9&lt;button class=&quot;lui button&quot;&gt;01&lt;/button&gt;
&#9&lt;button class=&quot;lui button&quot;&gt;02&lt;/button&gt;
&#9&lt;button class=&quot;lui button&quot;&gt;03&lt;/button&gt;
&#9&lt;button class=&quot;lui button&quot;&gt;04&lt;/button&gt;
&lt;/nav&gt;</pre>
			</td>
		</tr>
	</tbody>
</table>

<p></p>

<h5>Other examples</h5>
<table style="width: 100%">
	<tbody>
		<tr>
			<td style="width: 200px">
				<nav class="lui buttons">
					<button class="lui button icon add user"></button>
					<button class="lui button icon comment"></button>
					<button class="lui button">Help ?</button>
					<button class="lui button icon refresh"></button>
				</nav>
			</td>
			<td>
				<p><pre hljs no-escape language="html">&lt;nav class=&quot;lui buttons&quot;&gt;
&#9&lt;button class=&quot;lui button icon add user&quot;&gt;&lt;/button&gt;
&#9&lt;button class=&quot;lui button icon comment&quot;&gt;&lt;/button&gt;
&#9&lt;button class=&quot;lui button&quot;&gt;Help ?&lt;/button&gt;
&#9&lt;button class=&quot;lui button icon refresh&quot;&gt;&lt;/button&gt;
&lt;/nav&gt;</pre></p>
			</td>
		</tr>
		<tr>
			<td>
				<nav class="lui buttons dark">
					<button class="lui button wired primary inverted">01</button>
					<button class="lui button wired primary inverted">02</button>
					<button class="lui button wired primary inverted">03</button>
					<button class="lui button wired primary inverted">04</button>
				</nav>
			</td>
			<td>
				<pre hljs no-escape language="html">&lt;nav class=&quot;lui buttons dark&quot;&gt;
&#9&lt;button class=&quot;lui button wired primary inverted&quot;&gt;01&lt;/button&gt;
&#9&lt;button class=&quot;lui button wired primary inverted&quot;&gt;02&lt;/button&gt;
&#9&lt;button class=&quot;lui button wired primary inverted&quot;&gt;03&lt;/button&gt;
&#9&lt;button class=&quot;lui button wired primary inverted&quot;&gt;04&lt;/button&gt;
&lt;/nav&gt;</pre>
			</td>
		</tr>
		<tr>
			<td>
				<nav class="lui vertical buttons">
					<a class="lui button filling primary">These are</a>
					<a class="lui button filling primary">vertical</a>
					<a class="lui button filling primary">buttons</a>
				</nav>
			</td>
			<td>
				<pre hljs no-escape language="html">&lt;nav class=&quot;lui vertical buttons&quot;&gt;
&#9&lt;a class=&quot;lui button filling primary&quot;&gt;These are&lt;/a&gt;
&#9&lt;a class=&quot;lui button filling primary&quot;&gt;vertical&lt;/a&gt;
&#9&lt;a class=&quot;lui button filling primary&quot;&gt;buttons&lt;/a&gt;
&lt;/nav&gt;</pre>
			</td>
		</tr>
	</tbody>
</table>

<p></p>
<!-- <section class="lui column desktop-4 spaced">
	<div class="lui dashed divider">
		<h4 class="lui underline">Try it</h4>
	</div>
	<p ng-class="{dark:inverted}">
		<button class="lui button" ng-class="[color, style, size, status, {inverted:inverted}, {disabled:disabled}]">custom button</button>
		<code>class="lui {{size}} {{color}} {{style}} {{status}} {{inverted?'inverted':''}} {{disabled?'disabled':''}} button"</code>
	</p>
	<p>
		color :
		<span class="lui button" ng-model="color" uib-btn-radio="''">none</span>
		<span class="lui button primary" ng-model="color" uib-btn-radio="'primary'">primary</span>
		<span class="lui button secondary" ng-model="color" uib-btn-radio="'secondary'">secondary</span>
		<span class="lui button grey" ng-model="color" uib-btn-radio="'grey'">grey</span>
		<span class="lui button light" ng-model="color" uib-btn-radio="'light'">light</span>
		<span class="lui button yellow" ng-model="color" uib-btn-radio="'yellow'">yellow</span>
		<span class="lui button green" ng-model="color" uib-btn-radio="'green'">green</span>
		<span class="lui button orange" ng-model="color" uib-btn-radio="'orange'">orange</span>
		<span class="lui button red" ng-model="color" uib-btn-radio="'red'">red</span>
	</p>
	<p>
		style :
		<span class="lui button" ng-model="style" uib-btn-radio="''">default</span>
		<span class="lui button flat" ng-model="style" uib-btn-radio="'flat'">flat</span>
		<span class="lui button wired light" ng-model="style" uib-btn-radio="'wired'">wired</span>
		<span class="lui button filling" ng-model="style" uib-btn-radio="'filling'">filling</span>
	</p>
	<p>
		size :
		<span class="lui button small" ng-model="size" uib-btn-radio="'small'">small</span>
		<span class="lui button" ng-model="size" uib-btn-radio="''">default</span>
		<span class="lui button large" ng-model="size" uib-btn-radio="'large'">large</span>
		<span class="lui button x-large" ng-model="size" uib-btn-radio="'x-large'">x-large</span>
	</p>
	<p>
		status :
		<span class="lui button" ng-model="status" uib-btn-radio="''">none</span>
		<span class="lui button" ng-model="status" uib-btn-radio="'status ok'">ok</span>
		<span class="lui button" ng-model="status" uib-btn-radio="'status failure'">failure</span>
		<span class="lui button" ng-model="status" uib-btn-radio="'status loading'">loading</span>
	</p>
	<p>
		inverted :
		<span class="lui button" ng-model="inverted" uib-btn-checkbox>inverted</span>
	</p>
	<p>
		disabled :
		<span class="lui button" ng-model="disabled" uib-btn-checkbox>disabled</span>
	</p>

</section> -->
