
/**
 * UI select
 * --------------------------------------------------------------------------- */

 @keyframes dropdown {
 	from { transform: scale(1, 0); }
 	to { transform: scale(1, 1); }
 }
@keyframes multiselect {
	from { opacity: 0; transform: scale(0, 0); }
	to { opacity: 1; transform: scale(1, 1); }
}


.lui.ui-select.input {
	min-width: @ui-select-min-width;

	// Displays the arrow icon
	// =====
	.lui_make_icon(south arrow);
	&:before { font-size: 0.6rem; position: absolute; z-index: 4; right: @h-padding; top: 50%; transform: translateY(-50%); }


	.btn, .ui-select-choices { box-sizing: border-box; }
	> .ui-select-match { width: 100%; }

	// Input fields lookalikes
	// =====
	.ui-select-match > .btn,
	> .ui-select-search,
	&.ui-select-multiple > div { &:extend(.lui.input > input all); }

	.btn { cursor: pointer !important; }

	// Dropdown list styling
	// =====
	.ui-select-choices {
		visibility: hidden;

		&:extend(.lui_unstyled_list);
		position: absolute;
		top: 100%; left: 0;
		width: 100%;

		border: 1px solid @focus-border-color;
		background-color: @bg;
	}
	.ui-select-choices-row.active a,
	.ui-select-choices-row-inner:hover { background: #EEE; }
	.ui-select-choices-row-inner {
		text-decoration: none;
		display: block;
		padding: 0.5em @h-padding;
		border-top: 1px solid #EEE;

		> span { vertical-align: middle; }
	}

	// Multiselect mode
	// =====
	&.ui-select-multiple {
		> div { padding: 0 @v-padding !important; }

		input { background: transparent; border: none; &:focus { outline: none; outline: 0; }}

		.ui-select-match { display: inline-block; line-height: 1; }

		.ui-select-match-item {
			display: inline-block;
			vertical-align: middle;
			font-size: 0.9em;
			margin: 0 0.1em;
			padding: 0.1em 0.5em;
			border: 1px solid @border-color;
			border-radius: @border-radius;

			background-color: @bg;

			transform-origin: center center;
			animation-easing: @animation-easing;
			animation-duration: @animation-duration;
			animation-fill-mode: both;
			animation-name: multiselect;

			> span > span { line-height: @ui-select-multiple-close-size; }

			// active state ~ selected
			&.btn-primary { background-color: #EEE; }

			// Close button
			.ui-select-match-close {
				float: right;
				font-size: @ui-select-multiple-close-size;
				font-weight: 600;
			}
		}
		.ui-select-match-item:focus { outline: none; outline: 0; }
	}

	// Dropped state
	// =====
	&.open {
		box-shadow: @shadow;
		.ui-select-match > .btn,
		> .ui-select-search,
		&.ui-select-multiple > div { z-index: 100; }
		.ui-select-choices { z-index: 99; }

		> .ui-select-search,
		&.ui-select-multiple > div {
			border-color: @focus-border-color;
			border-bottom-color: transparent !important;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.ui-select-choices {
			visibility: visible;

			transform-origin: center top;
			animation-easing: @animation-easing;
			animation-duration: @animation-duration;
			animation-fill-mode: both;
			animation-name: dropdown;

			border-top: none;
			box-shadow: @shadow;

			max-height: @ui-select-max-height;
			overflow: auto;
		}
	}

	// Thumbnail support
	// =====
	.ui-select-choices-row .thumbnail {
		width: @ui-select-thumb-size;
		height: @ui-select-thumb-size;
		vertical-align: middle;
		margin-right: 0.5em;
	}

	// Highlighting support
	// =====
	.ui-select-highlight { font-weight: 600; background-color: rgba(50, 50, 50, 0.1);}

	.ui-select-offscreen { clip: rect(0 0 0 0); width: 1px; height: 1px; border: 0; margin: 0; padding: 0; overflow: hidden; position: absolute; outline: 0; left: 0; top: 0; }
}

// Coloring support
// =====
.lui.ui-select.input {
	.lui_supports_coloring({
		.ui-select-choices-row.active a,
		.ui-select-choices-row-inner:hover { background: @coloring-color; border-color: @coloring-color; color: @coloring-text; }
	});
}
