<ui-select multiple
	ng-disabled="controlDisabled"
	search-enabled="true"
	on-select="onSelectedUsersChanged()"
	on-remove="onSelectedUserRemoved()"
	uis-open-close="onOpen(isOpen)">
	<ui-select-match placeholder="{{placeholder}}" allow-clear="true">{{$item.lastName}} {{$item.firstName}}</ui-select-match>
	<ui-select-choices repeat="user in users" refresh="find($select.search)" refresh-delay="0" luid-on-scroll-bottom="loadMore()">
		<div ng-if="user.id === myId" class="selected-first" ng-class="{'dividing': $index === 0}"
			 ng-bind-html="user.lastName + ' ' + user.firstName | luifHighlight : $select.search : user.info : 'LUIDUSERPICKER_ME'">
		</div>
		<div ng-if="user.id !== myId" ng-bind-html="user.lastName + ' ' + user.firstName | luifHighlight : $select.search : user.info"></div>
		<div ng-if="user.hasLeft">
			<small translate translate-values="{dtContractEnd:user.dtContractEnd}">LUIDUSERPICKER_FORMEREMPLOYEE</small>
		</div>
		<div ng-if="user.hasHomonyms" ng-repeat="property in user.additionalProperties">
			<small>
				<i class="lui icon {{property.icon}}"></i>
				<b data-ng-bind-html="property.translationKey | translate"></b>
				<span data-ng-bind-html="property.value"></span>
			</small>
		</div>
	</ui-select-choices>
</ui-select>
