<h2 class="lui divider below">luid-daterange-picker</h2>

<p>
An input allowing to chose a date range. inspired by the one used on the homepage of <a class="lui fancy link" href="https://www.airbnb.com/">airbnb</a>
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Supported arguments:</h4>
</div>
<p>
	<ul class="lui unstyled">
		<li><code>ng-model</code>: the variable to bind to</li>
		<li><code>format</code>: the format of the <code>ng-model</code> variable, <code>moment</code>, <code>date</code> or any format usable by <a class="lui fancy link" href="http://momentjs.com/docs/#/parsing/string-format/">momentjs</a>, default <code>moment</code></li>
		<li><code>start-property</code>: will edit this property as the start, default <code>start</code></li>
		<li><code>end-property</code>: will edit this property as the end, default <code>end</code></li>
		<li><code>exclude-end</code> : if you want the end of the range in your scope to be excluded, default <code>false</code></li>
		<li><code>min</code>: self explainatory</li>
		<li><code>max</code>: self explainatory</li>
		<li><code>custom-class</code>: a function taking in a moment and returnung a string to apply specific classes to some days</li>
		<li><code>display-format</code>: used when the popover is open to display each date in its tag, uses <code>format</code> if you provided any or the format <code>L</code> if you didn't</li>
		<li><code>shortcuts</code>: unused inline, a list of objects <code>{ label: "string", "your-start-property": "your format of date", "your-end-property": "your format of date" }</code> to be displayed under the calendars to easily select a certain daterange</li>
		<li><code>grouped-shortcuts</code>: unused inline, like <code>shortcuts</code> but you want them displayed on several lines for consistency, for example you want on one line <code>yesterday</code>, <code>today</code>, <code>tomorrow</code> and on another <code>last week</code>, <code>this week</code>, <code>next week</code></li>
	</ul>
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Usage</h4>
</div>
<p>
	<pre hljs no-escape language="html">&lt;luid-daterange-picker ng-model="myRange"&gt;&lt;/luid-daterange-picker&gt;
&lt;luid-daterange-picker ng-model="myRange" min="min" max="max" custom-class="disableWeekends"&gt;&lt;/luid-daterange-picker&gt;
&lt;luid-daterange-picker ng-model="myRange" start-property="foo" end-property="bar"&gt;&lt;/luid-daterange-picker&gt;
&lt;luid-daterange-picker ng-model="myRange" min="'2016-05-01'" format="YYYY-MM-DD"&gt;&lt;/luid-daterange-picker&gt;</pre>
</p>
<div class="lui dashed divider">
	<h4 class="lui underline">Demo</h4>
</div>
<div class="lui item">
<!-- 				<a class="lui button primary" href="http://plnkr.co/edit/gaTyMAWNr0Bn2iWqi6OS?p=preview">
		<i class="lui icon search"></i>View in Plunker
	</a> -->
</div>
<div class="lui block round">
	<p>
		basic usage
	</p>
	<p>
		<div class="lui input">
			<luid-daterange-picker ng-model="myDaterange" grouped-shortcuts="groupedShortcuts"></luid-daterange-picker>
			<label for="">Pick a period</label>
		</div>
	</p>
	<p>
		start: <code>{{ myDaterange.start | luifMoment }}</code> - end: <code>{{ myDaterange.end | luifMoment }}</code>
	</p>
	<hr class="lui dashed divider">
	<p>
		with end excluded and weekend disabled
	</p>
	<p>
		<div class="lui input">
			<luid-daterange-picker ng-model="myDaterange2" exclude-end="true" custom-class="disableWeekends" shortcuts="shortcuts"></luid-daterange-picker>
			<label for="">Pick a period</label>
		</div>
	</p>
	<p>
		start: <code>{{ myDaterange2.start | luifMoment }}</code> - end: <code>{{ myDaterange2.end | luifMoment }}</code>
	</p>
	<hr class="lui dashed divider">
	<p>
		with custom start and end properties (foo and bar), an exotic format, a different display format, a min and a max
	</p>
	<p>
		<luid-daterange-picker ng-model="myDaterange3" start-property="foo" end-property="bar" format="YYYYMMDD" display-format="ddd Do MMM" min="'20160520'" max="'20160610'"></luid-daterange-picker>
	</p>
	<p>
		foo: <code>{{ myDaterange3.foo }}</code> - bar: <code>{{ myDaterange3.bar }}</code>
	</p>
</div>
