#{$prefix}.block {
	border: result($vars, border);
	padding: result($vars, vertical padding) result($vars, horizontal padding);

	> .header, #{$prefix}.header,
	> .footer, #{$prefix}.footer {
		padding: result($vars, vertical padding) result($vars, horizontal padding);
	}

	> .header, #{$prefix}.header {
		margin: (-(result($vars, vertical padding))) (-(result($vars, horizontal padding))) 0 (-(result($vars, horizontal padding)));
		border-bottom: result($vars, border);
	}
	> .footer, #{$prefix}.footer {
		margin: 0 -(result($vars, horizontal padding)) -(result($vars, vertical padding)) -(result($vars, horizontal padding));
		border-top: result($vars, border);
	}
}

#{$prefix}.block.inverted {
	border-color: result($vars, border inverted);

	> .header, #{$prefix}.header,
	> .footer, #{$prefix}.footer {
		border-color: result($vars, border inverted);
	}
}

#{$prefix}.block.round {
	border-radius: result($vars, border-radius);
	> .header, #{$prefix}.header {
		border-radius: result($vars, border-radius) result($vars, border-radius) 0 0;
	}
	> .footer, #{$prefix}.footer {
		border-radius: 0 0 result($vars, border-radius) result($vars, border-radius);
	}
}
