%lui_divider_base {
	width: 100%;
	box-sizing: border-box;
	letter-spacing: 0.025em;
	border-width: 0; // reset

	margin: rem(1) 0;
	border-bottom: result($vars, default width) result($vars default style) result($vars, default color);
}

#{$prefix}.divider {
	@extend %lui_divider_base;

	&[class*="top divider"] {
		border-bottom: none;
		border-top: result($vars, default width) result($vars, default style) result($vars, default color);
	}

	&.double {
		border-top: result($vars, default width) result($vars, default style) result($vars, default color);
	}

	&.dashed {
		border-style: dashed;
	}
	&.dotted {
		border-style: dotted;
	}
}
#{$prefix}.divider.inverted {
	border-color: result($vars, inverted color);
}


// Heading divider
// ===================================

h1#{$prefix}.divider,
h2#{$prefix}.divider,
h3#{$prefix}.divider,
h4#{$prefix}.divider,
h5#{$prefix}.divider,
h6#{$prefix}.divider {
	padding-bottom: 0.5em;
	margin: 1em 0;
	&.spaced {
		padding: inherit 1em;
	}
}

h1#{$prefix}.divider.below,
h2#{$prefix}.divider.below,
h3#{$prefix}.divider.below,
h4#{$prefix}.divider.below,
h5#{$prefix}.divider.below,
h6#{$prefix}.divider.below {
	height: auto;
	border-top-width: 0;
	display: table;
	width: 100%;
	white-space: nowrap;
	line-height: 1em;
	text-align: center;
	padding-bottom: 0.2em;
	border: none;

	&:before, &:after {
		content: "";
		display: table-cell;
		width: 50%;
		background-image: url(#{result($vars, image-url)});
		background-repeat: no-repeat;
	}
	&:before {
		margin-right: 0.5em;
		background-position: right 1em top 50%;
	}
	&:after {
		margin-left: 0.5em;
		background-position: left 1em top 50%;
	}

	#{$prefix}.icon {
		margin: 0.5em;
	}
}


// Underline style
#{$prefix}.divider h1.underline,
#{$prefix}.divider h2.underline,
#{$prefix}.divider h3.underline,
#{$prefix}.divider h4.underline,
#{$prefix}.divider h5.underline,
#{$prefix}.divider h6.underline {
	display: inline-block;

	border-bottom: result($vars, fat width) result($vars, fat style) result($vars, fat color);
	padding-bottom: 0.5em;
	margin-bottom: -(result($vars, fat width));
}


// List divider
// ===================================
ul li#{$prefix}.divider,
ol li#{$prefix}.divider {
	margin: 0.5em 0;
	padding: 0.5em 0;
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 600;
}
