@at-root #{$namespace} {

	@if luiTheme(element, imagepicker, enabled) {
		$vars: luiTheme(element, imagepicker);
		luid-image-picker {
			height: 100%;
			> div {
				height: 100%;
				.luid-image-picker-picture {
					text-align: center;
					position: relative;
					width: 100%;
					height: 100%;
					background: map-gets($vars, placeholder-background);
					background-size: cover;
					vertical-align: middle;
					border-image-width: 0;
					.input-overlay {
						// display: none;
						position: absolute;
						left: 0;
						bottom: 0;
						right: 0;
						cursor: pointer;
						height: 0;
						// height: map-gets($vars, overlay, height);
						opacity: map-gets($vars, overlay, opacity);
						background-color: map-gets($vars, overlay, bg-color);
						color: map-gets($vars, overlay, color);
						transition: map-gets($vars, overlay, transition);
						> div {
							position: absolute;
							padding: map-gets($vars, overlay, padding);
						}
						input {
							vertical-align: top;
							font-size: 0;
							height: 100%;
							width: 100%;
							opacity: 0;
							cursor: pointer;
							text-indent: -100%;
						}
					}
					&:hover {
						.input-overlay {
							// display: block;
							height: map-gets($vars, overlay, height);
						}
					}
				}
			}
			&[disabled="disabled"] {
				color: red;
				.input-overlay {
					display: none !important;
				}
			}
		}
		.luid-cropper {
			background: map-gets($vars, cropper, bg-color);
			overflow: hidden;
			height: map-gets($vars, cropper, height);

			// copy pasted from the bower component
			> img-crop {
				width: 100%;
				height: 100%;
				display: block;
				position: relative;
				overflow: hidden;
				canvas {
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					outline: none;
					-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
				}
				.loading {
					width: 100%;
					height: 100%;
					font-size: 16px;
					font-weight: bold;
					display: flex;
					display: -webkit-flex;
					align-items: center;
					-webkit-align-items: center;
					justify-content: center;
					-webkit-justify-content: center;
					color: white;
					background-color: rgba(0, 0, 0, 0.75);
					position: absolute;
				}
			}
		}
	}
}
