@if map-get($vars, enabled) {
	#{$prefix}.checkbox {
		@extend %lui_input_holder_base;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		line-height: 1;

		input, label { margin: 0; }

		input[type="checkbox"] {
			position: absolute;
			left: 0; top: 0;
			z-index: 2;
			width: 100%;
			height: 100%;
			cursor: pointer;
			opacity: 0;
		}

		label {
			color: luiTheme(element, typography, body, color);
			display: block;
			position: relative;
			padding: 0;
			padding-left: map-gets($vars, checkbox, size) + 1em;
			line-height: map-gets($vars, checkbox, size);

			@include lui_make_icon("checkbox");

			&:before, &:after { position: absolute; top: 50%; transform: translateY(-50%); left: 0; display: inline-block; font-size:  map-gets($vars, checkbox, size); color: map-gets($vars, borderColor); }
		}

		input:checked ~ label {
			@include lui_make_icon("checkbox checked");
			&:before { color: map-gets($vars, checkbox, color); }
		}

		& + label {
			margin-left: 1em;
		}
	}

	// Read only state
	// ====
	&.readonly {
		label, input { cursor: default; }
		input { display: none; }
	}

	// Icon version
	// ====
	#{$prefix}.checkbox.icon {
		&[class*="checkbox checked"]:before { color: map-gets($vars, checkbox, color); }

		&:before { font-size: map-gets($vars, checkbox, size); color: map-gets($vars, borderColor); }
	}
	#{$prefix}.checkbox.icon.button {
		padding: 0.25em;
		&:before { margin: auto; }
	}
}
