@if luiTheme(element, field, momentpicker, enabled) {
	@at-root #{$namespace} {
		$vars: luiTheme(element, field, momentpicker);

		@keyframes momentPickerArrowUp {
			0%, 20%, 50%, 80%, 100% {
				transform: translateY(0);
			}
			40% {
				transform: translateY(-0.5em);
			}
			60% {
				transform: translateY(-0.25em);
			}
		}
		@keyframes momentPickerArrowDown {
			0%, 20%, 50%, 80%, 100% {
				transform: translateY(0);
			}
			40% {
				transform: translateY(0.5em);
			}
			60% {
				transform: translateY(0.25em);
			}
		}

		luid-moment {
			display: inline-block;
			max-width:  map-gets($vars, max-width);
			overflow: visible !important; // Buttons

			> .lui.moment.input > input {
				text-align: center;
				width: map-gets($vars, width);
			}

			.mp-button {
				width: luiTheme(element, field, input, font-size) * (map-gets($vars, width) / (map-gets($vars, width) * 0 + 1));
				position: absolute;
				cursor: pointer;

				animation-duration: 500ms;

				&:before {
					font-size: 0.75em;
				}

				&:hover {
					color: luiPalette(primary, color);
					&.top { animation-name: momentPickerArrowUp; }
					&.bottom { animation-name: momentPickerArrowDown; }
				}

				&.top {
					bottom: 100%;
					margin-bottom: -0.25em;
				}
				&.bottom {
					top: 100%;
					margin-top: 0.25em;
				}
				&.left {
					left: 0;
				}
				&.right {
					right: 0;
				}
			}
		}
	}
}
