@if luiTheme(element, field, userpicker, enabled) {
	@at-root #{$namespace} {
		$vars: luiTheme(element, field, userpicker);

		luid-new-user-picker {
			// outline: 1px dashed tomato;

			.ui-select-highlight {
				background: luiPalette(primary, color);
			}

			.selected-first {
				font-weight: 600;
			}
		}

		// luid-user-picker,
		// luid-user-picker-multiple {
		// 	display: block;

		// 	.selected-first {
		// 		font-weight: 600;
		// 	}
		// 	.dividing {
		// 		position: relative;
		// 		&:after {
		// 			display: block;
		// 			content: '';
		// 			position: absolute;
		// 			bottom: -#{luiTheme(element, field, input, vertical-padding)};
		// 			left: -1em;
		// 			right: -1em;
		// 			border-bottom: luiTheme(element, divider, width) solid luiTheme(element, divider, color);
		// 		}
		// 	}
		// }
	}
}
