@if luiTheme(element, field, iban, enabled) {
	@at-root #{$namespace} {

		luid-iban {
			display: inline-block;
			vertical-align: middle;

			// Styling
			// ====
			> input {
				display: inline-block;

				&::-webkit-input-placeholder { @include lui_input_placeholder; }
				&::-moz-placeholder { @include lui_input_placeholder; }
				&-ms-input-placeholder { @include lui_input_placeholder; }
				&:-moz-placeholder { @include lui_input_placeholder; }

				@extend %lui_input_reset;
				@extend %lui_input_sizing;

				&:focus {
					@extend %lui_input_focus;
				}
			}


			// Label support
			& + label {
				@extend %lui_input_label;
				@extend %lui_input_label_displacable;
			}
			&.ng-not-empty ~ label,
			&.ng-open ~ label {
				@extend %lui_input_label_displaced;
			}

			// Invalid style
			&.ng-invalid.ng-touched {
				input {
					@extend %lui_input_invalid_input;
				}
				& ~ label {
					@extend %lui_input_invalid_label;
				}
			}

		}
	}
}
