@if luiTheme(element, input, enabled) {
	@at-root #{$namespace} {
		$vars: luiTheme(element, input);

		#{$prefix}.search.input {
			@include lui_make_icon("search");

			> input { padding-left: map-gets($vars, search, paddingLeft); }

			&.searching {
				@include lui_loader();
				&:after { margin-left: 0; left: 1em; }
			}

			&:before, &:after {
				cursor: text;
				display: inline-block;
				position: absolute;
				top: 50%; left: 1em;
				-ms-transform: translate(0, -50%);
				transform: translate(0, -50%);
				@extend %lui_user_select_none;
			}

			// Tags
			// ====
			&.tagged {
				padding-left: map-gets($vars, search, paddingLeft);
			}

			@include lui_target_IE9 {
				display: table;
				table-layout: auto;
				width: 100% !important;
				> input, > .tags {
					display: table-cell;
				}
				.tags {
					width: 1%;
					white-space:nowrap;
				}
				> input { width: 100%; }
			}
		}
	}
}
