@if luiTheme(element, field, timespanpicker, enabled) {
	@at-root #{$namespace} {
		$vars: luiTheme(element, field, timespanpicker);

		luid-timespan {
			display: inline-block;

			input {
				width: map-gets($vars, width) !important;
			}
		}
	}
}
