.luis-notify {
	@include lui_transition();
	z-index: map-gets($vars, zIndex);
	position: fixed !important;
	width: luiTheme(reference, breakpoints, mobile, break);
	max-width: map-gets($vars, maxWidth);
	left: 50%;
}
