@if theme(elements, notify, enabled) {
	@at-root #{$namespace} {
		$vars: theme(elements, notify);

		.luis-notify {
			@include lui_transition();
			z-index: result($vars, zIndex);
			position: fixed !important;
			width: theme(references, breakpoints, mobile, break);
			max-width: result($vars, maxWidth);
			left: 50%;
			.close {
				box-shadow: none;
				border: 0;
				position: absolute;
				right: 0;
				top: .5em;
			}
		}
	}
}
