@if luiTheme(element, overlay, enabled) {
	@at-root #{$namespace} {
		$vars: luiTheme(element, overlay);

		#{$prefix}.overlay {
			position: fixed;
			top: 0; left: 0;
			height: 100%;
			width: 100%;
			z-index: map-gets($vars, zIndex) !important;
			background-color: map-gets($vars, background);
		}
	}
}
