@if theme(elements, overlay, enabled) {
	@at-root #{$namespace} {
		$vars: theme(elements, overlay);

		#{$prefix}.overlay {
			position: fixed;
			top: 0; left: 0;
			height: 100%;
			width: 100%;
			z-index: result($vars, zIndex);
			background-color: result($vars, background);
		}
	}
}
