@mixin lui_tile_coloring($palette) {
	&:not(.filled) {

	}

	&.filled {

	}
}

@if map-get($vars, enabled) {
	#{$prefix}.tile {
		display: inline-block;
	}

	#{$prefix}.fitting.tile { display: block; }

	// Header
	// =====
	#{$prefix}.tile > .header,
	#{$prefix}.tile > header {

	}

	// Footer
	// ====
	#{$prefix}.tile > .footer,
	#{$prefix}.tile > footer {

	}

	// Hoverable: lift on hover
	// ====
	#{$prefix}.tile.hoverable:hover {
		transition-property: box-shadow;

		&:hover { @include lui_raised(); }
	}

	// Stacked
	// ====
	#{$prefix}.stacked.tile {
		&:after {

		}
	}


	// Coloring
	// ====
	// Default
	#{$prefix}.tile { @include lui_tile_coloring(map-get($vars, defaultPalette)); }
	// Loop through palettes
	@each $color, $props in luiPalettes() {
		#{$prefix}.tile.#{map-get($props, class)} { @include lui_title_coloring($props); }
	}

}
