/**
 * DEFAULT LINKS VARIABLES
 */
@default-link-color: #999;
@default-link-color-hover: #666;

/**
 * DEFAULT BUTTONS VARIABLES
 */
@default-button-border-radius: 3px;

@default-button-text-size: @default-body-text-size;
@default-button-padding-horizontal: @default-button-text-size;

//https://developers.google.com/speed/docs/insights/SizeTapTargetsAppropriately
@default-button-min-height: 36px;
@default-button-min-width: 48px;

@default-button-margin-y: 6px;
@default-button-margin-x: 4px;
@default-button-margin: @default-button-margin-y @default-button-margin-x;

// Removes underline and outline
.reset-links() {
	text-decoration: none;
	outline: none;
	cursor: pointer;
	background: none;

	&:active, &:focus {
		outline: none;
	}
}
.reset-buttons() {
	.reset-links();
	border: none;
}

/**
 * LINKS
 */
a {
	.link;
}

.link {
	color: @default-link-color;
	text-decoration: underline;

	&:hover, &:active {
		color: @default-link-color-hover;
	}
}

/**
 * BUTTON GROUP
 */
.lucca-button-group {
	display: inline-block;
	vertical-align: middle;
	margin: @default-button-margin-y 0;

	& + .lucca-button-group {
		margin-left: 1em;
	}

	&.large {
		.lucca-button, button {
			.lucca-large-button;
		}
	}

	.lucca-button, button {
		.border-radius(0);
		position: relative;
		margin: 0;
		float: left;
		border-left: 1px solid rgba(50, 50, 50, 0.25);
		margin-left: -1px;
		margin-right: -1px;

		&:first-child {
			margin-left: 0;
			.border-radius(0, 0, @default-button-border-radius, @default-button-border-radius);
		}

		&:last-child {
			.border-radius(@default-button-border-radius, @default-button-border-radius, 0, 0);
		}

		&:hover, &.active, &:active {
			z-index: 2;
		}
	}

	&.justified {
		width: 100%;
		display: table;
		table-layout: fixed;

		button, .lucca-button {
			display: table-cell;
			text-align: center;
			float: none;
		}
	}
}

/**
 * BUTTONS
 */
.lucca-button {
	.reset-links();
	.border-radius(@default-button-border-radius);
	position: relative;
	display: inline-block;
	padding: 0 @default-button-padding-horizontal;
	vertical-align: middle;
	font-size: @default-button-text-size;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	margin: @default-button-margin;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	min-height: @default-button-min-height;
	min-width: @default-button-min-width;
	line-height: @default-button-min-height - 2px;
	will-change: box-shadow;
	.transition(box-shadow);
	.white;

	&, &:hover, &:active, &:focus {
		text-decoration: none;
	}

	&:hover {
		.drop-shadow(0px, 1px, 2px, rgba(50, 50, 50, 0.25));
	}

	&:active, &.active {
		.inner-shadow(0px, 2px, 2px, rgba(50, 50, 50, 0.25));
	}


	// ICON SUPPORT
	&.lucca-icon:before {
		display: inline-block;
		text-decoration: none !important;
		margin-left: 0;
		margin-right: 0.5em;
	}

	&.lucca-icon-right:after {
		display: inline-block;
		text-decoration: none !important;
		margin-right: 0;
		margin-left: 0.5em;
	}


	// BUTTON STYLES
	&.disabled {
		pointer-events: none;
		.no-shadow;
		.opacity(0.65);

		&:hover {
			cursor: not-allowed;
		}
	}

	&.flat {
		.lucca-flat-btn;
	}

	&.wire {
		.lucca-wire-btn;
	}

	&.fake {
		.lucca-fake-btn;
	}

	&.large {
		.lucca-large-button;
	}


	// BUTTON COLORS
	&.white {
		.lucca-button-maker(#FFF, @default-link-color, @default-link-color-hover, @color-grey-light);
	}

	&.yellow {
		.lucca-button-maker(@color-lucca, @color-over-lucca);
	}

	&.action, &.primary {
		.lucca-button-maker(@color-primary, @color-over-primary);
	}

	&.secondary {
		.lucca-button-maker(@color-secondary, @color-over-secondary);
	}

	&.grey {
		.lucca-button-maker(@color-grey-light, @color-grey-dark);
	}

	&.error {
		.lucca-button-maker(@color-error, #FFF);
	}

	&.warning {
		.lucca-button-maker(@color-warning, #FFF);
	}

	&.success {
		.lucca-button-maker(@color-success, #FFF);
	}

	&.light {
		.lucca-button-maker(@color-grey-light, darken(@color-grey-light, 25));
	}
}

/**
 * Large button
 */
.lucca-large-button {
	font-size: 1.35em;
	line-height: 3em;
	padding: 0 2em;
}

/**
 * Button color maker
 */
.lucca-button-maker(@bg-color, @text-color, @text-color-hover: @text-color, @border-color: @bg-color) {
	background-color: @bg-color;
	color: @text-color;
	border: 1px solid @border-color;

	&:hover {
		background-color: lighten(@bg-color, 5);
		color: @text-color-hover;
	}

	&:active, &.active {
		background-color: darken(@bg-color, 3);
	}
}


/**
 * Flat button
 */
.lucca-flat-btn {
	background-color: transparent;
	color: @default-link-color;
	text-decoration: underline;
	padding-top: 1px;
	padding-bottom: 1px;
	border: 1px solid transparent;
	will-change: background-color;
	.transition(background-color);

	&:hover {
		background-color: rgba(50, 50, 50, .05);
		border-color: rgba(50, 50, 50, .05);
		.no-shadow;
	}

	&:active {
		.no-shadow;
		background-color: rgba(50, 50, 50, 0.1);
		border-color: rgba(50, 50, 50, .1);
	}

	&.disabled {
		border: 1px solid #ccc;
	}

	&:before, &:after {
		text-decoration: none;
	}
}

/**
 * Lucca wire button
 */
.lucca-wire-btn {
	background-color: transparent;
	border-width: 2px;
	font-weight: bold;
	border-color: #666;
	border-color: rgba(50, 50, 50, .35);
	color: #333;
	color: rgba(50, 50, 50, 0.45);

	&:hover, &:active, &.active {
		.no-shadow;
		color: @color-primary;
		border-color: @color-primary;
	}
}

/**
 * Fake button : has same size than a button but is actually not. Mainly used for alignement purposes
 */
.lucca-fake-btn {
	pointer-events: none;
	.no-shadow;
	cursor: default;
	background-color: transparent;
	border: 1px solid transparent;
	color: @default-body-text-color;

	&:hover, &:active {
		color: @default-body-text-color;
		background-color: transparent;
	}
}


/**
 * Toolbar
*/
.lucca-toolbar {
	.clearfix();
	.section {
		float: left;
		padding: 0.5em 1em;
		border-right: 1px solid rgba(50, 50, 50, 0.15);

		span + .lucca-button-group,
		div + .lucca-button-group,
		.lucca-button-group + span,
		.lucca-button-group + div {
			margin-left: 0.5em;
		}
	}

	@media(max-width: @screen-xs-max) {
		text-align: center;

		.section {
			display: block;
			float: none;
			border-right: none;
			border-bottom: 1px solid rgba(50, 50, 50, 0.15);
		}
	}
}



/*---------------------------------- BOOTSTRAP OVERRIDES ---------------------------------------*/
.btn-primary {
	&, &:active, &:focus, &:hover {
		background-color: @color-primary;
		border-color: @color-primary;
	}
}
.btn-secondary {
	&, &:active, &:focus, &:hover {
		background-color: @color-secondary;
		border-color: @color-secondary;
	}
}