@save-button-success-color: @color-primary;
@save-button-error-color: @color-error;

/**
 * Save button
 * ===
 * List of available states:
 * - 'sending': displays a loading gif
 * - 'success': displays a check icon
 * - 'failure': displays an error icon
 *
 * List of variables:
 * - @save-button-success-color (defaults to @color-primary)
 * - @save-button-error-color (defaults to @color-error)
 * -------------------------------------------------------------------------- */﻿

.save-button {
	// Import default lucca-button properties
	.lucca-button;

	position: relative;
	z-index: 2;
	overflow: hidden;

	&.success {
		.mixin-icon('l'); // check icon
		&:before {
			color: @save-button-success-color;
		}
	}

	&.failure {
		.mixin-icon('p'); // error icon
		&:before {
			color: @save-button-error-color;
		}
	}

	&.sending:before {
		.loading-gif(); // loading gif
	}

	&.sending, &.success, &.failure {
		color: transparent;
		&:before {
			opacity: 1;
			top: 50% !important;
		}
	}

	&:before {
		background-color: #FFF;
		border: 1px solid @color-grey-light;
		.border-radius(50%);
		width: 2em !important;
		height: 2em !important;
		line-height: 2em !important;
		content: "";
		display: block;
		position: absolute !important;
		z-index: 1;
		top: 0 !important;
		left: 50%;
		margin: -1em 0 0 -1em !important;
		opacity: 0;

		.transition();
	}
}
