
@lui-make-icon-base: {
    font-family: @iconFontName;
    display: inline-block;
    vertical-align: middle;
};

.lui_make_icon(@iconName, @iconPosition: left) {
    @import (multiple) "../definitions/_icons";

    .loop_icons(@index) when (@index > 0) {
        @currentIconName: e(extract(extract(@icons, @index), 1));
        @currentIconChar: extract(extract(@icons, @index), 2);

        & when (@currentIconName = @iconName) and (@iconPosition = left) {
            &:before { @lui-make-icon-base(); content: @currentIconChar; }
        }
        & when (@currentIconName = @iconName) and (@iconPosition = right) {
            &:after { @lui-make-icon-base(); content: @currentIconChar; }
        }


        & when not(@currentIconName = @iconName) {
            .loop_icons((@index - 1));
        }
    }

    .loop_icons(length(@icons));
}
