
/**
 * Loader
 * --------------------------------------------------------------------------- */

// Animation frames for infinite rotation
@-o-keyframes spin {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(360deg);}
}
@-moz-keyframes spin {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
    from {-ms-transform: rotate(0deg);}
    to {-ms-transform: rotate(360deg);}
}
@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.lui.loader {
    .lui_loader();
}

.lui_loader(@inverted: false, @size: 1em, @thickness: 2px, @speed: 0.5s) {
    display: inline-block;
    position: relative;

    &:before, &:after {
        box-sizing: border-box;
        display: block;
        content: "";
        width: @size;
        height: @size;
        border-radius: 50%;
        border-width: @thickness;
        border-style: solid;
    }

    &:after {
        position: absolute;
        top: 50%; margin-top: -@size/2; left: 50%; margin-left: -@size/2;

        -webkit-animation-duration: @speed;
        -webkit-animation-timing-function: linear;
        -webkit-animation-name: spin;
        -webkit-animation-iteration-count: infinite;

        -moz-animation-duration: @speed;
        -moz-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-iteration-count: infinite;

        -ms-animation-duration: @speed;
        -ms-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-iteration-count: infinite;

        -o-animation-duration: @speed;
        -o-animation-timing-function: linear;
        -o-animation-name: spin;
        -o-animation-iteration-count: infinite;

        animation-duration: @speed;
        animation-timing-function: linear;
        animation-name: spin;
        animation-iteration-count: infinite;
    }

    & when (@inverted = true) {
        &:before { border-color: rgba(255, 255, 255, 0.25); }
        &:after { border-color: rgba(255, 255, 255, 0.75) transparent transparent transparent; }
    }
    & when (@inverted = false) {
        &:before { border-color: rgba(0, 0, 0, 0.25); }
        &:after { border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent; }
    }
}
