
/**
 * Loader
 * --------------------------------------------------------------------------- */

@lui_ie_fallback_loader: "../../../dist/ie_fallback_spinner.gif";

.lui.loader {
	.lui_loader();
}

.lui_loader(@inverted: false, @size: 1em, @thickness: 2px, @speed: 0.5s) {
	display: inline-block;
	position: relative;

	&:before, &:after {
		box-sizing: border-box;
		display: block;
		content: "";
		width: @size;
		height: @size;
		border-radius: 50%;
		border-width: @thickness;
		border-style: solid;
	}

	&:after {
		position: absolute;
		top: 50%; margin-top: -@size/2; left: 50%; margin-left: -@size/2;
		.lui_is_animated(spin, true);
		animation-timing-function: linear;
	}

	& when (@inverted = true) {
		&:before { border-color: rgba(255, 255, 255, 0.25); }
		&:after { border-color: rgba(255, 255, 255, 0.75) transparent transparent transparent; }
	}
	& when (@inverted = false) {
		&:before { border-color: rgba(0, 0, 0, 0.25); }
		&:after { border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent; }
	}

	// IE9 support
	.ie9 & {
		&:before { border: none; }
		&:after { border: none; margin: 0; background: transparent url("@{lui_ie_fallback_loader}") no-repeat center center; background-size: contain; }
	}
}
