
/**
 * Add breakpoints support to your element!
 * --------------------------------------------------------------------------- */

.lui_supports_breakpoints(@ruleset) when (isruleset(@ruleset)) {
    .loop_breakpoints(@i) when (@i > 0) {
        @breakpoint-name: extract(extract(@lui_breakpoints, @i), 1);
        @breakpoint-breakAt: extract(extract(@lui_breakpoints, @i), 2);
        @breakpoint-spacing: extract(extract(@lui_breakpoints, @i), 3);

        @media (min-width: @breakpoint-breakAt) { @ruleset(); }

        .loop_breakpoints((@i - 1));
    }

    .loop_breakpoints(length(@lui_breakpoints));
}
