
.lui_supports_coloring(@ruleset) {

    .loop_colors(@index) when (@index > 0) and (isruleset(@ruleset)) {
        // Retrieve color scheme
        @coloring-name: extract(extract(@lui_colors, @index), 1);
        @coloring-color: extract(extract(@lui_colors, @index), 2);
        @coloring-text: extract(extract(@lui_colors, @index), 3);
        @coloring-lightOnDark: extract(extract(@lui_colors, @index), 4);

        // Import element's ruleset
        &.@{coloring-name} { @ruleset(); }

        // Loop
        .loop_colors((@index - 1));
    }

    .loop_colors(length(@lui_colors));
}
