// ===================================
// ============ References ===========
// ===================================

// Default color scheme
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/references/palettes.defaults";

	// Theme overrides
	@import "core/references/palettes.overrides";
	$luiTheme: luiSetTheme(reference, palettes, $myTheme);
}


// Sizes
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/references/sizes.defaults";

	// Theme overrides
	@import "core/references/sizes.overrides";
	$luiTheme: luiSetTheme(reference, sizes, $myTheme);
}


// Breakpoints
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/references/breakpoints.defaults";

	// Theme overrides
	@import "core/references/breakpoints.overrides";
	$luiTheme: luiSetTheme(reference, breakpoints, $myTheme);
}



// ===================================
// =========== Adjectives ============
// ===================================

// Unstyled
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/adjectives/unstyled.defaults";

	// Theme overrides
	@import "core/adjectives/unstyled.overrides";
	$luiTheme: luiSetTheme(adjective, unstyled, $myTheme);
}


// Animated
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/adjectives/animated.defaults";

	// Theme overrides
	@import "core/adjectives/animated.overrides";
	$luiTheme: luiSetTheme(adjective, animated, $myTheme);
}


// Pointing
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/adjectives/pointing.defaults";

	// Theme overrides
	@import "core/adjectives/pointing.overrides";
	$luiTheme: luiSetTheme(adjective, pointing, $myTheme);
}


// Raised
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/adjectives/raised.defaults";

	// Theme overrides
	@import "core/adjectives/raised.overrides";
	$luiTheme: luiSetTheme(adjective, raised, $myTheme);
}


// Rounded
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/adjectives/rounded.defaults";

	// Theme overrides
	@import "core/adjectives/rounded.overrides";
	$luiTheme: luiSetTheme(adjective, rounded, $myTheme);
}


// Stuck
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/adjectives/stuck.defaults";

	// Theme overrides
	@import "core/adjectives/stuck.overrides";
	$luiTheme: luiSetTheme(adjective, stuck, $myTheme);
}


// Visible
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/adjectives/visible.defaults";

	// Theme overrides
	@import "core/adjectives/visible.overrides";
	$luiTheme: luiSetTheme(adjective, visible, $myTheme);
}



// ===================================
// ============ Elements =============
// ===================================

// Lucca icons
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/icon.defaults";

	// Theme overrides
	@import "core/elements/icon.overrides";
	$luiTheme: luiSetTheme(element, icon, $myTheme);
}



// Grid
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/grid.defaults";

	// Theme overrides
	@import "core/elements/grid.overrides";
	$luiTheme: luiSetTheme(element, grid, $myTheme);
}


// Divider
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/divider.defaults";

	// Theme overrides
	@import "core/elements/divider.overrides";
	$luiTheme: luiSetTheme(element, divider, $myTheme);
}


// Typography
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/typography.defaults";

	// Theme overrides
	@import "core/elements/typography.overrides";
	$luiTheme: luiSetTheme(element, typography, $myTheme);
}


// Button
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/button.defaults";

	// Theme overrides
	@import "core/elements/button.overrides";
	$luiTheme: luiSetTheme(element, button, $myTheme);
}


// Field
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/field.defaults";

	// Theme overrides
	@import "core/elements/field.overrides";
	$luiTheme: luiSetTheme(element, field, $myTheme);
}



// Table
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/table.defaults";

	// Theme overrides
	@import "core/elements/table.overrides";
	$luiTheme: luiSetTheme(element, table, $myTheme);
}


// Menu
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/menu.defaults";

	// Theme overrides
	@import "core/elements/menu.overrides";
	$luiTheme: luiSetTheme(element, menu, $myTheme);
}


// Breadcrumbs
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/breadcrumbs.defaults";

	// Theme overrides
	@import "core/elements/breadcrumbs.overrides";
	$luiTheme: luiSetTheme(element, breadcrumbs, $myTheme);
}


// label
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/label.defaults";

	// Theme overrides
	@import "core/elements/label.overrides";
	$luiTheme: luiSetTheme(element, label, $myTheme);
}


// Callout
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/callout.defaults";

	// Theme overrides
	@import "core/elements/callout.overrides";
	$luiTheme: luiSetTheme(element, callout, $myTheme);
}


// Block
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/block.defaults";

	// Theme overrides
	@import "core/elements/block.overrides";
	$luiTheme: luiSetTheme(element, block, $myTheme);
}


// Overlay
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/overlay.defaults";

	// Theme overrides
	@import "core/elements/overlay.overrides";
	$luiTheme: luiSetTheme(element, overlay, $myTheme);
}


// Progress
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/progress.defaults";

	// Theme overrides
	@import "core/elements/progress.overrides";
	$luiTheme: luiSetTheme(element, progress, $myTheme);
}


// Day block
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/day-block.defaults";

	// Theme overrides
	@import "core/elements/day-block.overrides";
	$luiTheme: luiSetTheme(element, dayblock, $myTheme);
}

// Table Grid
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/tablegrid.defaults";

	// Theme overrides
	@import "core/elements/tablegrid.overrides";
	$luiTheme: luiSetTheme(element, tablegrid, $myTheme);
}

// Luid-datepicker
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/datepicker.defaults";

	// Theme overrides
	@import "core/elements/datepicker.overrides";
	$luiTheme: luiSetTheme(element, datepicker, $myTheme);
}

// Luid-imagepicker
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/imagepicker.defaults";

	// Theme overrides
	@import "core/elements/imagepicker.overrides";
	$luiTheme: luiSetTheme(element, imagepicker, $myTheme);
}


// notify
// ===================================

@at-root {
	// Defaults
	$myTheme: () !default;
	@import "../../../themes/default/core/elements/notify.defaults";

	// Theme overrides
	@import "core/elements/notify.overrides";
	$luiTheme: luiSetTheme(element, notify, $myTheme);
}
