// ===================================
// ============ References ===========
// ===================================

// Default color scheme
// ===================================

// Defaults
$myPalettes: () !default;
@import "../../../themes/default/core/references/palettes.defaults";

// Theme overrides
@import "core/references/palettes.overrides";
$luiTheme: luiSetTheme(reference, palettes, $myPalettes);

// Sizes
// ===================================

// Defaults
$mySizes: () !default;
@import "../../../themes/default/core/references/sizes.defaults";

// Theme overrides
@import "core/references/sizes.overrides";
$luiTheme: luiSetTheme(reference, sizes, $mySizes);


// Breakpoints
// ===================================
// Defaults
$myBreakpoints: () !default;
@import "../../../themes/default/core/references/breakpoints.defaults";

// Theme overrides
@import "core/references/breakpoints.overrides";
$luiTheme: luiSetTheme(reference, breakpoints, $myBreakpoints);



// ===================================
// =========== Adjectives ============
// ===================================

// Unstyled
// ===================================

// Defaults
$myUnstyled: () !default;
@import "../../../themes/default/core/adjectives/unstyled.defaults";

// Theme overrides
@import "core/adjectives/unstyled.overrides";
$luiTheme: luiSetTheme(adjective, unstyled, $myUnstyled);


// Animated
// ===================================

// Defaults
$myAnimated: () !default;
@import "../../../themes/default/core/adjectives/animated.defaults";

// Theme overrides
@import "core/adjectives/animated.overrides";
$luiTheme: luiSetTheme(adjective, animated, $myAnimated);

// Pointing
// ===================================

// Defaults
$myPointing: () !default;
@import "../../../themes/default/core/adjectives/pointing.defaults";

// Theme overrides
@import "core/adjectives/pointing.overrides";
$luiTheme: luiSetTheme(adjective, pointing, $myPointing);


// Raised
// ===================================

// Defaults
$myRaised: () !default;
@import "../../../themes/default/core/adjectives/raised.defaults";

// Theme overrides
@import "core/adjectives/raised.overrides";
$luiTheme: luiSetTheme(adjective, raised, $myRaised);

// Rounded
// ===================================


// Defaults
$myRounded: () !default;
@import "../../../themes/default/core/adjectives/rounded.defaults";

// Theme overrides
@import "core/adjectives/rounded.overrides";
$luiTheme: luiSetTheme(adjective, rounded, $myRounded);



// Stuck
// ===================================


// Defaults
$myStuck: () !default;
@import "../../../themes/default/core/adjectives/stuck.defaults";

// Theme overrides
@import "core/adjectives/stuck.overrides";
$luiTheme: luiSetTheme(adjective, stuck, $myStuck);



// Visible
// ===================================


// Defaults
$myVisible: () !default;
@import "../../../themes/default/core/adjectives/visible.defaults";

// Theme overrides
@import "core/adjectives/visible.overrides";
$luiTheme: luiSetTheme(adjective, visible, $myVisible);


// ===================================
// ============ Elements =============
// ===================================

// Lucca icons
// ===================================

// Defaults
$myIcons: () !default;
@import "../../../themes/default/core/elements/icon.defaults";

// Theme overrides
@import "core/elements/icon.overrides";
$luiTheme: luiSetTheme(element, icon, $myIcons);


// Grid
// ===================================

// Defaults
$myGrid: () !default;
@import "../../../themes/default/core/elements/grid.defaults";

// Theme overrides
@import "core/elements/grid.overrides";
$luiTheme: luiSetTheme(element, grid, $myGrid);


// Collapse
// ===================================

// Defaults
$myCollapse: () !default;
@import "../../../themes/default/core/elements/collapse.defaults";

// Theme overrides
@import "core/elements/collapse.overrides";
$luiTheme: luiSetTheme(element, collapse, $myCollapse);


// Divider
// ===================================

// Defaults
$myDivider: () !default;
@import "../../../themes/default/core/elements/divider.defaults";

// Theme overrides
@import "core/elements/divider.overrides";
$luiTheme: luiSetTheme(element, divider, $myDivider);


// Typography
// ===================================

// Defaults
$myTypography: () !default;
@import "../../../themes/default/core/elements/typography.defaults";

// Theme overrides
@import "core/elements/typography.overrides";
$luiTheme: luiSetTheme(element, typography, $myTypography);


// Button
// ===================================

// Defaults
$myButton: () !default;
@import "../../../themes/default/core/elements/button.defaults";

// Theme overrides
@import "core/elements/button.overrides";
$luiTheme: luiSetTheme(element, button, $myButton);


// Field
// ===================================

// Defaults
$myField: () !default;
@import "../../../themes/default/core/elements/field.defaults";

// Theme overrides
@import "core/elements/field.overrides";
$luiTheme: luiSetTheme(element, field, $myField);


// Table
// ===================================

// Defaults
$myTable: () !default;
@import "../../../themes/default/core/elements/table.defaults";

// Theme overrides
@import "core/elements/table.overrides";
$luiTheme: luiSetTheme(element, table, $myTable);


// Menu
// ===================================

// Defaults
$myMenu: () !default;
@import "../../../themes/default/core/elements/menu.defaults";

// Theme overrides
@import "core/elements/menu.overrides";
$luiTheme: luiSetTheme(element, menu, $myMenu);


// Breadcrumbs
// ===================================

// Defaults
$myBreadcrumbs: () !default;
@import "../../../themes/default/core/elements/breadcrumbs.defaults";

// Theme overrides
@import "core/elements/breadcrumbs.overrides";
$luiTheme: luiSetTheme(element, breadcrumbs, $myBreadcrumbs);


// label
// ===================================

// Defaults
$myLabel: () !default;
@import "../../../themes/default/core/elements/label.defaults";

// Theme overrides
@import "core/elements/label.overrides";
$luiTheme: luiSetTheme(element, label, $myLabel);


// Callout
// ===================================

// Defaults
$myCallout: () !default;
@import "../../../themes/default/core/elements/callout.defaults";

// Theme overrides
@import "core/elements/callout.overrides";
$luiTheme: luiSetTheme(element, callout, $myCallout);


// Block
// ===================================

// Defaults
$myBlock: () !default;
@import "../../../themes/default/core/elements/block.defaults";

// Theme overrides
@import "core/elements/block.overrides";
$luiTheme: luiSetTheme(element, block, $myBlock);


// Overlay
// ===================================

// Defaults
$myOverlay: () !default;
@import "../../../themes/default/core/elements/overlay.defaults";

// Theme overrides
@import "core/elements/overlay.overrides";
$luiTheme: luiSetTheme(element, overlay, $myOverlay);


// Progress
// ===================================

// Defaults
$myProgress: () !default;
@import "../../../themes/default/core/elements/progress.defaults";

// Theme overrides
@import "core/elements/progress.overrides";
$luiTheme: luiSetTheme(element, progress, $myProgress);


// Day block
// ===================================

// Defaults
$myDayBlock: () !default;
@import "../../../themes/default/core/elements/day-block.defaults";

// Theme overrides
@import "core/elements/day-block.overrides";
$luiTheme: luiSetTheme(element, dayblock, $myDayBlock);


// Table Grid
// ===================================

// Defaults
$myTableGrid: () !default;
@import "../../../themes/default/core/elements/tablegrid.defaults";

// Theme overrides
@import "core/elements/tablegrid.overrides";
$luiTheme: luiSetTheme(element, tablegrid, $myTableGrid);


// notify
// ===================================

// Defaults
$myNotify: () !default;
@import "../../../themes/default/core/elements/notify.defaults";

// Theme overrides
@import "core/elements/notify.overrides";
$luiTheme: luiSetTheme(element, notify, $myNotify);



// Tooltip
// ===================================

// Defaults
$myTooltip: () !default;
@import "../../../themes/default/core/elements/tooltip.defaults";

// Theme overrides
@import "core/elements/tooltip.overrides";
$luiTheme: luiSetTheme(element, tooltip, $myTooltip);



// Popover
// ===================================

// Defaults
$myPopover: () !default;
@import "../../../themes/default/core/elements/popover.defaults";

// Theme overrides
@import "core/elements/popover.overrides";
$luiTheme: luiSetTheme(element, popover, $myPopover);


// Modal
// ===================================

// Defaults
$myModal: () !default;
@import "../../../themes/default/core/elements/modal.defaults";

// Theme overrides
@import "core/elements/modal.overrides";
$luiTheme: luiSetTheme(element, modal, $myModal);


// Pagination
// ===================================

// Defaults
$myPagination: () !default;
@import "../../../themes/default/core/elements/pagination.defaults";

// Theme overrides
@import "core/elements/pagination.overrides";
$luiTheme: luiSetTheme(element, pagination, $myPagination);


// Sortable
// ===================================

// Defaults
$mySortable: () !default;
@import "../../../themes/default/core/elements/sortable.defaults";

// Theme overrides
@import "core/elements/sortable.overrides";
$luiTheme: luiSetTheme(element, pagination, $mySortable);

