// Helpers
// ===================================

@import "palette";

$theme: () !default;

// Get / set theming variables
// ===================================

@function setTheme($type, $name, $map, $inherit: true) {
	@if length($map) > 0 and $inherit {
		$theme: map-extend($theme, ("#{$type}s": ($name: $map)), true);
		$theme: $theme !global; // Make it globally known
	} @else if length($map) > 0 {
		$theme: map-extend($theme, ("#{$type}s": ($name: $map)));
		$theme: $theme !global; // Make it globally known
	}
	@return $theme;
}

// Only core variables can be accessed
@function theme($keys) {
	@return result($theme, join(core, $keys)...);
}


// Shortcuts
// ===================================

@function lui_theme_shadow() {
	@return unquote(theme(adjective, raised, default, box-shadow));
}

// Get root unit size
// ===================================

@function rem($number: 1) {
	// Remove $number unit if specified and multiply it by bodyFontSize
	@return 0.1;
	@return round(($number / ($number * 0 + 1)) * theme(element, typography, body, fontSize));
}


// Load core defaults
// @import "core/theming/defaults.values";
@at-root {
	// @import "theme.defaults";
}
