@header-bg-color: @color-primary;
@header-border-color: @color-primary-darker;
@header-height: 75px;
@header-heading-color: #FFF;
@header-margin-bottom: 2em;


header#main-header {
	box-sizing: content-box;
	background-color: @header-bg-color;
	border-top: @lucca-banner-height solid @header-border-color;
	margin-bottom: @header-margin-bottom;

	h1,
	.main-title {
		float: left;
		margin: 0 @bs-gutter-width;
	}

	h1 {
		margin: 0;
		margin-right: 0.25em;
		line-height: @header-height;
		font-size: 2.5em;
		color: @header-heading-color;

		&:before {
			font-size: 0.5em;
			margin-right: 1em;
		}
	}

	.main-title {
		h1, .ui-select-container {
			display: inline-block;
			vertical-align: middle;
			float: none;
			margin: none;
		}
	}

	@media(max-width: @screen-xs-max) {
		.main-title {
			margin-bottom: 2em;
		}
		.main-title > h1,
		> h1 {
			line-height: 1em;
		}
	}


	.ui-select-container {
		margin: 0;
		width: auto;

		.ui-select-match .btn,
		input.form-control.ui-select-search {
			font-size: 2.5em;
			font-weight: lighter;
			height: auto;
			padding: 0;
			overflow: visible;

			color: #FFF;
			&, &:active, &:focus, &:visited, &:hover {
				border: none;
				border-bottom: 1px dashed #FFF;
				outline: none;
				background-color: transparent;
				.no-shadow;
			}
		}
		input.form-control.ui-select-search {
			.placeholder({color: #fff; color: rgba(255, 255, 255, 0.5);});
		}

		.dropdown-header {
			color: @color-grey;
			text-transform: uppercase;
			padding: 0 0 0.75em 1em;
		}

		.ui-select-match {
			background-color: transparent;
			.btn {
				.caret {
					right: -0.75em;
				}
				&[disabled] {
					.opacity(1);
					border: none;
					.caret {
						display: none;
					}
				}
			}
		}

		.ui-select-choices {
			width: 100%;
			margin-top: @default-triangle-width;
			padding: 0;
			background-color: #FFF;
			border: none;
			.border-radius(0);
			.drop-shadow();

			.ui-select-choices-row {
				> a {
					color: @color-grey;
					padding: 0.5em 1em;
				}
				&.active > a {
					background-color: @color-lucca;
					color: @color-over-lucca;
				}
			}
		}

		&.open:after {
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -@default-triangle-width/2;
			.triangle-up();
		}
	}
}
