<button class="previous" ng-click="previousMonth()"></button>
<button class="next" ng-click="nextMonth()"></button>

<table ng-repeat="month in months" ng-class="[direction]">
	<caption>
		<span>{{ month.date | luifMoment : month.currentYear ? "MMMM" : "MMMM - YYYY" }}</span>
	</caption>
	<thead>
		<th ng-repeat="dayLabel in dayLabels">{{ ::dayLabel }}</th>
	</thead>
	<tbody>
		<tr ng-repeat="week in month.weeks">
			<td ng-repeat="day in week.days"
				ng-class="[{empty: day.empty, selected: day.selected}, day.customClass]"
				ng-disabled="day.disabled"
				ng-click="selectDay(day)">{{ ::day.dayNum }}</td>
		</tr>
	</tbody>
</table>

<footer ng-if="!!shortcuts || !!groupedShortcuts">
	<ul>
		<li>
			<ul>
				<li class="shortcut" ng-repeat="shortcut in shortcuts">
					<a class="lui small grey wired button" ng-click="selectShortcut(shortcut)">{{ ::shortcut.label }}</a>
				</li>
			</ul>
		</li>
		<li class="group" ng-repeat="group in groupedShortcuts">
			<ul>
				<li class="shortcut" ng-repeat="shortcut in group">
					<a class="lui small grey wired button" ng-click="selectShortcut(shortcut)">{{ ::shortcut.label }}</a>
				</li>
			</ul>
		</li>
	</ul>
</footer>
