<div class="lui daterange fitting input"
	 uib-popover-template="'lui/templates/date-picker/daterangepicker-popover.html'"
	 popover-placement="bottom-left"
	 popover-trigger="'none'" popover-is-open="popover.isOpen"
	 popover-class="lui luid-daterangepicker"
	 ng-click="togglePopover($event)">
	<i class="empty" ng-click="clear($event)"></i>
	<div class="inputs" ng-show="popover.isOpen">
		<input type="text"
			   ng-readonly="disableKeyboardInput"
			   ng-class="{ selected: editingStart}"
			   ng-click="editStart($event)"
			   ng-model="startDisplayStr"
			   ng-change="onStartDisplayStrChanged($event)"
			   placeholder="{{fromLabel}}"
			   luid-keydown mappings="focusEndInputOnTab">

		<i class="lui east arrow icon"></i>

		<input type="text"
			   ng-readonly="disableKeyboardInput"
			   ng-class="{ selected: !editingStart}"
			   ng-model="endDisplayStr"
			   ng-click="editEnd($event)"
			   ng-change="onEndDisplayStrChanged($event)"
			   placeholder="{{toLabel}}"
			   luid-keydown mappings="closePopoverOnTab">
	</div>
	<input type="text" ng-readonly="true" ng-model="displayStr" placeholder="{{placeholder}}">
</div>
