<div class="lui daterange fitting input"
	 uib-popover-template="'lui/templates/date-picker/daterangepicker-popover.html'"
	 popover-placement="auto bottom-left"
	 popover-trigger="'none'" popover-is-open="popover.isOpen"
	 popover-class="lui luid-daterangepicker"
	 ng-click="togglePopover($event)">
	<div class="inputs" ng-if="popover.isOpen">
		<input type="text" auto-focus
			   ng-readonly="disableKeyboardInput"
			   ng-class="{ 'clickable': disableKeyboardInput}"
			   ng-click="editStart($event)"
			   ng-model="internal.startDisplayStr"
			   ng-change="onStartDisplayStrChanged($event)"
			   placeholder="{{fromLabel}}"
			   luid-keydown mappings="focusEndInputOnTab">

		<i class="lui east arrow icon"></i>

		<input type="text"
			   ng-readonly="disableKeyboardInput"
			   ng-class="{ 'clickable': disableKeyboardInput}"
			   ng-model="internal.endDisplayStr"
			   ng-click="editEnd($event)"
			   ng-change="onEndDisplayStrChanged($event)"
			   placeholder="{{toLabel}}"
			   luid-keydown mappings="closePopoverOnTab">
	</div>
	<i class="empty" ng-click="clear($event)"></i>
	<!--ng-hide messes up the alignments, for some reasons... ng-class will be good enough -->
	<input type="text" ng-readonly="disableKeyboardInput" ng-model="displayStr" placeholder="{{placeholder}}">
</div>
