<div uib-popover-template="'lui/templates/date-picker/datepicker-inline.html'"
	 popover-placement="auto bottom-left"
	 popover-trigger="'none'"
	 popover-is-open="popover.isOpen"
	 popover-class="lui luid-datepicker"
	 class="lui datepicker input">
		<input type="text"
			   ng-readonly="disableKeyboardInput"
			   ng-model="displayStr"
			   ng-change="onDisplayStrChanged($event)"
			   ng-focus="openPopover($event)"
			   luid-keydown mappings="closePopoverOnTab"
			   placeholder="{{placeholder}}">
		<i class="empty" ng-click="clear($event)"></i>
</div>