<span class="lui tagged long input"
	uib-popover-template="'lui/templates/date-picker/daterangepicker-popover.html'"
	popover-placement="bottom-left"
	popover-trigger="none" popover-is-open="popover.isOpen"
	popover-class="lui luid-daterangepicker"
	ng-click="togglePopover($event)">
	<input type="text" ng-hide="popover.isOpen" ng-model="displayStr">
	<span class="tags" ng-show="popover.isOpen">
		<span class="tag" ng-class="{ selected: editStart }">{{ period.start | luifMoment : displayFormat }}</span>
		<i class="lui east arrow icon"></i>
		<span class="tag" ng-class="{ selected: editEnd }">{{ period.end | luifMoment : displayFormat }}</span>
	</span>
</span>