<div uib-popover-template="'lui/templates/date-picker/datepicker-inline.html'"
	 popover-placement="bottom-left"
	 popover-trigger="'none'"
	 popover-is-open="popover.isOpen"
	 popover-class="lui luid-datepicker"
	 class="lui datepicker input">
		<input type="text"
			ng-readonly="popover.isOpen"
			ng-model="displayStr"
			ng-focus="openPopover($event)"
			luid-keydown mappings="closePopoverOnTab"
			placeholder="{{placeholder}}">
		<i class="empty" ng-click="clear($event)"></i>
</div>