@default-callout-bg-color: #FFF;
@default-callout-padding: 1em 2em;
@default-callout-border-color: @color-grey-light;

.lucca-callout {
  display: block;
  background-color: @default-callout-bg-color;
  padding: @default-callout-padding;
  border: 1px solid @default-callout-border-color;
  margin: 1em 0;
  .alert-border(@color-grey);

  h2, h3, h4, h5, h6 {
    margin: 0;
    color: darken(@color-grey, 10);
  }

  p:last-child {
    margin-bottom: 0;
  }

  &.warning {
    .alert-border(@color-warning);
    h2, h3, h4, h5, h6 {
      color: darken(@color-warning, 10);
    }
  }
  &.success {
    .alert-border(@color-success);
    h2, h3, h4, h5, h6 {
      color: darken(@color-success, 10);
    }
  }
  &.error {
    .alert-border(@color-error);
    h2, h3, h4, h5, h6 {
      color: darken(@color-error, 10);
    }
  }
}