@default-loading-gif-url: "@{framework-path}/images/loading.gif";
@default-loading-gif-size: 16px;

.loading-gif {
	background-image: url(@default-loading-gif-url);
	background-repeat: no-repeat;
	background-position: center;
	width: @default-loading-gif-size;
	height: @default-loading-gif-size;
}