@default-tabs-bottom-border-color: #ccc;
@default-tabs-hover-border-color: rgba(50, 50, 50, 0.1);
@default-tabs-active-border-color: @color-primary;
@default-tabs-hover-bg-color: transparent;

.lucca-tabs {
  display: block;
  .reset-list;
  border-bottom: 1px solid @default-tabs-bottom-border-color;

  ul {
    li {
      display: inline-block;

      a {
        display: block;
        padding: 1em 1em 0 1em;
        .reset-links;

        .tabs-border();

        &:hover {
          background-color: @default-tabs-hover-bg-color;
        }
      }
    }
  }

  &.centered {
    ul {
      text-align: center;
    }
  }

  &.right {
    ul {
      text-align: right;
    }
  }

  &.justified {
    ul {
      display: table;
      table-layout: fixed;
      width: 100%;
      li {
        display: table-cell;
        text-align: center;

        a {
          &:after {
            display: none;
          }
          span {
            display: inline-block;
            .tabs-border();
          }
          &:hover span {
            .tabs-border-hover();
          }
          &.active span {
            .tabs-border-active();
          }
        }
      }
    }
  }
}

.tabs-border() {
  position: relative;
  &:after {
    display: block;
    content: "";
    height: 5px;
    margin-top: 1em;
    margin-bottom: -1px;
  }

  &:hover {
    .tabs-border-hover();
  }

  &.active {
    .tabs-border-active();
  }
}

.tabs-border-hover() {
  &:after {
    background-color: @default-tabs-hover-border-color;
  }
}

.tabs-border-active() {
  font-weight: bold;
  color: @default-link-color-hover;
  &:after {
    background-color: @default-tabs-active-border-color;
  }
}