@default-table-bg-color: #fff;
@default-table-border: 1px solid #d6d6d6;
@default-table-padding: 0.5em 1em;
@default-table-zebra-bg-color: rgba(200, 200, 200,0.25);


.lucca-table {
	display: table;
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	text-align: left;
	margin: 1em 0;
	background-color: @default-table-bg-color;

	> .thead, > thead,
	> .tbody, > tbody {

		> .tr, > tr {
			border-bottom: @default-table-border;
			display: table;
			table-layout: fixed;
			width: 100%;

			> .th, > th, > .td, > td {
				display: table-cell;
				float: none;
				text-align: left;
				vertical-align: top;
				padding: @default-table-padding;

				&.small {
					width: 3em;
				}
			}

			> .th, > th {
				font-weight: 600;
			}
		}

		> .tr.warning .th:first-child,
		> .tr.warning .td:first-child,
		> tr.warning th:first-child,
		> tr.warning td:first-child {
			.alert-border(@color-warning);
			display: table-cell;
		}

		> .tr.success .th:first-child,
		> .tr.success .th:first-child,
		> tr.success th:first-child,
		> tr.success td:first-child {
			.alert-border(@color-success);
			display: table-cell;
		}

		> .tr.error .th:first-child,
		> .tr.error .th:first-child,
		> tr.error th:first-child,
		> tr.error td:first-child {
			.alert-border(@color-error);
			display: table-cell;
		}
	}

	> .thead, > thead {
		display: table-header-group;
		padding: @default-table-padding;
		border: @default-table-border;
		border-bottom: none;

		> tr, > .tr {
			> th, > .th {
				padding-top: 1em;
				padding-bottom: 1em;
				vertical-align: middle;
			}
		}
	}

	> .tbody, > tbody {
		display: table-row-group;
		border: @default-table-border;
		border-top: none;
		background-color: @default-table-bg-color;
	}

	&.center-align {
		> thead, > .thead,
		> tbody, > .tbody {
			> tr, > .tr {
				> th, > .th,
				> td, > .td {
					text-align: center;
				}
			}
			> th, > .th,
			> td, > .td {
				text-align: center;
			}
		}
	}
	&.left-align {
		> thead, > .thead,
		> tbody, > .tbody {
			> tr, > .tr {
				> th, > .th,
				> td, > .td {
					text-align: left;
				}
			}
			> th, > .th,
			> td, > .td {
				text-align: left;
			}
		}
	}
	&.right-align {
		> thead, > .thead,
		> tbody, > .tbody {
			> tr, > .tr {
				> th, > .th,
				> td, > .td {
					text-align: right;
				}
			}
			> th, > .th,
			> td, > .td {
				text-align: right;
			}
		}
	}
	&.justified-align {
		> thead, > .thead,
		> tbody, > .tbody {
			> tr, > .tr {
				> th, > .th,
				> td, > .td {
					text-align: justify;
				}
			}
			> th, > .th,
			> td, > .td {
				text-align: justify;
			}
		}
	}
	> thead, > .thead,
	> tbody, > .tbody {
		> tr.left-align, > .tr.left-align {
			> th, > .th,
			> td, > .td {
				text-align: left;
			}
		}
		> tr.right-align, > .tr.right-align {
			> th, > .th,
			> td, > .td {
				text-align: right;
			}
		}
		> tr.center-align, > .tr.center-align {
			> th, > .th,
			> td, > .td {
				text-align: center;
			}
		}
		> tr.justified-align, > .tr.justified-align {
			> th, > .th,
			> td, > .td {
				text-align: justify;
			}
		}
		> tr, > .tr{
			> th.left-align, > .th.left-align,
			> td.left-align, > .td.left-align {
				text-align: left;
			}
			> th.right-align, > .th.right-align,
			> td.right-align, > .td.right-align {
				text-align: right;
			}
			> th.center-align, > .th.center-align,
			> td.center-align, > .td.center-align {
				text-align: center;
			}
			> th.justified-align, > .th.justified-align,
			> td.justified-align, > .td.justified-align {
				text-align: justify;
			}
		}
	}

	&.zebra {
		> tbody, .tbody {
			> tr, > .tr {
				border: none;
				&:nth-child(odd) {
					background-color: @default-table-zebra-bg-color;
				}
			}
		}
	}

	&.v-center {
		vertical-align: middle;

		> tbody, > .tbody, > thead, > .thead {
			> tr, > .tr {
				> th, > .th, > td, > .td {
					vertical-align: middle;
					float: none;
				}
			}
		}
	}
}