@default-tooltip-bg-color: #FFF;
@default-tooltip-txt-color: #333;
@default-tooltip-border-radius: @default-button-border-radius;

.lucca-tooltip {
	.make-lucca-tooltip(@default-tooltip-bg-color, @default-tooltip-txt-color);

	&.yellow {
		.make-lucca-tooltip(@color-lucca, @color-over-lucca);
	}
	&.primary {
		.make-lucca-tooltip(@color-primary, @color-over-primary);
	}
	&.secondary {
		.make-lucca-tooltip(@color-secondary, @color-over-secondary);
	}
	&.grey {
		.make-lucca-tooltip(@color-grey, #FFF);
	}
	&.dark {
		.make-lucca-tooltip(#333, #FFF);
	}
	&.error {
		.make-lucca-tooltip(@color-error, #FFF);
	}
}

.make-lucca-tooltip(@bg-color, @txt-color) {
	.tooltip-inner {
		background-color: @bg-color;
		color: @txt-color;
		.border-radius(@default-tooltip-border-radius);
		.drop-shadow();
	}
	&.left .tooltip-arrow {
		border-left-color: @bg-color;
	}
	&.top .tooltip-arrow {
		border-top-color: @bg-color;
	}
	&.right .tooltip-arrow {
		border-right-color: @bg-color;
	}
	&.bottom .tooltip-arrow {
		border-bottom-color: @bg-color;
	}
}