<div id="main-content">
	<nav id="toc" class="lui left stuck vertical primary dividing menu">
		<a class="item" href="#/directives#luid-timespan">luid-timespan</a>
		<a class="item" href="#/directives#luid-percentage">luid-percentage</a>
		<a class="item" href="#/directives#luid-moment">luid-moment</a>
		<a class="item" href="#/directives#luid-keydown">luid-keydown</a>
		<a class="item" href="#/directives#luid-day-block">luid-day-block</a>
		<a class="item" href="#/directives#luid-date-picker">luid-date-picker</a>
		<a class="item" href="#/directives#luid-daterange-picker">luid-daterange-picker</a>
		<a class="item" href="#/directives#luid-progress-bar">luid-progress-bar</a>
		<a class="item" href="#/directives#luid-iban">luid-iban</a>
	</nav>

	<section class="lui typeset container">

		<div class="lui callout primary">
			<p>
				<b>Important:</b> The js part of lucca-ui is an angular framework so is obviously dependent on <code>angular</code>.
				It also uses <code>moment.js</code> for its manipulation of dates as <a class="lui fancy link" href="http://momentjs.com/">moment.js</a>				is super awesome.
			</p>
			<p>
				The exact list of dependencies which can be found in the bower.json file is:
				<ul class="lui unstyled">
					<li><a class="lui fancy link" href="https://github.com/LuccaSA/lucca-icons">lucca-icons</a> <span class="lui label">1.1</span></li>
					<li><a class="lui fancy link" href="https://angularjs.org/">angular</a> <span class="lui label">1.5</span></li>
					<li><a class="lui fancy link" href="https://angular-ui.github.io/bootstrap/">angular ui bootstrap</a> <span class="lui label">1.3</span></li>
					<li><a class="lui fancy link" href="http://momentjs.com/">momentjs</a> <span class="lui label">2.13</span></li>
				</ul>
			</p>
		</div>

		<article id="luid-timespan"></article>

		<article id="luid-percentage"></article>

		<article id="luid-moment"></article>


		<article id="luid-keydown"></article>

		<article id="luid-day-block"></article>

		<article id="luid-date-picker"></article>
		<article id="luid-daterange-picker"></article>

		<article id="luid-progress-bar">
			<h2 class="lui divider below">luid-progress-bar</h2>

			<p>
				A service that allow to display a progress bar depending on http get requests.
			</p>
			<div class="lui dashed divider">
				<h4 class="lui underline">Features</h4>
			</div>
			<p>
				When the progress-bar-service is listening, a progress bar element appears and is loading until all http get requests are finished.
			</p>
			<p>
				Can specify the parent element on the initialisation.
			</p>
			<div class="lui dashed divider">
				<h4 class="lui underline">Usage</h4>
			</div>
			<p>
				Add http interceptor in your module config method :
			</p>
			<p>
				<pre hljs no-escape language="js">angular.module('demo').config(function($httpProvider) {
	$httpProvider.interceptors.push("luiHttpInterceptor");
});</pre>
			</p>
			<p>
				Add progress bar in your module run method :
			</p>
			<p>
				<pre hljs no-escape language="js">angular.module("myApp").config(fumction(luisConfigProvider){
	luisConfigProvider.setConfig({
		parentTagIdClass: "demo",
		prefix: "lui",
	});
});</pre>
			</p>
			<p>
				Specify when you want to listen http request.
				For example, we can do that each time the ui-router state change :
				<pre hljs no-escape language="js">// with ui-router
$scope.$on("$stateChangeStart", function(event, toState, toParams, fromState, fromParams) => {
	luisProgressBar.startListening();
});
// with ngRoute
$scope.$on("$routeChangeStart", function(event, toState, toParams, fromState, fromParams) => {
	luisProgressBar.startListening();
});</pre>
			</p>
			<p>
				You can specify what http methods you want to listen to.
				<pre hljs no-escape language="js">luisProgressBar.startListening(); // will listen to get requests
luisProgressBar.startListening(["POST", "PUT"]); // will only listen to post and put request</pre>
			</p>
			<div class="lui dashed divider">
				<h4 class="lui underline">Demo</h4>
			</div>
			<div class="lui item">
<!-- 				<a class="lui button primary" href="http://plnkr.co/edit/gaTyMAWNr0Bn2iWqi6OS?p=preview">
					<i class="lui icon search"></i>View in Plunker
				</a> -->
			</div>
			<div ng-controller="progressCtrl" class="lui block round" id="demoProgress">
				<p>
					A progress bar has been added to the page and will reload at a state change.
				</p>
				<p>
					Clicking <button class="lui button" ng-click="fastListen()">this</button> will make the progress bar reappear and load quickly
				</p>
				<p>
					Clicking <button class="lui button" ng-click="slowListen()">this</button> will make the progress bar reappear and load slowly
				</p>
				<p>
					Or click here to change the color of the progress bar <span class="lui buttons"><button ng-repeat="palette in palettes" class="lui button" ng-click="changeColor(palette)" ng-class="{active: palette == currentPalette}">{{palette}}</button></span>
				</p>
			</div>
		</article>

		<article id="luid-iban">
			<h2 class="lui divider below">luid-iban</h2>

			<p>
				An input to type in an iban.
			</p>
			<div class="lui dashed divider">
				<h4 class="lui underline">Features</h4>
			</div>
			<p>
				Shows IBAN split in 3 parts : country code, control key and bban
			</p>
			<p>
				Jumps to next sub input automaticaly
			</p>
			<div class="lui dashed divider">
				<h4 class="lui underline">Usage</h4>
			</div>
			<p>
				<pre hljs no-escape language="html">&lt;!-- basic usage --&gt;
&lt;luid-iban ng-model="myIban"&gt;&lt;/luid-iban&gt;</pre>
			</p>
			<div class="lui dashed divider">
				<h4 class="lui underline">Demo</h4>
			</div>
			<div ng-controller="ibanCtrl" class="lui block round" id="demoIban">
				<p>
					The directive
				</p>
				<p>
					<div class="lui field">
						<luid-iban ng-model="iban"></luid-iban>
						<label for="">IBAN</label>
					</div>
				</p>
				<div class="lui divider"></div>
				<p>
					Value in parent model
				</p>
				<p ng-bind="iban">
				</p>
			</div>
		</article>
	</section>
</div>
