<!DOCTYPE html>
<!--[if lte IE 9 ]><html class="ie ie9"><![endif]-->
<!--[if gt IE 9]><html class="ie"><![endif]-->
<!--[if !(IE)]><!--><html class=""><!--<![endif]-->
<head lang="en">
	<meta charset="UTF-8">
	<title>Lucca UI - Demo</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"/>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8"> -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="demo.min.css"/>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"></script>

	<script type="text/javascript" src="js/demo.js"></script>

</head>
<body ng-app="demoApp">
	<nav id="toc" class="lui vertical primary dividing menu">
		<a class="item header" href="#"><b>LUCCA UI</b></a>
		<a class="item active" href="./index.html">less framework</a>
		<a class="item" href="./nguibs.html">lui nguibs</a>
		<a class="item" href="./filters.html">lui filters</a>
		<a class="item" href="./directives.html">lui directives</a>
		<div class="lui vertical dashed divider"></div>
		<a class="item" href="#lui-grid">The grid</a>
		<a class="item" href="#lui-typography">Typography</a>
		<a class="item" href="#lui-button">Button</a>
		<a class="item" href="#lui-icon">Icons</a>
		<a class="item" href="#lui-label">Labels</a>
		<a class="item" href="#lui-input">Input</a>
		<a class="item" href="#lui-callout">Callout</a>
		<a class="item" href="#lui-menu">Menu</a>
	</nav>


<div id="main-content" class="lui typeset container">
	<h1>
		Lucca UI
		<a class="lui regular right pulled button" href="https://github.com/LuccaSA/lucca-ui">Code on github</a>
	</h1>

	<p class="lui sub heading">DOCUMENTATION - Getting up and running with the framework <span class="lui label">v1.1</span></p>

	<div class="lui callout warning">
		<p>
			<b>Important:</b>
			The less framework has no real dependencies, but it is highly recommended to load <code>normalize</code> for css reset purposes.
		</p>
	</div>

	<article id="lui-grid">

		<h2 class="lui divider below">The grid</h2>

		<p>
			By default, the grid is 12 columns based, but that can be overriden.
		</p>
		<p>
			Container should have the <code>lui container</code> classes. Columns must be given the <code>lui column</code> classes.
		</p>
		<p>
			To define the size of a grid element for mobiles, give it the <code>lui column mobile-x</code> classes where x is the number of columns.
			For tablets, use <code>lui column tablet-x</code>, for desktop, <code>lui column desktop-x</code> and finally, for large screens,
			<code>lui column large-x</code>.
		</p>

		<p>
			You can offset a specific grid child with the <code>{device}-offset-x</code> class.
		</p>
		<p>
			You can reorder children elements with the <code>{device}-push-x</code> and <code>{device}-pull-x</code> classes.
		</p>
		<div class="lui divider">
			<h4 class="lui underline">Example #1: Without gutter space</h4>
		</div>

		<div class="lui container">
			<div class="lui column tablet-6 desktop-10"><p>&nbsp;</p></div>
			<div class="lui column tablet-3 desktop-2"><p>&nbsp;</p></div>
			<div class="lui column tablet-3"><p>&nbsp;</p></div>

			<div class="lui column tablet-4 mobile-6 large-2"><p>&nbsp;</p></div>
			<div class="lui column tablet-4 mobile-6 large-offset-5 large-2"><p>&nbsp;</p></div>
			<div class="lui column tablet-4 large-12"><p>&nbsp;</p></div>
		</div>

		<div class="lui divider">
			<h4 class="lui underline">Example #2: With gutter space</h4>
		</div>
		<p>
			Adding the <code>spaced</code> class to a column will give it a gutter. Adding it to the <code>.lui.container</code> parent element will give gutters to all <code>.lui.column</code> children.
		</p>
		<p>
			To neutralise gutter space around the container, wrap <code>.lui.column</code> elements in a <code>.lui.columns</code> element (plural).
		</p>
		<div class="lui container spaced">
			<div class="lui columns">
				<div class="lui column mobile-push-6 mobile-6 tablet-push-0 tablet-6 desktop-10"><p>&nbsp;</p></div>
				<div class="lui column mobile-pull-6 mobile-6 tablet-push-0 tablet-3 desktop-2"><p>&nbsp;</p></div>
				<div class="lui column tablet-3"><p>&nbsp;</p></div>

				<div class="lui column tablet-4 mobile-6 large-2"><p>&nbsp;</p></div>
				<div class="lui column tablet-4 mobile-6 large-offset-5 large-2"><p>&nbsp;</p></div>
				<div class="lui column tablet-4 large-12"><p>&nbsp;</p></div>
			</div>
		</div>
	</article>

	<article id="lui-button" ng-controller="buttonsCtrl">
		<h2 class="lui divider below">Buttons</h2>

		<section class="lui column desktop-8 spaced">
			<div class="lui divider">
				<h4 class="lui underline">4 button styles</h4>
			</div>
			<button class="lui button">Default</button>
			<button class="lui button flat">Flat</button>
			<button class="lui button wired primary">Wired</button>
			<button class="lui button filling primary">Filling</button>
			<div class="dark inline">
				<button class="lui button inverted">Inverted</button>
			</div>

			<div class="lui divider">
				<h4 class="lui underline">Icon support</h4>
			</div>
			<p>
				Only icon: <button class="lui button icon add user"></button>
				Icon (left) + text: <button class="lui button"><i class="lui icon add user"></i>Add user</button>
				Icon (right) + text: <button class="lui button">Add user<i class="lui icon right add user"></i></button>
			</p>
			<p>
				<b>Icon addon:</b> <button class="lui button with addon"><i class="lui addon icon send"></i>Send message</button>
				<button class="lui button wired primary with addon"><i class="lui addon icon send"></i>Send message</button>
				<button class="lui button filling secondary with addon">Add user<i class="lui right addon icon add user"></i></button>
			</p>

			<b>With different styles:</b>
			<button class="lui button flat"><i class="lui icon analytics"></i>Flat</button>
			<button class="lui button primary"><i class="lui icon lock"></i>Unlock me!</button>
			<button class="lui button wired secondary">Take a picture<i class="lui right icon camera"></i></button>
			<button class="lui button red disabled"><i class="lui icon forbidden"></i>I'm disabled!</button>

			<div class="lui divider">
				<h4 class="lui underline">Button colors</h4>
			</div>
			<button class="lui button primary">Primary</button>
			<button class="lui button secondary">Secondary</button>
			<button class="lui button yellow">Yellow (Lucca's color)</button>
			<button class="lui button grey">Grey</button>
			<button class="lui button light">Light</button>
			<button class="lui button red">Red</button>
			<button class="lui button orange">Orange</button>
			<button class="lui button green">Green</button>

			<div class="lui divider">
				<h4 class="lui underline">Various button examples</h4>
			</div>
			<button class="lui button wired green">Wired - Green</button>
			<button class="lui button filling green">Filling - green</button>

			<div class="dark">
				<button class="lui button inverted">Inverted - Default</button>
				<button class="lui button inverted filling green">Inverted - Filling - Green</button>
				<button class="lui button wired inverted light">Inverted - Wired - Light</button>
			</div>

			<div class="lui divider">
				<h4 class="lui underline">Button sizes</h4>
			</div>
			<button class="lui button small">Small</button>
			<button class="lui button">Default</button>
			<button class="lui button large">Large</button>
			<button class="lui button x-large">X-large</button>

			<div class="lui divider">
				<h4 class="lui underline">Button status</h4>
			</div>
			<p>

			</p>
			<button class="lui button large status loading">Loading</button>
			<button class="lui button large with addon status loading"><i class="lui addon icon send"></i>Loading</button>
			<button class="lui button large status ok">OK</button>
			<button class="lui button large with addon status ok"><i class="lui addon icon send"></i>OK</button>
			<button class="lui button large status failure">Argh!</button>
			<button class="lui button large with addon status failure"><i class="lui addon icon send"></i>Argh!</button>
			<button class="lui button large icon status loading icon save"></button>
			<div class="lui divider">
				<h4 class="lui underline">Buttons - button groups!</h4>
			</div>
			<nav class="lui buttons">
				<button class="lui button icon add user"></button>
				<button class="lui button icon comment"></button>
				<button class="lui button">Help ?</button>
				<button class="lui button icon refresh"></button>
			</nav>

			<nav class="lui buttons">
				<button class="lui button filling primary">01</button>
				<button class="lui button filling secondary">02</button>
				<button class="lui button filling grey">03</button>
				<button class="lui button filling green">04</button>
			</nav>

			<nav class="lui buttons dark">
				<button class="lui button wired primary inverted">01</button>
				<button class="lui button wired primary inverted">02</button>
				<button class="lui button wired primary inverted">03</button>
				<button class="lui button wired primary inverted">04</button>
			</nav>

			<nav class="lui buttons dark">
				<button class="lui button filling primary inverted">01</button>
				<button class="lui button filling primary inverted">02</button>
				<button class="lui button filling primary inverted">03</button>
				<button class="lui button filling primary inverted">04</button>
			</nav>

			<nav class="lui large justified buttons">
				<a class="lui button filling primary">01</a>
				<a class="lui button filling primary">02</a>
				<a class="lui button filling primary">03</a>
				<a class="lui button filling primary">04</a>
			</nav>
		</section>
		<section class="lui column desktop-4 spaced">
			<div class="lui divider">
				<h4 class="lui underline">Try it</h4>
			</div>
			<p ng-class="{dark:inverted}">
				<button class="lui button" ng-class="[color, style, size, status, {inverted:inverted}, {disabled:disabled}]">custom button</button>
				<code>class="lui {{size}} {{color}} {{style}} {{status}} {{inverted?'inverted':''}} {{disabled?'disabled':''}} button"</code>
			</p>
			<p>
				color :
				<span class="lui button" ng-model="color" btn-radio="''">none</span>
				<span class="lui button primary" ng-model="color" btn-radio="'primary'">primary</span>
				<span class="lui button secondary" ng-model="color" btn-radio="'secondary'">secondary</span>
				<span class="lui button grey" ng-model="color" btn-radio="'grey'">grey</span>
				<span class="lui button light" ng-model="color" btn-radio="'light'">light</span>
				<span class="lui button yellow" ng-model="color" btn-radio="'yellow'">yellow</span>
				<span class="lui button green" ng-model="color" btn-radio="'green'">green</span>
				<span class="lui button orange" ng-model="color" btn-radio="'orange'">orange</span>
				<span class="lui button red" ng-model="color" btn-radio="'red'">red</span>
			</p>
			<p>
				style :
				<span class="lui button" ng-model="style" btn-radio="''">default</span>
				<span class="lui button flat" ng-model="style" btn-radio="'flat'">flat</span>
				<span class="lui button wired light" ng-model="style" btn-radio="'wired'">wired</span>
				<span class="lui button filling" ng-model="style" btn-radio="'filling'">filling</span>
			</p>
			<p>
				size :
				<span class="lui button small" ng-model="size" btn-radio="'small'">small</span>
				<span class="lui button" ng-model="size" btn-radio="''">default</span>
				<span class="lui button large" ng-model="size" btn-radio="'large'">large</span>
				<span class="lui button x-large" ng-model="size" btn-radio="'x-large'">x-large</span>
			</p>
			<p>
				status :
				<span class="lui button" ng-model="status" btn-radio="''">none</span>
				<span class="lui button" ng-model="status" btn-radio="'status ok'">ok</span>
				<span class="lui button" ng-model="status" btn-radio="'status failure'">failure</span>
				<span class="lui button" ng-model="status" btn-radio="'status loading'">loading</span>
			</p>
			<p>
				inverted :
				<span class="lui button" ng-model="inverted" btn-checkbox>inverted</span>
			</p>
			<p>
				disabled :
				<span class="lui button" ng-model="disabled" btn-checkbox>disabled</span>
			</p>

		</section>
	</article>

	<article id="lui-icon">
		<h2 class="lui divider below">Icons</h2>
		<p>
			Just append/prepend a <code><\i class="lui icon {icon-name}"><\/i></code> element or add the <code>lui icon {icon-name}</code> classes to your element.
			You can also just add the <code>data-lui-icon="{letter}"</code> attribute.
			Example here : <i lui-icon="h"></i>
		</p>
		<p>
			Finally, you can use the available mixin <code>.lui_icon_maker(forbidden)</code>
		</p>
	</article>

	<article id="lui-label">
		<h2 class="lui divider below">Labels</h2>

		<span class="lui label">Default</span></h3>
		<span class="lui label primary">Primary</span></h3>
		<span class="lui label secondary">Secondary</span></h3>
		<span class="lui label"><i class="lui icon edit"></i>With icon</span></h3>
		<span class="lui label with addon green">
			<span class="lui addon">Users:</span> 128 <i class="lui right addon icon user"></i>
		</span>
	</article>

	<article id="lui-input">
		<h2 class="lui divider below">Inputs</h2>

		<div class="lui input icon">
			<i class="lui icon user"></i><!--
		!--><input type="text" placeholder="First name" class="lui input">
		</div>
		<div class="lui input with addon">
			<i class="lui addon user icon"></i><!--
		!--><input type="text" placeholder="Surname" class="lui input">
		</div>
		<div class="lui input with addon">
			<input type="text" placeholder="Last name" class="lui input"><!--
		!--><i class="lui right addon user icon"></i>
		</div>
		<div class="lui input with addons">
			<span class="lui addon">https://</span><!--
		!--><input type="text" placeholder="your-domain" class="lui input"><!--
		!--><span class="lui addon">.com</span>
		</div>

		<div class="lui divider">
			<h4 class="lui underline">Input length & sizes</h4>
		</div>

		<div class="lui input small long">
			<input type="text" name="name" value="small long">
		</div>
		<div class="lui input large x-long">
			<input type="text" name="name" value="large x-long">
		</div>
		<div class="lui input regular short">
			<input type="text" name="name" value="regular short">
		</div>

		<div class="lui divider">
			<h4 class="lui underline">Form</h4>
		</div>

		<div class="lui input">
			<label for="">First name</label>
			<input type="text" name="first-name" placeholder="First name" value="">
		</div>
		<div class="lui input">
			<label for="">Last name</label>
			<input type="text" name="last-name" placeholder="Last name" value="">
		</div>
		<div class="lui input invalid">
			<label for="">Password</label>
			<input type="password" name="password" placeholder="password" value="">
		</div>

		<div class="lui divider">
			<h4 class="lui underline">Search box</h4>
		</div>
		<div class="lui input search">
			<input type="search" placeholder="Search..." name="name" value="">
			<i class="empty"></i>
		</div>
		<div class="lui input search searching">
			<input type="search" placeholder="Searching..." name="name" value="">
		</div>

		<div class="lui divider">
			<h4 class="lui underline">Fancy checkbox</h4>
		</div>
		<div class="lui checkbox">
			<input type="checkbox" checked />
			<label></label>
		</div>
		<div class="lui input with addon">
			<div class="lui addon checkbox">
				<input type="checkbox" checked />
				<label></label>
			</div><!--
		!--><input type="text" placeholder="Surname" class="lui input">
		</div>

		<div class="lui divider">
			<h4 class="lui underline">Switch</h4>
		</div>
		<div class="lui input switch">
			<input type="checkbox" checked>
			<label>
				<span></span>
			</label>
		</div>

	</article>
	<article id="lui-callout">
		<h2 class="lui divider below">Callouts</h2>
		<div class="lui callout">
			<p>
				<b>Default</b> - This is just a regular callout. <a href="#" class="lui button flat">Learn more</a>
			</p>
		</div>
		<div class="lui callout filled red">
			<p>
				<b>Filled</b> - This is a 'filled' style callout
			</p>
		</div>

		<p>
			Callouts can be listed in a `.lui.callouts` parent element:
		</p>

		<div class="lui callouts" style="width: 50%;margin-left: auto;margin-right: auto;">
			<div class="lui filled red callout">
				<h4 class="header">Error!</h4>
				<p>
					Something went terribly wrong
				</p>
				<div class="footer actions">
					<button class="lui button flat">Dismiss</button>
				</div>
			</div>
			<span class="lui filled green callout">Success<button class="lui button flat">Dismiss</button></span>
			<span class="lui filled orange callout">Achtung!<button class="lui button flat">Dismiss</button></span>
			<span class="lui filled callout">Fair enough...<button class="lui button flat">Dismiss</button></span>
		</div>
	</article>

	<article id="component-table" class="component">
		<h2>Tables</h2>

		<table class="lui table v-aligned">
			<thead>
				<tr>
					<th class="small">#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>
						<div class="lucca-button-group">
							<button class="lui button">Do something</button>
							<button class="lui button">Do something else</button>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="orange">
					<td scope="row" class="small">1</td>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
				</tr>
				<tr>
					<td scope="row" class="small">2</td>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
				</tr>
				<tr class="red">
					<td scope="row" class="small">3</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fat</td>
				</tr>
				<tr>
					<td scope="row" class="small">4</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fat</td>
				</tr>
				<tr>
					<td scope="row" class="small">5</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fat</td>
				</tr>
				<tr class="green">
					<td scope="row" class="small">6</td>
					<td>Larry</td>
					<td>the Bird</td>
					<td>@twitter</td>
				</tr>
			</tbody>
		</table>

		<div class="lui table zebra">
			<div class="thead large">
				<div class="tr">
					<div class="th">#</div>
					<div class="th">First name</div>
					<div class="th">Last name</div>
					<div class="th">Username</div>
				</div>
			</div>
			<div class="tbody">
				<div class="tr orange">
					<div class="td">1</div>
					<div class="td">Mark</div>
					<div class="td">Otto</div>
					<div class="td">@mdo</div>
				</div>
				<div class="tr red">
					<div class="td">2</div>
					<div class="td">Mark</div>
					<div class="td">Otto</div>
					<div class="td">@mdo</div>
				</div>
				<div class="tr green">
					<div class="td">3</div>
					<div class="td">Mark</div>
					<div class="td">Otto</div>
					<div class="td">@mdo</div>
				</div>
			<div>
		</div>
	</article>

	<article id="lui-menu" class="component">
		<h2 class="lui divider below">Menu</h2>

		<p>
			The menu element comes in a variety of pre-defined styles. By default, the menu is considered <code>horizontal</code>.
			Giving it the <code>vertical</code> class will change this.
		</p>

		<div class="lui bordered menu">
			<a href="#" class="item">Item 1</a>
			<a href="#" class="item">Item 2</a>
			<a href="#" class="item">Item 3</a>
		</div>

		<div class="lui divider">
			<h4 class="lui underline">Right / Left sections</h4>
		</div>

		<div class="lui raised bordered menu">
			<div class="lui menu left">
				<a href="#" class="item">I have</a>
				<a href="#" class="item">items here</a>
				<a href="#" class="item">on the left</a>
			</div>

			<div class="lui right item">
				<div class="lui buttons">
					<button class="lui button icon edit"></button>
					<button class="lui button icon files"></button>
					<button class="lui button icon trash"></button>
				</div>

				<button class="lui button primary with addon">Save<i class="lui right addon icon check"></i></button>
			</div>
		</div>

		<div class="lui divider">
			<h4 class="lui underline">Dividing style</h4>
		</div>
		<p>
			Add the <code>dividing</code> class to show a border below/over/right/left of the menu.
			The color of the active border can be changed by adding a color class.
		</p>
		<div class="lui menu green dividing center aligned">
			<div class="item header">Dividing style</div>
			<a class="item active" href="#">I am dividing</a>
			<a class="item" href="#">as well as</a>
			<a class="item" href="#">center aligned</a>

			<div class="lui right item">
				<div class="lui input search fit">
					<input type="search" name="name" placeholder="Search..." value="">
				</div>
			</div>
		</div>

		<div class="lui vertical primary right dividing menu" style="float:left;">
			<div class="item header">Vertical right</div>
			<a class="item active" href="#">Item 01</a>
			<a class="item" href="#">Item 02</a>
			<a class="item" href="#">Item 03</a>
		</div>
		<div class="lui vertical dividing menu" style="float:right;">
			<div class="item header">Vertical (left)</div>
			<a class="item active" href="#">Item 01 <span class="lui label">2</span></a>
			<a class="item" href="#">Item 02</a>
			<a class="item" href="#">Item 03</a>
		</div>
		<div class="lui clear"></div>
		<div class="lui menu top dividing justify">
			<div class="lui top dividing left menu">
				<div class="item header">Justified</div>

				<a class="item active" href="#">I am</a>
				<a class="item" href="#">justified</a>
				<a class="item" href="#">(with flex)</a>
			</div>

			<div class="lui menu right">
				<div class="lui buttons">
					<button class="lui button icon edit"></button>
					<button class="lui button icon files"></button>
					<button class="lui button icon trash"></button>
				</div>

				<button class="lui button primary with addon">Save<i class="lui right addon icon check"></i></button>
			</div>
		</div>

		<div class="lui divider">
			<h4 class="lui underline">Pills style</h4>
		</div>
		<div class="lui menu pills justify">
			<div class="item header">Pills style</div>
			<a class="item active" href="#">Item 01</a>
			<a class="item" href="#">Item 02</a>
			<a class="item" href="#">Item 03</a>
		</div>

		<div class="lui divider">
			<h4 class="lui underline">Imbricated menus</h4>
		</div>

		<nav class="lui squared pills vertical menu">
			<a class="lui item" href="#">LEVEL 1.A</a>
			<nav class="lui left dividing vertical menu">
				<a class="lui item" href="#">LEVEL 2.A</a>
				<a class="lui item" href="#">LEVEL 2.B</a>
				<a class="lui item" href="#">LEVEL 2.C</a>
			</nav>

			<a class="lui item" href="#">LEVEL 1.B</a>
			<nav class="lui left dividing vertical menu">
				<a class="lui item" href="#">LEVEL 2.A</a>
				<a class="lui item" href="#">LEVEL 2.B</a>
				<a class="lui item" href="#">LEVEL 2.C</a>
			</nav>

			<a class="lui item" href="#">LEVEL 1.C</a>
			<nav class="lui left dividing vertical menu">
				<a class="lui item" href="#">LEVEL 2.A</a>
				<a class="lui item" href="#">LEVEL 2.B</a>
				<a class="lui item" href="#">LEVEL 2.C</a>
			</nav>
		</nav>
	</article>
</div>
</body>
</html>
