<div id="main-content">
	<nav id="toc" class="lui left stuck vertical primary dividing menu">
		<a class="item" href="#/lucca#luid-user-picker">luid-user-picker</a>
		<a class="item" href="#/lucca#luid-translations">luid-translations</a>
		<a class="item" href="#/lucca#luis-notify">luis-notify</a>
		<a class="item" href="#/lucca#luid-table-grid">luid-table-grid</a>
		<a class="item" href="#/lucca#luid-image-picker">luid-image-picker</a>
	</nav>

	<section class="lui typeset container">
		<div class="lui callout primary">
			<p>
				<b>Important:</b>
				The js part of lucca-ui is an angular framework so is obviously dependent on <code>angular</code>.
				It also uses <code>moment.js</code> for its manipulation of dates as <a class="lui fancy link" href="http://momentjs.com/">moment.js</a> is super awesome.
				It also uses <code>underscore.js</code>, which is a Javascript library providing very useful helpers (especially for arrays and collections). <br />
				The luid-user-picker directive depends on <code>AngularJS ui-select</code> because it offers a large set of customizable features.
			</p>
			<p>
				The exact list of dependencies which can be found in the bower.json file is:
				<ul class="lui unstyled">
					<li><a class="lui fancy link" href="https://github.com/LuccaSA/lucca-icons">lucca-icons</a> <span class="lui label">1.1</span></li>
					<li><a class="lui fancy link" href="https://angularjs.org/">angular</a> <span class="lui label">1.5</span></li>
					<li><a class="lui fancy link" href="https://angular-ui.github.io/bootstrap/">angular ui bootstrap</a> <span class="lui label">1.3</span></li>
					<li><a class="lui fancy link" href="http://momentjs.com/">momentjs</a> <span class="lui label">2.13</span></li>
					<li><a class="lui fancy link" href="http://underscorejs.org/">underscorejs</a> <span class="lui label">1.8</span></li>
					<li><a class="lui fancy link" href="https://github.com/angular-ui/ui-select">ui-select</a> <span class="lui label">0.16</span></li>
					<li><a class="lui fancy link" href="https://github.com/angular/bower-angular-sanitize">angular sanitize</a> <span class="lui label">1.5</span></li>
					<li><a class="lui fancy link" href="https://github.com/angular-translate/angular-translate">angular translate</a> <span class="lui label">2.11</span></li>
					<li><a class="lui fancy link" href="https://github.com/cgross/angular-notify">angular notify</a> <span class="lui label">2.5</span></li>
				</ul>
			</p>
		</div>

	<article id="luid-user-picker">
		<h2 class="lui divider below">luid-user-picker</h2>
		<p>
			An input to have a ui-select plugged to <code>/api/v3/users/find</code> with a more powerful search and very amazing features.
		</p>
		<div class="lui dashed divider">
			<h4 class="lui underline">Features</h4>
		</div>
		<p>
			Supports up and down key events to select a value.
		</p>
		<p>
			Detects and handles homonyms. When homonyms are detected, specific user informations are displayed in order to easily differentiate them. These informations are not initially retrieved by the query to <code>/api/v3/users/find</code> but they will be fetched with a single query to <code>/api/v3/users</code> with the ids of the homonyms. By default, the list of properties to display is <code>department.name, legalEntity.name, employeeNumber, mail</code>. The two first properties that differentiate the homonyms will be displayed. A couple of properties is considered as differentiating if at least one property value is different from the others and each couple of properties is unique among all homonyms. For example, if you have two users 'Lucien Bertin' whose properties are:
			<ul class="lui unstyled">
				<li><code>{ id: 1, name: 'Lucien Bertin', legalEntity: { name: 'Lucca' }, department: { name: 'BU Timmi/Lucca' }, employeeNumber: 58, mail: 'no-reply@lucca.fr' }</code></li>
				<li><code>{ id: 2, name: 'Lucien Bertin', legalEntity: { name: 'Lucca' }, department: { name: 'Sales' }, employeeNumber: 72, mail: 'no-reply@lucca.fr' }</code></li>
			</ul>
			The differentiating properties are <code>deparment.name</code> and <code>employeeNumber</code>. <code>legalEntity.name</code> is not differentiating because all values are the same among homonyms.
		</p>
		<p>
			You can choose to fetch former employees. By default, only users who are still in the company are displayed. If you want to display former employees, their date of contract end will be displayed below their name.
		</p>
		<p>
			Handles pagination. By default, only 5 users are displayed in the dropdown menu. If more users match the query, a message is displayed at the end of the list indicating that there are more results, encouraging the user to specify his search.
		</p>
		<p>
			Handles custom filtering. You can let the directive call the api to get all pertinent users for the search, then filter them to display only the ones you want. Let's take the example of cleemy/expenses, you might want to see in the user-picker only users who have some expenses. This filter is specific to cleemy and used in one page only so implementing it server side is not recommended.<br />
			This function should respect the following signature: <code>function(user){ return boolean; }</code>.
		</p>
		<p>
			Displays the selected user first. When the currently selected user is in the set of results, he is displayed as first result.
		</p>
		<div class="lui dashed divider">
			<h4 class="lui underline">Advanced features</h4>
		</div>
		<p>
			Supports a list of custom properties to handle homonyms. If homonyms are detected, the differentiating properties will be displayed from that list.
			The properties are objects with a <code>name</code>, a <code>label</code> and an <code>icon</code> (optional).<br />
			The name is the entire name of the property to retrieve. This name will be inserted into the request. <b>Warning:</b> there is no control executed to check that given properties exist in <code>user</code> object. If the properties do not exist, the server will send back an error and no properties will be displayed. Go to <a class="lui fancy link" href="https://lucca.ilucca.net/apihelp#/users">apiHelp/users</a> to see the different properties that are supported. <br />
		</p>
		<p>
			Supports an application id and a scope of operations. This feature allows you to only fetch users that have access to the specified application, with the given set of operations for that application. For example, for cleemy/expenses, I will want to limit to users for whom I can consult expenses. <b>Warning:</b> Both arguments have to be declared in order to be taken into account. If you declare only one argument, it will have no impact on the request.
		</p>
		<p>
			Displays a custom information next to each user. For example, in Timmi, you might want to display the number of timesheets pending approval next to each user. This feature can take either a synchronous or an asynchronous function to fetch the information to display.
		</p>
		<p>
			Displays the connected user as first result when he appears in the set of results.
		</p>
		<p>
			Displays the option "All users". This option is displayed when the search input is empty.
		</p>
		<p>
			Bypasses <code>operations</code> filter for some users. It will always display given users if they belong to the set of results, even if they doesn't have access to the operations.
		</p>
		<div class="lui dashed divider">
			<h4 class="lui underline">Supported arguments</h4>
		</div>
		<p>
			<ul class="lui unstyled">
				<li><code>ng-model</code>: the variable to bind to</li>
				<li><code>size</code>: the size of the input, supports <code>x-small</code>, <code>small</code>, <code>long</code>, <code>x-long</code>, <code>fitting</code></li>
				<li><code>on-select</code>: function to execute when an item is selected</li>
				<li><code>on-remove</code>: function to execute when an item is removed (multi-select or emptying the input)</li>
				<li><code>control-disabled</code>: boolean indicating if you want the control to be disabled</li>
				<li><code>show-former-employees</code>: boolean indicating if you want to fetch former employees or not (default:false)</li>
				<li><code>homonyms-properties</code>: list of properties you want to display in case of homonyms</li>
				<li><code>custom-filter</code>: function that filters users. For a given user, it returns if he should be kept in the set of results or not. This function should respect the following signature: <code>function(user){ return boolean; }</code></li>
				<li><code>app-id</code>: the set of results should have access to the application matching this id</li>
				<li><code>operations</code>: list of operations that the set of results should support for the given application</li>
				<li><code>custom-info</code>: function that will return the information to display next to each user. It should respect the following signature : <code>function(user) { return string; }</code></li>
				<li><code>custom-info-async</code>: same as <code>custom-info</code> except it takes an asynchronous function with the following signature: <code>function(user) { return promise; }</code></li>
				<li><code>display-me-first</code>: boolean indicating if you want to display the connected user as first result if he belongs to the set of results</li>
				<li><code>display-all-users</code>: boolean indication if you want to display the option "All users" when the search input is empty</li>
				<li><code>bypass-operations-for</code>: list of user ids to display even if they does not have access to operations in <code>operations</code> attribute</li>
			</ul>
		</p>
		<div class="lui dashed divider">
			<h4 class="lui underline">Usage</h4>
		</div>
		<p>
			<pre hljs no-escape language="html">&lt;luid-user-picker ng-model="myUser"&gt;&lt;/luid-user-picker&gt;
&lt;luid-user-picker ng-model="myUser" show-former-employees="true"&gt;&lt;/luid-user-picker&gt;
&lt;luid-user-picker ng-model="myUser" custom-filter="myFilterFunction"&gt;&lt;/luid-user-picker&gt;
&lt;luid-user-picker ng-model="myUser" custom-info="myInfoFunction"&gt;&lt;/luid-user-picker&gt;
&lt;luid-user-picker ng-model="myUser" custom-info-async="myInfoAsyncFunction"&gt;&lt;/luid-user-picker&gt;
&lt;luid-user-picker ng-model="myUser" display-me-first="true"&gt;&lt;/luid-user-picker&gt;
&lt;luid-user-picker ng-model="myUser" display-all-users="true"&gt;&lt;/luid-user-picker&gt;
&lt;luid-user-picker-multiple ng-model="myUsers"&gt;&lt;/luid-user-picker-multiple&gt;</pre>
		</p>

		<div class="lui bottom dashed divider menu" id="demoBlock">
			<div class="lui header vertical menu">
				<h4 class="lui underline">Demo</h4>
			</div>
			<div class="lui right item">
				<a class="lui button primary" href="http://plnkr.co/edit/vHYpzHzRlQdKurlLYaae?p=preview">
					<i class="lui icon edit"></i>Edit in Plunker
				</a>
			</div>
		</div>
		<div ng-controller="userPickerCtrl" class="lui block round">
			<div class="lui dividing menu">
				<div class="lui menu left">
					Reroute all calls to
					<span class="lui input with addon">
						<span class="lui addon">https://</span>
						<input type="text" class="lui input" ng-model="local" ng-change="authToken = ''">
					</span>
					<span class="lui button" ng-click="auth()" ng-show="!authToken">authenticate</span>
					<span class="lui green label with addon"ng-show="!!authToken"><i class="lui addon icon check"></i>authenticated</span>
					<span class="lui red label with addon"ng-show="!authToken"><i class="lui addon icon warning"></i>authenticate to display the user pickers</span>
				</div>

				<nav class="lui primary dividing right menu">
					<a class="lui item" ng-click="showMultipleUserPicker = false" ng-class="{'active': (showMultipleUserPicker === false)}">Simple user picker</a>
					<a class="lui item" ng-click="showMultipleUserPicker = true" ng-class="{'active': (showMultipleUserPicker === true)}">Multiple user picker</a>
				</nav>
			</div>

			<!-- SIMPLE USER PICKER -->
			<div ng-if="!showMultipleUserPicker">
				<h5>Basic usage</h5>
				<p>
					<luid-user-picker ng-model="myUser.selected" show-former-employees="isChecked" ng-if="!!authToken"></luid-user-picker>
					<div class="lui checkbox">
						<input type="checkbox" ng-model="isChecked">
					</div>
					<span class="lui checkbox">
						<input type="checkbox"  ng-model="isChecked"/>
						<label></label>
					</span>
					Show former employees
				</p>
				<p>
					Selected user: <code>{{myUser.selected.firstName}} {{myUser.selected.lastName}}</code>
				</p>
				<hr />
				<h5>Custom filtering</h5>
				<p>
					Filters the list of users normally displayed with a function you can define, for example the first filter is defined this way in the controller.
				</p>
				<pre hljs no-escape language="js">$scope.hasShortName = function(user) {
	return user.firstName.length &lt;= 6;
};</pre>
				<p>
					Select a filter:
				</p>
				<p>
					<span class="lui buttons">
						<button class="lui button" ng-model="customFilter" btn-radio="'hasShortName'">Users with short firstname (less than 6 letters)</button>
						<button class="lui button" ng-model="customFilter" btn-radio="'beginsWithConsonant'">Users with a consonant as first letter in their first name</button>
						<button class="lui button" ng-model="customFilter" btn-radio="'nameContainsT'">Users with a 't' in their name</button>
					</span>
				</p>
				<p>
					Set of users with the selected filter applied:
					<luid-user-picker ng-if="customFilter === 'hasShortName' && !!authToken" ng-model="myUser.filtered" custom-filter="hasShortName"></luid-user-picker>
					<luid-user-picker ng-if="customFilter === 'beginsWithConsonant' && !!authToken" ng-model="myUser.filtered" custom-filter="beginsWithConsonant"></luid-user-picker>
					<luid-user-picker ng-if="customFilter === 'nameContainsT' && !!authToken" ng-model="myUser.filtered" custom-filter="nameContainsT"></luid-user-picker>
				</p>
				<hr />
				<h5>Custom info</h5>
				<p>
					Number of letters in their first name:
					<luid-user-picker ng-model="myUser.customInfo" custom-info="firstNameLength" ng-if="!!authToken"></luid-user-picker>, this info is computed synchronously
				</p>
				<p>
					Year of contract start: <luid-user-picker ng-model="myUser.customInfoAsync" custom-info-async="yearOfArrivalAsync" ng-if="!!authToken"></luid-user-picker>, this info needs an ajax call for each displayed user
				</p>
			<pre hljs no-escape language="js">$scope.firstNameLength = function(user) { return user.firstName.length; };
$scope.yearOfArrivalAsync = function(user){
	var dfd = $q.defer();
	$http.get("/api/v3/users/" + user.id + "?fields=dtContractStart")
	.success(function(response){
		var year = moment(response.data.dtContractStart).year();
		dfd.resolve(year);
	})
	return dfd.promise;
};</pre>
				<hr />
				<h5>Option "All users"</h5>
				<p>
					This option is displayed when the search input is empty.
				</p>
				<p>
					<luid-user-picker ng-model="myUser.withAllUsers" display-all-users="true" ng-if="!!authToken"></luid-user-picker>
				</p>
			</div>

			<!-- MULTIPLE USER PICKER -->
			<div ng-if="showMultipleUserPicker">
				<h5>Basic usage</h5>
				<p>
					<!-- <span class="lui long input"> -->
						<luid-user-picker-multiple size="x-long" ng-model="myUsers" show-former-employees="isChecked" ng-if="!!authToken"></luid-user-picker-multiple>
					<!-- </span> -->
					<div class="lui checkbox">
						<input type="checkbox" ng-model="isChecked">
					</div>
					<span class="lui checkbox">
						<input type="checkbox"  ng-model="isChecked"/>
						<label></label>
					</span>
					Show former employees
				</p>
				<p>
					Selected users: <code ng-repeat="user in myUsers">{{user.firstName}} {{user.lastName}} </code>
				</p>
				<hr />
				<h5>Custom filtering</h5>
				<p>
					Filters the list of users normally displayed with a function you can define, for example the first filter is defined this way in the controller.
				</p>
				<pre hljs no-escape language="js">$scope.hasShortName = function(user) {
	return user.firstName.length &lt;= 6;
};</pre>
				<p>
					Select a filter:
				</p>
				<p>
					<span class="lui buttons">
						<button class="lui button" ng-model="customFilter" btn-radio="'hasShortName'">Users with short firstname (less than 6 letters)</button>
						<button class="lui button" ng-model="customFilter" btn-radio="'beginsWithConsonant'">Users with a consonant as first letter in their first name</button>
						<button class="lui button" ng-model="customFilter" btn-radio="'nameContainsT'">Users with a 't' in their name</button>
					</span>
				</p>
				<p>
					Set of users with the selected filter applied:
					<luid-user-picker-multiple ng-if="customFilter === 'hasShortName' && !!authToken" ng-model="myUsers.filtered" custom-filter="hasShortName"></luid-user-picker-multiple>
					<luid-user-picker-multiple ng-if="customFilter === 'beginsWithConsonant' && !!authToken" ng-model="myUsers.filtered" custom-filter="beginsWithConsonant"></luid-user-picker-multiple>
					<luid-user-picker-multiple ng-if="customFilter === 'nameContainsT' && !!authToken" ng-model="myUsers.filtered" custom-filter="nameContainsT"></luid-user-picker-multiple>
				</p>
				<hr />
				<h5>Custom info</h5>
				<p>
					Number of letters in their first name:
					<luid-user-picker-multiple ng-model="myUsers.customInfo" custom-info="firstNameLength" ng-if="!!authToken"></luid-user-picker-multiple>, this info is computed synchronously
				</p>
				<p>
					Year of contract start: <luid-user-picker-multiple ng-model="myUsers.customInfoAsync" custom-info-async="yearOfArrivalAsync" ng-if="!!authToken"></luid-user-picker-multiple>, this info needs an ajax call for each displayed user
				</p>
			<pre hljs no-escape language="js">$scope.firstNameLength = function(user) { return user.firstName.length; };
$scope.yearOfArrivalAsync = function(user){
	var dfd = $q.defer();
	$http.get("/api/v3/users/" + user.id + "?fields=dtContractStart")
	.success(function(response){
		var year = moment(response.data.dtContractStart).year();
		dfd.resolve(year);
	})
	return dfd.promise;
};</pre>
				<hr />
				<h5>Option "All users"</h5>
				<p>
					<code>luid-user-picker</code> doesn't implement this option.
				</p>
			</div>

		</div>
		<div class="lui dashed divider">
			<h4 class="lui underline">Roadmap</h4>
		</div>
		<p>
			Here are a list of features we plan to add soon.
		</p>
		<h5>Some optimisations</h5>
		<p>
			We don't really know how heavy this directive is for the server or for the client. We already have some leads on how to optimize certain aspects (the pagination for example) but we don't know if it is really necessary to focus on that now
		</p>
		<div class="lui dashed divider">
			<h4 class="lui underline">Side notes</h4>
		</div>
		<p>
			The directive is tested with karma (75 tests so far) and protractor (13 tests) and will be stable. Follow the <a class="lui fancy link" href="https://github.com/LuccaSA/lucca-ui/releases">release notes of each version of the bower component</a> to know what feature was added and which bug was fixed.
		</p>
	</article>


	<article id="luid-translations">
		<h2 class="lui divider below">luid-translations</h2>

		<p>
			An input that display and edit a text available in different languages
		</p>
		<div class="lui dashed divider">
			<h4 class="lui underline">Features</h4>
		</div>
		<p>
			As with the other directives, it inherits from the ng-model controller and as such can be integrated to forms like any other input.
		</p>
		<p>
			Supports 2 modes :
			<ul class="lui unstyled">
				<li><code>dictionary</code> default mode, the ng-model will have this form <code>{"en": "some stuff", "fr": "des bidules"}</code></li>
				<li><code>|</code> or <code>pipe</code> the ng-model will be a string looking like this <code>"en:some stuff|fr:des bidules"</code></li>
				<!-- <li><code>[]</code> the ng-model will be a string looking like this <code>"[en][some stuff][fr][des bidules]"</code></li> -->
			</ul>
		</p>
		<div class="lui dashed divider">
			<h4 class="lui underline">Supported arguments</h4>
		</div>
		<p>
			<ul class="lui unstyled">
				<li><code>ng-model</code>: the variable to bind to</li>
				<li><code>ng-change</code>: events to launch when the value is updated</li>
				<!-- <li><code>ng-disabled</code>: </li> -->
				<li><code>mode</code>: "dictionary", "|" or "pipe"</li>
			</ul>
		</p>
		<div class="lui dashed divider">
			<h4 class="lui underline">Usage:</h4>
		</div>
		<p>
			<pre hljs no-escape language="html">&lt;luid-translations ng-model="myTrads"&gt;&lt;/luid-translations&gt;
&lt;luid-translations ng-model="myTrads" mode="|" ng-change="changed()" size="x-long"&gt;&lt;/luid-translations&gt;</pre>
		</p>
		<div class="lui bottom dashed divider menu" id="demoBlock">
			<div class="lui header vertical menu">
				<h4 class="lui underline">Demo</h4>
			</div>
		</div>
		<div ng-controller="translationsCtrl" class="lui block round">
		<h5>Mode dictionary</h5>
		<p>
			<luid-translations ng-model="myTrads" ng-change="changed()"></luid-translations>
		</p>
		<p>
			myTrads: <code>{{myTrads}}</code>
		</p>
		<hr>
			<h5>Mode pipe</h5>
		<p>
			<luid-translations ng-model="myTradsPipe" mode="|" size="x-long" ng-change="changed()"></luid-translations>
		</p>
		<p>
			myTradsPipe : <code>{{myTradsPipe}}</code>
		</p>
		<hr>
		<p>
			Number of times <code>ng-change</code> has been called : <code>{{count}}</code>
		</p>
		</div>
	</article>

	<article id="luis-notify">
		<h2 class="lui divider below">luisNotify</h2>

		<p>
			a service to display notifications using the <a class="lui fancy link" href="https://github.com/cgross/angular-notify">angular-notify</a> library and have a better <code>alert</code> and <code>confirm</code> methods
		</p>
		<div class="lui dashed divider">
			<h4 class="lui underline">Features</h4>
		</div>
		<p>
			A method <code>config</code> where you can set
			<ul>
				<li><code>parentTagIdClass</code>: the tag/id/class of the element you want to append to, for when you are using a namespaced distribution of lucca-ui, default: <code>"body"</code></li>
				<li><code>prefix</code>: the prefix or your distribution, default <code>"lui"</code></li>
				<li><code>startTop</code>: the margin in px between the top of the screen and the first notification, to prevent it to go over an horizontal menu, default <code>40</code></li>
				<li><code>okLabel</code>: the label you want for the button ok in the modal used by methods <code>alert</code> and <code>confirm</code>, default <code>"Ok"</code></li>
				<li><code>cancelLabel</code>: the label you want for the button cancel in the modal used by methods <code>alert</code> and <code>confirm</code>, default <code>"Cancel"</code></li>
				<li><code>canDismissConfim</code>: if set to <code>true</code>, the user will be able to close the confirmation modal by clicking outside of it, when set to <code>false</code> the user will have to click either Ok or Cancel to cose the modal, default <code>false</code></li>
			</ul>
		</p>
		<p>
			Methods <code>success</code>, <code>warning</code> and<code>error</code> taking <code>message</code> and <code>details</code> as arguments. the message will be displayed in the popup while both message and details will be logged in the browser console using <code>$log</code>
		</p>
		<p>
			A method <code>loading</code> taking a <code>ng.IPromise&lt;string&gt;</code>, a <code>message</code> and a <code>cancel function</code> as arguments. Will display a notification with a spinner and the provided message.
			<ul>
				<li>notifying the promise with a new message will change the message displayed</li>
				<li>resolving the promise with a new message will change the message displayed, remove the spinner and change the color of the notification to make it look like the success notification</li>
				<li>rejecting the promise with a new message will change the message displayed, remove the spinner and change the color of the notification to make it look like the error notification</li>
				<li>if you do not provide a <code>cancel function</code>, the <i class="lui small cross icon"></i> won't be present while the promise isn't resolved/rejected</li>
				<li>if you do provide a <code>cancel function</code>, clicking <i class="lui small cross icon"></i> while the promise isn't resolved/rejected will cal said function before closing the notification</li>
			</ul>
		</p>
		<p>
			Methods <code>alert</code>, and<code>confirm</code> taking <code>message</code>, <code>okLabel</code> and <code>cancelLabel</code> as arguments. returns a <code>ng.IPromise&lt;boolean&gt;</code> that resolves with <code>true</code> if user clicked Ok and <code>false</code> if user clicked cancel, rejects if user clicked outside of the modal
		</p>
		<div class="lui dashed divider">
			<h4 class="lui underline">Usage:</h4>
		</div>
		<p>
			<pre hljs no-escape language="js">// to configure, needs to be done just once
angular.module("myApp").run(fumction(luisNotify){
	luisNotify.config({
		parentTagIdClass: "demo",
		startTop: 60,
		prefix: "lui",
		canDismissConfim: true
	});
});

// to use in your controller
angular.controller("myCtrl", function(luisNotify) {
	luisNotify.error("your message", "some details");
	luisNotify.confirm("This action is irreversible, are you really sure you want to do it?", "Yes I am", "No i'm not")
	.then(function(isSure) {
		if (isSure) {
			var loadingDfd = $q.defer();
			luisNotify.loading(loadingDfd.promise, "doing the stuff");
			doTheStuff()
			.then( function() {
				loadingDfd.resolve("the stuff is done");
			}, function() {
				loadingDfd.reject("an error happened :'(");
			});
		}
	});
});
</pre>
		</p>
		<div class="lui bottom dashed divider menu" id="demoBlock">
			<div class="lui header vertical menu">
				<h4 class="lui underline">Demo</h4>
			</div>
		</div>
		<div ng-controller="notifyCtrl" class="lui block round">
			<h5>Notifications</h5>
			<p>
				<div class="lui field">
					<label>message displayed</label>
					<span class="lui input">
						<input type="text" ng-model="message">
					</span>
				</div>
				<div class="lui field">
					<label>details logged</label>
					<span class="lui long input">
						<input type="text" ng-model="details">
					</span>
				</div>
			</p>
			<p>
				<button class="lui green button" ng-click="notifySuccess(message, details)">success</button>
				<button class="lui orange button" ng-click="notifyWarning(message, details)">warning</button>
				<button class="lui red button" ng-click="notifyError(message, details)">error</button>
			</p>
			<hr class="lui dashed divider">
			<h5>Loading notification</h5>
			<p>
				<div class="lui field">
					<label>message displayed while loading</label>
					<span class="lui input">
						<input type="text" ng-model="loadingMessage">
					</span>
				</div>
				<div class="lui field">
					<label>message displayed when resolved</label>
					<span class="lui input">
						<input type="text" ng-model="resolvedMessage">
					</span>
				</div>
				<div class="lui field">
					<label>message displayed when rejected</label>
					<span class="lui input">
						<input type="text" ng-model="rejectedMessage">
					</span>
				</div>
			</p>
			<p>
				<button class="lui button" ng-click="notifyLoading(loadingMessage)" ng-disabled="loading">loading</button>
				<button class="lui button" ng-click="changeLoading(loadingMessage)" ng-disabled="!loading">change message</button>
				<button class="lui green button" ng-click="resolveLoading(resolvedMessage)" ng-disabled="!loading">resolve loading</button>
				<button class="lui red button" ng-click="rejectLoading(rejectedMessage)" ng-disabled="!loading">reject loading</button>
			</p>
			<hr class="lui dashed divider">
			<h5>Alerts and confirms</h5>
			<p>
				<div class="lui field">
					<label>message displayed</label>
					<span class="lui long input">
						<input type="text" ng-model="message2">
					</span>
				</div>
			</p>
			<p>
				<button class="lui button" ng-click="notifyAlert(message2)">alert</button>
				<button class="lui button" ng-click="notifyConfirm(message2)">confirm</button>
				{{confirmationMessage}}
			</p>
		</div>
	</article>

		<article id="luid-table-grid">
			<h2 class="lui divider below">luid-table-grid</h2>
			<p>
				A table directive to display any data
			</p>

			<div class="lui dashed divider">
				<h4 class="lui underline">Features</h4>
			</div>
			<ul class="lui unstyled">
				<li>Show datas as a table.</li>
				<li>Handles fixed colums and scrollable columns.</li>
				<li>Can take any form of data as a n input.</li>
				<li>Filtering and order by supported.</li>
				<li>Show custom html in cells.</li>
				<li>Handles nested headers.</li>
				<li>Text alignment property : left/center/right</li>
			</ul>

			<div class="lui dashed divider">
				<h4 class="lui underline">Supported arguments</h4>
			</div>
			<p>
				<ul class="lui unstyled">
					<li><code>header</code> : this describes your header and how you get values for cells. See example below.</li>
					<li><code>datas</code> : a list of things you want to display.</li>
					<li><code>height</code> : your table won't be higher than that (px).</li>
					<li><code>height-type</code> : (global | body, default: body) specify if the given height should be applied on the whole tablegrid (global), or on the body (body)</li>
					<li><code>selectable</code> : if this attribute is present, your table will contain a checkboxes column as first fixed column.</li>
					<li><code>default-order</code> : At first load, your table will be order by the header of which the label is the value of this attribute.
									The value can be optionally prefixed with + or - to control ascending or descending sort order. </li>
					<li><code>on-row-click</code> : can specify a function which will be called on a row tablegrid click. The function take one parameter containing the row object.
				</ul>
			</p>

			<div class="lui dashed divider">
				<h4 class="lui underline">Usage</h4>
			</div>
			<pre hljs no-escape language="html"> &lt;luid-table-grid header=&quot;headerTree&quot; datas=&quot;people&quot; height=&quot;500&quot;&gt;&lt;/luid-table-grid&gt;</pre>
			<pre hljs no-escape language="js"> // example header
{
node: null,
children: [
	{
		node: {
			filterType: Lui.Directives.FilterTypeEnum.TEXT,
			fixed: true,
			label: &quot;id&quot;,
			width: 20,
			getValue: function (someone) { return someone.id; },
			getOrderByValue: function (someone) { return someone.id; },
			colspan: null,
			hidden: false,
			rowspan: null,
			textAlign: &quot;right&quot;,
		},
		children: []
	},
	{
		node: {
			filterType: Lui.Directives.FilterTypeEnum.SELECT,
			fixed: false,
			label: &quot;name&quot;,
			width: 20,
			getFilterValue: function (someone) { return someone.name; },
			getValue: function (someone) { return someone.name; },
			colspan: null,
			hidden: false,
			rowspan: null,
			textAlign: &quot;left&quot;,
		},
		children: [],
	},
]
}</pre>

			<div class="lui dashed divider">
				<h4 class="lui underline">Demo</h4>
			</div>
			<div ng-controller="tableGridCtrl" class="lui block round">
				<luid-table-grid id="tableGrid1" header="headerTree" datas="people" selectable height="500" default-order="+name" on-row-click="alertRow(row)"></luid-table-grid>
				<div>{{numberOfRow(people)}}/{{people.length}} are in the filtered dataset</div>
			</div>
			<div class="lui dashed divider"></div>
			<div ng-controller="tableGridCtrl" class="lui block round">
				<luid-table-grid id="tableGrid2" header="headerTree2" datas="people2" height="200" default-order="-name"></luid-table-grid>
				<div>{{numberOfRow(people2)}}/{{people2.length}} are in the filtered dataset</div>
			</div>
		</article>



		<article id="luid-image-picker">
			<h2 class="lui divider below">luid-image-picker</h2>
			<p>
			</p>
			<div class="lui dashed divider">
				<h4 class="lui underline">Features</h4>
			</div>
			<p></p>
			<div class="lui dashed divider">
				<h4 class="lui underline">Usage:</h4>
			</div>
			<p>
				<pre hljs no-escape language="js"></pre>
			</p>
			<div class="lui bottom dashed divider menu" id="demoBlock">
				<div class="lui header vertical menu">
					<h4 class="lui underline">Demo</h4>
				</div>
			</div>
			<div ng-controller="imagePickerCtrl" class="lui block round">
				<div class="imagepicker-container">
					<luid-image-picker ng-model="image"></luid-image-picker>
				</div>
			</div>
		</article>
	</section>
</div>
