<div>
	<nav id="toc" class="lui vertical primary dividing menu">
		<a class="item" href="#ui-select">ui-select</a>
		<a class="item" href="#dropdown">dropdown</a>
		<a class="item" href="#tooltip">tooltip</a>
		<a class="item" href="#popover">popover</a>
		<a class="item" href="#datepicker">datepicker</a>
	</nav>

	<section id="main-content" class="lui container">
		<h1 class="lui column desktop-8">Lucca UI</h1>
		<div class="lui column desktop-4">
			<a class="lui large button pull-right" href="https://github.com/LuccaSA/lucca-ui">Code on github</a>
		</div>
		<p class="lui sub heading">DOCUMENTATION - Getting up and running with the framework</p>

		<div class="lui callout primary">
			<p>
				<b>Important:</b>
				The js part of lucca-ui is an override of the styles of directives from <a href="https://angular-ui.github.io/bootstrap/">angular ui bootstrap</a> to be more compliant with the general aspect of lucca-ui.<br>
				For now this part only properly functions when the bootstrap css is present as well in your page. Developments are underway to remove this contraint.
			</p>
			<p>
				The exact list of dependencies, which can be found in the bower.json file, is:
				<ul class="lui unstyled">
					<li><a href="https://github.com/LuccaSA/lucca-icons">lucca-icons</a> <span class="lui label">1.1</span></li>
					<li><a href="https://angularjs.org/">angular</a> <span class="lui label">1.4</span></li>
					<li><a href="https://angular-ui.github.io/bootstrap/">angular ui bootstrap</a> <span class="lui label">0.13</span></li>
					<li><a href="http://momentjs.com/">momentjs</a> <span class="lui label">2.10</span> - this part does not use this dependency</li>
				</ul>
			</p>

		</div>
		<article id="ui-select" ng-controller="uiselectCtrl" class="lui form">
			<h2 class="lui divider below">ui-select</h2>
			<p><a href="https://github.com/angular-ui/ui-select">ui-select github page</a></p>
			<div class="lui dashed divider">
				<h4 class="lui underline">Simple select</h4>
			</div>
			<ui-select ng-model="person.selected" ng-disabled="disabled" class="lui regular nguibs-ui-select input">
				<ui-select-match placeholder="Pick a user">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="person in people | filter: $select.search">
					<span ng-bind-html="person.name | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>

			<ui-select ng-model="person.selected" ng-disabled="disabled" class="lui primary regular nguibs-ui-select input">
				<ui-select-match placeholder="Pick a user">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="person in people | filter: $select.search">
					<span ng-bind-html="person.name | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>

			<div class="lui long input">
				<input type="text" name="name" placeholder="This is a lui long input">
			</div>

			<div class="lui dashed divider">
				<h4 class="lui underline">Multi-select</h4>
			</div>
			<ui-select multiple ng-model="colors" ng-disabled="disabled" class="lui nguibs-ui-select long input">
				<ui-select-match placeholder="Select colors...">{{$item}}</ui-select-match>
				<ui-select-choices repeat="color in availableColors | filter:$select.search">
					{{color}}
				</ui-select-choices>
			</ui-select>
			<div class="lui dashed divider">
				<h4 class="lui underline">Usage:</h4>
			</div>
			<p>
				<pre ng-non-bindable>&lt;ui-select ng-model="myVar" <b>class="lui nguibs-ui-select"</b>&gt;
...
&lt;/ui-select&gt;
&lt;ui-select  multiple ng-model="myVar" <b>class="lui nguibs-ui-select long input"</b>&gt;
...
&lt;/ui-select&gt;</pre>
		</p>
	</article>

	<article id="dropdown" ng-controller="dropdownCtrl">
		<h2 class="lui divider below">Dropdown</h2>
		<p><a href="https://angular-ui.github.io/bootstrap/#/dropdown">github.io page</a></p>
		<p>
			<div class="lui nguibs-dropdown" dropdown>
				<button class="lui button with addon right" dropdown-toggle>
					Click me!
					<i class="lui x-small south arrow icon addon"></i>
				</button>
				<ul class="dropdown-menu">
					<li><a>action</a></li>
					<li class="disabled"><a>disabled action</a></li>
					<li><a>another action</a></li>
				</ul>
			</div>
		</p>
		<div class="lui dashed divider">
			<h4 class="lui underline">Usage:</h4>
			</div>
			<p>
				<pre ng-non-bindable>&lt;div <b>class="lui nguibs-dropdown input"</b> dropdown dropdown-toggle&gt;
	&lt;button class="lui button" dropdow-toggle&gt;click me&lt;/button&gt;
	&lt;ul class="dropdown-menu"&gt;
		&lt;li&gt;&lt;a&gt;action&lt;/a&gt;&lt;/li&gt;
		&lt;li class="disabled"&gt;&lt;a&gt;disabled&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;</pre>
		</p>
	</article>
	<article id="tooltip" ng-controller="tooltipCtrl">
		<h2 class="lui divider below">Tooltip</h2>
		<p><a href="https://angular-ui.github.io/bootstrap/#/tooltip">github.io page</a></p>
		<button tooltip="Regular tooltip" tooltip-class="lui nguibs-tooltip" tooltip-placement="top" class="lui button">Hover me!</button>
		<button tooltip="Primary tooltip" tooltip-class="lui primary nguibs-tooltip" tooltip-placement="right" class="lui button">No, Me!!!</button>
		<button tooltip="OMG! An error!" tooltip-class="lui red nguibs-tooltip" tooltip-trigger="click" tooltip-placement="left" class="lui button">Click me!</button>
		<div class="lui dashed divider">
			<h4 class="lui underline">Usage:</h4>
		</div>
		<p>
			<pre ng-non-bindable>&lt;button tooltip="Hello there!" <b>tooltip-class="lui nguibs-tooltip"</b> class="lui button"&gt;Hover me!&lt;/button&gt;</pre>
		</p>
	</article>
	<article id="popover" ng-controller="popoverCtrl">
		<h2 class="lui divider below">Popover</h2>
		<p><a href="https://angular-ui.github.io/bootstrap/#/tooltip">github.io page</a></p>
		<button popover="some important text about stuff" popover-title="This is critical!" popover-class="lui nguibs-popover" class="lui button">Click me!</button>
		<button popover="Primary tooltip" popover-title="I got a title too!" popover-class="lui primary nguibs-popover" class="lui button">Primary tooltip</button>
		<button popover-html="popoverHtml" popover-class="lui nguibs-popover" class="lui button">with some html</button>
		<button popover-template="'myPopoverTemplate.html'" popover-class="lui nguibs-popover" class="lui button">with a template</button>

		<script type="text/ng-template" id="myPopoverTemplate.html">
			<h4 class="lui divider below">a title</h4>
			<div class="lui input with addon">
				<i class="lui timer addon icon"></i>
				<input placeholder="some input">
			</input>
		</script>
		<div class="lui dashed divider">
			<h4 class="lui underline">Usage:</h4>
		</div>
		<p>
			<pre ng-non-bindable>&lt;button popover="Hello there!" <b>popover-class="lui nguibs-popover"</b> class="lui button"&gt;Click me!&lt;/button&gt;</pre>
		</p>
		<div class="lui dashed divider">
			<h4 class="lui underline">Remarks:</h4>
		</div>
		<p>
			For now the argument <code>popover-title="some title"</code> is not supported but there is an <a href="https://github.com/LuccaSA/lucca-ui/issues/31">issue</a> open for it
		</p>
	</article>


	<article id="datepicker" ng-controller="datepickerCtrl">
		<h2 class="lui divider below">Datepicker</h2>
		<p><a href="https://angular-ui.github.io/bootstrap/#/datepicker">github.io page</a></p>
		<h4>Inline</h4>
		<datepicker class="lui nguibs-datepicker" ng-model="dt"></datepicker>

		<h4>In a popup</h4>
		<div class="lui nguibs-datepicker">
			<input type="text" datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="status.opened" close-text="Close" ng-click="status.opened=true"/>
		</div>

		<div class="lui dashed divider">
			<h4 class="lui underline">Usage:</h4>
		</div>
		<p>
			<pre ng-non-bindable>&lt;!-- inline -- &gt;
&lt;div <b>class="lui nguibs-datepicker"</b>&gt;
	&lt;datepicker ng-model="dt"&gt;&lt;/date-picker&gt;
&lt;/div&gt;
&lt;!-- popup -- &gt;
&lt;div <b>class="lui nguibs-datepicker long input"</b>&gt;
	&lt;input type="text" datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="status.opened" close-text="Close" ng-click="status.opened=true"/&gt;
&lt;/div&gt;</pre>
			</p>
			<div class="lui dashed divider">
				<h4 class="lui underline">Remarks:</h4>
			</div>
			<p>
				There is some problem with the inline component, an icon appears in the week number. There is an <a href="https://github.com/LuccaSA/lucca-ui/issues/32">issue</a> open for it
			</p>
		</article>
	</section>
</div>