<!DOCTYPE html>
<html>
    <head lang="en">
    	<meta charset="UTF-8">
    	<title>Timmi home</title>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"/>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">

    	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    	<link rel="stylesheet" href="timmi-styles.min.css"/>

        <!-- Angular !-->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.12.1/select.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.12.1/select.min.css"/>
        <script src="js/demo.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body ng-app="demo">
        <div id="app" ng-controller="DemoCtrl">
            <!-- App Main Navigation !-->
            <nav id="main-navigation" role="navigation" class="lui primary inverted dividing vertical stuck-left menu">
                <div id="app-logo">
                    <!-- Mobile nav toggle handle !-->
                    <button class="lui navigation-toggle regular primary drag icon button"></button>
                    <a ui-sref="">timmi</a>
                </div>

                <a class="item has-updates">
                    <i class="lui clock icon"></i>
                    <span class="item-name">Déclarer</span>
                    <span class="item-updates lui yellow circular label">2</span>
                </a>

                <a  ng-repeat="tab in tabs"
                    ng-show="hasAnyPermission(tab.permissionsId)"
                    ui-sref="{{ tab.aimedState }}"
                    class="item"
                    ng-class="{ active:($state.current.root || $state.current.name) == tab.state, 'has-updates':tab.updates }">

                    <i class="lui {{ tab.icon }} icon"></i>
                    <span class="item-name">{{ tab.name }} | translate</span>
                    <span class="item-updates lui yellow circular label">{{ tab.updates }}</span>
                </a>
            </nav>

            <main>
                <div id="view">
                    <header id="main-header" class="lui raised container menu">
                        <div class="lui item">
                            <ui-select  ng-model="statute.selected"
                                        ng-disabled="disabled"
                                        reset-search-input="false"
                                        class="lui ui-select">
                                <ui-select-match placeholder="Select a statute">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices class="lui raised" repeat="statute in statutes | filter: $select.search">
                                    <span>{{ statute.name }}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="lui right menu">
                            <button class="lui large inverted filling primary button">+ {{ 'CREATE_STATUTE' }} |translate</button>
                            <button class="lui large inverted filling light help icon button" title="{{ 'HELP' }}|translate"></button>
                        </div>
                    </header>
                </div>
            </main>
        </div>
    </body>
</html>
