@import "less/_variables";

@import "../../less2/lucca-ui.less";
@theme: "luccaUI-overrides";
@themeDir: "../demo/timmi/";




body {
    background-color: #eee;
}

@import "less/_layout";

/**
 * View: Statutes
 * --------------------------------------------------------------------------- */

main#main-content #main-view #statutes-view {
    height: 100%;
    background: #FFF;
    border: 1px solid @border-color;
    border-left: none;

    #statutes {
        position: absolute;
        top: 1px; bottom: 0;
        overflow: auto;
        border-right: 1px solid @border-color;

        > .lui.menu:first-child .item.header {
            border-top: none;
        }

        .item:not(.header) {
            background-color: #FAFAFA;
        }
        .icon.help {
            color: #AAA;
        }
    }

    #statute {
        > header {
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }
}
