@import "../../src/lucca-ui.less";

// Lucca UI overrides
// ====
@theme: "luccaUI-overrides";
@themeDir: "../demo/timmi/";

@import "less/_variables";



/**
 * Layout plugin
 * --------------------------------------------------------------------------- */

// Brings the iLucca banner in fixed top position over all content
#ilucca-banner{
	position: fixed;
	width: 100%;
	z-index: 9000;
}
#iLuccaAccount {
	width: 100%;
	z-index: 9001; // It's over 9000 !
	position: absolute;
	background-color: #FFF;
}

/**
 * View: Statutes
 * --------------------------------------------------------------------------- */

main#main-content #main-view #statutes-view {
    height: 100%;
    background: #FFF;
    border: 1px solid @border-color;
    border-left: none;

    #statutes {
        position: absolute;
        top: 1px; bottom: 0;
        overflow: auto;
        border-right: 1px solid @border-color;

        > .lui.menu:first-child .item.header {
            border-top: none;
        }

        .item:not(.header) {
            background-color: #FAFAFA;
        }
        .icon.help {
            color: #AAA;
        }
    }

    #statute {
        > header {
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }
}
