.clearfix {
	&:before,
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

.reset-list {
	margin: 0;
	padding: 0;
	list-style: none;

	> ul, > ul li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}