@namespace: .lui.lucca2;
@{namespace}:extend(@{namespace} .lui.body all) {}
.lui.lucca:extend(.lui.lucca .lui.body all) {}

.lui.lucca,
@{namespace} {

	/** ---------------------------------------------------------------------------
	 * ------ ICON COMPONENT - Comes from the Lucca-icons bower component
	 * ---------------------------------------------------------------------------- */

	@import "@{bowerDir}/lucca-icons/src/lucca-icons";
	@import (optional) "@{themeDir}@{theme}/elements/icon.overrides.less";

	// We define a mixin alias here for better support
	.lui_make_icon(@name, @position: left) { .luccaIcons_make(@name, @position); }
	.lui.icon {
		.lui_supports_sizing({
			font-size: @sizeEms;
		});
	};


	/** ---------------------------------------------------------------------------
	 * ------ UTILITIES
	 * ---------------------------------------------------------------------------- */

	@import "core/utilities/_resets";
	@import "core/utilities/_mixins";
	@import "core/utilities/_flex";
	@import "core/utilities/_loader";
	@import "core/utilities/_is-animated";
	// @import "core/utilities/_extend";


	/**
	 * Coloring handler
	 * ----------------------------------------------------------------------------- */

	@import "core/variables/_colors";
	@import (optional) "@{themeDir}@{theme}/variables/colors.overrides.less";

	@import "core/utilities/_supports-coloring";


	/**
	 * Sizing handler
	 * ----------------------------------------------------------------------------- */

	@import "core/variables/_sizes";
	@import (optional) "@{themeDir}@{theme}/definitions/sizes.overrides.less";

	@import "core/utilities/_supports-sizing";


	/**
	 * Breakpoints handler
	 * ----------------------------------------------------------------------------- */

	// Breakpoints definitions
	@import "core/variables/_breakpoints";

	// Responsive mixins - based on breakpoints
	@import "core/utilities/_responsive";

	@import (optional) "@{themeDir}@{theme}/definitions/breakpoints.overrides.less";

	@import "core/utilities/_supports-breakpoints.less";


	/** ---------------------------------------------------------------------------
	 * ------ DEFINITIONS : global adjectives
	 * ---------------------------------------------------------------------------- */

	/**
	 * Unstyled
	 * ----------------------------------------------------------------------------- */
	& {
		@enabled: true;
		@object-type: "definition";
		@object-name: "unstyled";

		@import (multiple, optional) "core/@{object-type}s/_@{object-name}.variables.less";

		@import (optional) "@{themeDir}@{theme}/@{object-type}s/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}s/_@{object-name}"; }
	}


	/**
	 * Animated
	 * ----------------------------------------------------------------------------- */

	& {
		@enabled: true;
		@object-type: "definition";
		@object-name: "animated";

		@import (multiple, optional) "core/@{object-type}s/_@{object-name}.variables.less";

		@import (optional) "@{themeDir}@{theme}/@{object-type}s/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}s/_@{object-name}"; }
	}


	/**
	 * Stuck
	 * ----------------------------------------------------------------------------- */

	& {
		@enabled: true;
		@object-type: "definition";
		@object-name: "stuck";

		@import (multiple, optional) "core/@{object-type}s/_@{object-name}.variables.less";

		@import (optional) "@{themeDir}@{theme}/@{object-type}s/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}s/_@{object-name}"; }
	}


	/**
	 * Raised
	 * --------------------------------------------------------------------------- */

	& {
		@enabled: true;
		@object-type: "definition";
		@object-name: "raised";

		@import (multiple, optional) "core/@{object-type}s/_@{object-name}.variables.less";

		@import (optional) "@{themeDir}@{theme}/@{object-type}s/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}s/_@{object-name}"; }
	}


	/**
	 * Pointing (directional triangular arrow)
	 * --------------------------------------------------------------------------- */

	& {
		@enabled: true;
		@object-type: "definition";
		@object-name: "pointing";

		@import (multiple, optional) "core/@{object-type}s/_@{object-name}.variables.less";

		@import (optional) "@{themeDir}@{theme}/@{object-type}s/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}s/_@{object-name}"; }
	}


	/** ---------------------------------------------------------------------------
	 * ------ ELEMENTS
	 * ---------------------------------------------------------------------------- */

	/**
	 * Typography
	 * --------------------------------------------------------------------------- */

	& {
		@enabled: true;
		@object-type: "element";
		@object-name: "typography";

		@import (multiple, optional) "core/@{object-type}s/_@{object-name}.variables.less";

		@import (optional) "@{themeDir}@{theme}/@{object-type}s/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}s/_@{object-name}"; }
	}


	/**
	 * Grid
	 * --------------------------------------------------------------------------- */

	& {
		@enabled: true;
		@object-type: "element";
		@object-name: "grid";

		@import (multiple, optional) "core/@{object-type}s/_@{object-name}.variables.less";

		@import (optional) "@{themeDir}@{theme}/@{object-type}s/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}s/_@{object-name}"; }
	}


	/**
	 * Button
	 * --------------------------------------------------------------------------- */
	& {
		@enabled: true;
		@object-type: "element";
		@object-name: "button";

		@import (multiple, optional) "core/@{object-type}s/_@{object-name}.variables.less";

		@import (optional) "@{themeDir}@{theme}/@{object-type}s/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}s/_@{object-name}"; }
	}


	/**
	 * Menu
	 * --------------------------------------------------------------------------- */
	& {
		@enabled: true;
		@object-type: "element";
		@object-name: "menu";

		@import (multiple, optional) "core/@{object-type}s/_@{object-name}.variables.less";

		@import (optional) "@{themeDir}@{theme}/@{object-type}s/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}s/_@{object-name}"; }
	}


	/**
	 * Block - your basic everyday building block
	 * --------------------------------------------------------------------------- */

	& {
		@enabled: true;
		@object-type: "element";
		@object-name: "block";

		@import (multiple, optional) "core/@{object-type}s/_@{object-name}.variables.less";

		@import (optional) "@{themeDir}@{theme}/@{object-type}s/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}s/_@{object-name}"; }
	}

	/**
	 * Input
	 * --------------------------------------------------------------------------- */

	& {
		@object-type: "elements";
		@object-name: "input";

		@enabled: true;

		@import (multiple, optional) "core/@{object-type}/_@{object-name}.variables.less";
		@import (optional) "@{themeDir}@{theme}/@{object-type}/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}/_@{object-name}"; }
	}


	/**
	 * Label
	 * --------------------------------------------------------------------------- */

	& {
		@object-type: "elements";
		@object-name: "label";

		@enabled: true;

		@import (multiple, optional) "core/@{object-type}/_@{object-name}.variables.less";
		@import (optional) "@{themeDir}@{theme}/@{object-type}/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}/_@{object-name}"; }
	}


	/**
	 * Divider
	 * --------------------------------------------------------------------------- */

	& {
		@object-type: "elements";
		@object-name: "divider";

		@enabled: true;

		@import (multiple, optional) "core/@{object-type}/_@{object-name}.variables.less";
		@import (optional) "@{themeDir}@{theme}/@{object-type}/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}/_@{object-name}"; }
	}


	/**
	 * Definition lists
	 * ----------------------------------------------------------------------------- */

	& {
		@object-type: "elements";
		@object-name: "definition-list";

		@enabled: true;

		@import (multiple, optional) "core/@{object-type}/_@{object-name}.variables.less";
		@import (optional) "@{themeDir}@{theme}/@{object-type}/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}/_@{object-name}"; }
	}


	/**
	 * Breadcrumbs
	 * --------------------------------------------------------------------------- */

	& {
		@object-type: "elements";
		@object-name: "breadcrumbs";

		@enabled: true;

		@import (multiple, optional) "core/@{object-type}/_@{object-name}.variables.less";
		@import (optional) "@{themeDir}@{theme}/@{object-type}/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}/_@{object-name}"; }
	}

	/**
	 * Callout
	 * --------------------------------------------------------------------------- */
	& {
		@object-type: "elements";
		@object-name: "callout";

		@enabled: true;

		@import (multiple, optional) "core/@{object-type}/_@{object-name}.variables.less";
		@import (optional) "@{themeDir}@{theme}/@{object-type}/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}/_@{object-name}"; }
	}

	/**
	 * Table
	 * --------------------------------------------------------------------------- */
	& {
		@object-type: "elements";
		@object-name: "table";

		@enabled: true;

		@import (multiple, optional) "core/@{object-type}/_@{object-name}.variables.less";
		@import (optional) "@{themeDir}@{theme}/@{object-type}/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}/_@{object-name}"; }
	}

	/**
	 * Overlay
	 * --------------------------------------------------------------------------- */
	& {
		@object-type: "elements";
		@object-name: "overlay";

		@enabled: true;

		@import (multiple, optional) "core/@{object-type}/_@{object-name}.variables.less";
		@import (optional) "@{themeDir}@{theme}/@{object-type}/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "core/@{object-type}/_@{object-name}"; }
	}


	/** ---------------------------------------------------------------------------
	 * ------ PLUGINS
	 * ---------------------------------------------------------------------------- */

	/**
	 * Angular UI Bootstrap Reskin Plugin
	 * --------------------------------------------------------------------------- */
	& {
		@object-type: "plugins";
		@object-name: "angular-ui-bootstrap-reskin";
		@enabled: true;

		@import (multiple, optional) "@{object-type}/@{object-name}/plugin.variables.less";
		@import (optional) "@{themeDir}@{theme}/@{object-type}/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "@{object-type}/@{object-name}/plugin.less"; }
	}


	/**
	 * Lucca App layout Plugin
	 * --------------------------------------------------------------------------- */
	& {
		@object-type: "plugins";
		@object-name: "lucca-app-layout";
		@enabled: true;

		@import (multiple, optional) "@{object-type}/@{object-name}/plugin.variables.less";
		@import (optional) "@{themeDir}@{theme}/@{object-type}/@{object-name}.overrides.less";
		& when (@enabled = true) { @import "@{object-type}/@{object-name}/plugin.less"; }
	}
}
