.lui_add_color(@name, @color, @txt-over, @lightOnDark: false) {
    .lui.button.@{name} {
        .lui_button_coloring_handler(@color, @txt-over, @lightOnDark);
    }

    .lui.callout.@{name} {
        .lui_callout_coloring_handler(@color, @txt-over);
    }
}


/**
 * Button color
 * --------------------------------------------------------------------------- */

.lui_button_coloring_handler(@color, @txt-over, @lightOnDark: false) {
    // Regular style
    // =====
    &:not(.fill):not(.wired):not(.inverted):not(.flat) {
        background: @color;
        color: @txt-over;
        &:hover {
            background: lighten(@color, 3);
        }
        &:active, &.active {
            background: darken(@color, 3);
        }
        & when (@lightOnDark = true) {
            &.status.loading:not(.has):not(.addon),
            &.status.loading.has.addon > .addon {
                .lui_loader_handle_color(@lightOnDark);
            }
        }
    }

    // Fill(ed) style
    // =====
    &.fill {
        &:hover {
            background: @color;
            color: @txt-over;
        }
        &:active, &.active {
            background: darken(@color, 5);
        }
    }
    // Wired style
    // Wired + Inverted is not supported
    // =====
    &.wired:not(.inverted) {
        // Regular
        &:hover,
        &:active,
        &.active, {
            box-shadow: 0 0 0 2px @color inset;
            color: @color;

            &.has.addon > .addon {
                border-color: @color;
            }
        }
    }
    // Inverted style
    // ====
    &.inverted {
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
        color: #FFF;

        &:hover {
            box-shadow: 0 0 0 2px @color inset;
            color:@color;
        }

        &.fill:hover {
            color: @txt-over;
        }
    }
    // Status icon
    // ====
    &.status.ok:after, &.status.failure:after {
        color: @txt-over;
    }
}


/**
 * Callout color
 * --------------------------------------------------------------------------- */

.lui_callout_coloring_handler(@color, @txt-over) {
    // Regular style
    // =====
    &:not(.fill) {
        &:before {
            color: @color;
        }
    }

    // Fill(ed) style
    // =====
    &.fill {
        background-color: @color;
        border-color: darken(@color, 5);
        &, &:before, a, button {
            color: @txt-over;
        }
    }
}
