@lui_defaults-border_radius: 3px;

@lui_defaults-shadow-width: 0;
@lui_defaults-shadow-height: 3px;
@lui_defaults-shadow-blur: 5px;
@lui_defaults-shadow-color: rgba(0, 0, 0, 0.1);
@lui_defaults-shadow-spread: 0;

/**
 * Icons
 * --------------------------------------------------------------------------- */

@lui_icon-font_path: "/sites/lucca-ui/dist/fonts/LuccaIcons";
@lui_icon-font_name: "lucca-icons";


/**
 * Dimensions
 * --------------------------------------------------------------------------- */
@lui_sizes-small: 0.8em;
@lui_sizes-regular: 1rem;
@lui_sizes-large: 1.25em;
@lui_sizes-x-large: 1.5em;



/**
 * Colors
 * --------------------------------------------------------------------------- */

@lui_colors-grey: #666;
@lui_colors-grey_light: #CCC;

@lui_colors-primary: @lui_colors-yellow;
@lui_colors-over_primary: @lui_colors-over_yellow;

@lui_colors-secondary: #f60;
@lui_colors-over_secondary: #FFF;

@lui_colors-error: #f60;
@lui_colors-warning: #f90;
@lui_colors-success: #5cb85c;

@lui_colors-yellow: #FBB900;
@lui_colors-over_yellow: #666;


/**
 * Elements
 * --------------------------------------------------------------------------- */

 // Links
 // =====
@lui_link-link_color: #999;
@lui_link-link_color_hover: #444;

// Buttons
// =====
@lui_button-text_transform: normal;
@lui_button-min_height: 1em;
@lui_button-min_width: 3em;
@lui_button-v_padding: 0.5em;
@lui_button-h_padding: 1em;
@lui_button-v_margin: 0.25em;
@lui_button-h_margin: 0.25em;
@lui_button-text_shadow: none;
@lui_button-border_radius: @lui_defaults-border_radius;
