@lui_defaults-border_radius: 3px;

@lui_defaults-shadow-width: 0;
@lui_defaults-shadow-height: 1px;
@lui_defaults-shadow-blur: 2px;
@lui_defaults-shadow-spread: 0;
@lui_defaults-shadow-color: rgba(0, 0, 0, 0.2);


@lui_defaults-body_font: 'Source Sans Pro', 'Tahoma', Verdana, Geneva, Helvetica, Arial, sans-serif;
/**
 * Icons
 * --------------------------------------------------------------------------- */



/**
 * Dimensions
 * --------------------------------------------------------------------------- */
@lui_sizes-small: 0.8em;
@lui_sizes-regular: 1rem;
@lui_sizes-large: 1.25em;
@lui_sizes-x-large: 1.5em;

@lui_sizes-v_padding: 0.5em;
@lui_sizes-h_padding: 1em;




/**
 * Colors
 * --------------------------------------------------------------------------- */

@lui_colors-grey: #666;
@lui_colors-grey_light: #CCC;

@lui_colors-primary: @lui_colors-yellow;
@lui_colors-over_primary: @lui_colors-over_yellow;

@lui_colors-secondary: #f60;
@lui_colors-over_secondary: #FFF;

@lui_colors-error: #f60;
@lui_colors-over_error: #FFF;
@lui_colors-warning: #f90;
@lui_colors-over_warning: #FFF;
@lui_colors-success: #5cb85c;
@lui_colors-over_success: #FFF;

@lui_colors-yellow: #FBB900;
@lui_colors-over_yellow: #666;


/**
 * Elements
 * --------------------------------------------------------------------------- */

 // Links
 // =====
@lui_link-link_color: #999;
@lui_link-link_color_hover: #444;

// Buttons
// =====
