/** ---------------------------------------------------------------------------
 * ------ GLOBAL VARIABLES
 * ---------------------------------------------------------------------------- */

@import "_variables.defaults.less";


/** ---------------------------------------------------------------------------
 * ------ UTILITIES
 * ---------------------------------------------------------------------------- */

@import "utilities/_resets";
@import "utilities/_mixins";
@import "utilities/_flex";
@import "utilities/_add-color";
@import "utilities/_loader";
@import "utilities/_icon-maker";


/** ---------------------------------------------------------------------------
 * ------ DEFINITIONS
 * ---------------------------------------------------------------------------- */

/**
 * Grid
 * --------------------------------------------------------------------------- */

& {
    @columns: 12;
    @container-space-around: 3em;
    @gutter: 1em;

    @column: 100%/@columns;

    // Break-points
    // =====
    @tablet: @lui_breakpoints-tablet;
    @desktop: @lui_breakpoints-desktop;
    @large: @lui_breakpoints-large;

    @import "definitions/_grid";
}


/**
  * Colors
  * --------------------------------------------------------------------------- */

& {
    @import "definitions/_colors.less";
}


 /**
  * Typography
  * --------------------------------------------------------------------------- */

& {
    @font-size: 15px;
    @font-family: @lui_defaults-body_font;
    @color: @lui_defaults-text_color;
    @line-height: 1.4em;

    @heading-font: @font-family;
    @heading-line-height: 1.25em;
    @heading-v-margin: 0;
    @heading-font-weight: normal;

    @h1-size: 2.5em;
    @h1-weight: 300;
    @h2-size: 1.75em;
    @h2-weight: 400;
    @h3-size: 1.5em;
    @h3-weight: 400;
    @h4-size: 1.25em;
    @h4-weight: 400;
    @h5-size: 1.1em;
    @h5-weight: 600;
    @h6-size: 1em;
    @h6-weight: 600;

    @icon-size: @lui_sizes-small;

    @import "definitions/_typography.less";
}


/**
 * Link
 * --------------------------------------------------------------------------- */

& {
    @import "definitions/_link";
}


/** ---------------------------------------------------------------------------
 * ------ ELEMENTS
 * ---------------------------------------------------------------------------- */
 // These are the elements

 /**
  * Icon
  * --------------------------------------------------------------------------- */
 & {
     @font_path: "/dist/fonts/LuccaIcons";
     @font_name: "lucca-icons";

     @import "elements/_icon";
 }


/**
 * Button
 * --------------------------------------------------------------------------- */
& {
    @text-transform: normal;
    @min-height: 1em;
    @min-width: 3em;
    @v-padding: @lui_sizes-v_padding;
    @h-padding: @lui_sizes-h_padding;
    @v-margin: 0.25em;
    @h-margin: 0.25em;
    @text-shadow: none;
    @border-radius: @lui_defaults-border_radius;
    @small: @lui_sizes-small;
    @regular: @lui_sizes-regular;
    @large: @lui_sizes-large;
    @x-large: @lui_sizes-x-large;
    @default-background: #FFF;
    @default-color: @lui_colors-grey;

    @import "elements/_button";
}


/**
 * Menu
 * --------------------------------------------------------------------------- */
& {
    @v-margin: 0;
    @h-margin: 0;
    @v-padding: 0;
    @h-padding: 0;

    @border-color: @lui_defaults-border-color;
    @border-color-inverted: @lui_defaults-border-color-inverted;

    @border-width: 1px;

    @divider-color: @lui_defaults-border-color;
    @divider-width: @lui_defaults-larger_border;
    @divider-active-color: @lui_colors-primary;

    @vertical-item-y-padding: 1rem;
    @vertical-item-x-padding: 1rem;
    @vertical-item-y-margin: 0;
    @vertical-item-x-margin: 0;

    @horizontal-item-y-padding: 0.5rem;
    @horizontal-item-x-padding: 1rem;
    @horizontal-item-y-margin: 0;
    @horizontal-item-x-margin: 0;

    @header-weight: inherit;
    @header-size: '';

    @pills-radius: @lui_defaults-border_radius;

    @import "elements/_menu";
}


/**
 * Block - your basic everyday building block
 * --------------------------------------------------------------------------- */

& {
    @raised-shadow: @lui_defaults-raised_shadow;
    @border: @lui_defaults-border;
    @border-inverted: @lui_defaults-border-color-inverted;
    @border-radius: @lui_defaults-border_radius;

    @import "elements/_block";
}


/**
 * Input
 * --------------------------------------------------------------------------- */

& {
    @border-radius: @lui_defaults-border_radius;
    @border-color: @lui_colors-grey_light;
    @color: @lui_colors-grey;
    @v-padding: @lui_sizes-v_padding;
    @h-padding: @lui_sizes-h_padding;
    @placeholder-color: rgba(0, 0, 0, 0.5);
    @placeholder-style: italic;

    @import "elements/_input";
}


/**
 * Label
 * --------------------------------------------------------------------------- */

& {
    @default-background: rgba(50, 50, 50, 0.15);
    @default-color: @lui_colors-grey;
    @border-radius: @lui_defaults-border_radius;
    @v-padding: 0.5em;
    @h-padding: 0.5em;

    @small: @lui_sizes-small;
    @regular: @lui_sizes-regular;
    @large: @lui_sizes-large;
    @x-large: @lui_sizes-x-large;

    @import "elements/_label";
}


/**
 * Divider
 * --------------------------------------------------------------------------- */

& {
    @border-color: @lui_defaults-border-color;
    @divider-weight: @lui_defaults-border-width;

    @import "elements/_divider";
}


/**
 * Grid
 * --------------------------------------------------------------------------- */

& {
    @import "elements/_breadcrumbs";
}

 /**
  * Callout
  * --------------------------------------------------------------------------- */
& {
    @background: #FFF;
    @border-color: @lui_colors-grey_light;
    @border-width: @lui_defaults-larger_border;

    @v-padding: 1em;
    @h-padding: 2em;
    @v-margin: 1em;
    @h-margin: 0;

    @background: #FFF;
    @color: #FFF;
    @fill-bg: @lui_colors-grey_light;
    @fill-txt: @lui_colors-grey;

    @import "elements/_callout";
}
