@import "_variables.defaults.less";

/** ---------------------------------------------------------------------------
 * ------ UTILITIES
 * ---------------------------------------------------------------------------- */
@import "utilities/_mixins";
@import "utilities/_icon-maker";



/** ---------------------------------------------------------------------------
 * ------ DEFINITIONS
 * ---------------------------------------------------------------------------- */

 /**
  * Block - your basic everyday building block
  * --------------------------------------------------------------------------- */

& {
    @raised-shadow: @lui_defaults-raised_shadow;
    @border: @lui_defaults-border;
    @border-inverted: @lui_defaults-border-inverted;
    @border-radius: @lui_defaults-border_radius;

    @import "elements/_block";
}

 /**
  * Typography
  * --------------------------------------------------------------------------- */

& {
    @font-size: 14px;
    @font-family: @lui_defaults-body_font;
    @color: @lui_defaults-text_color;
    @line-height: 1.4em;

    @heading-font: @font-family;
    @heading-line-height: 1.25em;
    @heading-v-margin: 0;
    @heading-font-weight: normal;

    @h1-size: 3em;
    @h1-weight: 300;
    @h2-size: 1.75em;
    @h2-weight: 300;
    @h3-size: 1.5em;
    @h3-weight: 400;
    @h4-size: 1.25em;
    @h4-weight: 400;
    @h5-size: 1.1em;
    @h5-weight: 600;
    @h6-size: 1em;
    @h6-weight: 600;

    @icon-size: @lui_sizes-small;

    @import "definitions/_typography.less";
}



/** ---------------------------------------------------------------------------
 * ------ ELEMENTS
 * ---------------------------------------------------------------------------- */
 // These are the elements

 /**
  * Icon
  * --------------------------------------------------------------------------- */
 & {
     @font_path: "/sites/lucca-ui/dist/fonts/LuccaIcons";
     @font_name: "lucca-icons";

     @import "elements/_icon";
 }
@import "elements/_link";

/**
 * Button
 * --------------------------------------------------------------------------- */
& {
    @text-transform: normal;
    @min-height: 1em;
    @min-width: 3em;
    @v-padding: @lui_sizes-v_padding;
    @h-padding: @lui_sizes-h_padding;
    @v-margin: 0.25em;
    @h-margin: 0.25em;
    @text-shadow: none;
    @border-radius: @lui_defaults-border_radius;
    @small: @lui_sizes-small;
    @regular: @lui_sizes-regular;
    @large: @lui_sizes-large;
    @x-large: @lui_sizes-x-large;

    @import "elements/_button";
}


/**
 * Input
 * --------------------------------------------------------------------------- */

& {
    @border-radius: @lui_defaults-border_radius;
    @border-color: @lui_colors-grey_light;
    @color: @lui_colors-grey;
    @v-padding: @lui_sizes-v_padding;
    @h-padding: @lui_sizes-h_padding;
    @placeholder-color: rgba(0, 0, 0, 0.5);
    @placeholder-style: italic;

    @import "elements/_input";
}


/**
 * Callout
 * --------------------------------------------------------------------------- */

& {
    @border-color: @lui_colors-grey_light;
    @divider-weight: 1px;
    @import "elements/_divider";
}


 /**
  * Callout
  * --------------------------------------------------------------------------- */
& {
    @background: #FFF;
    @border-color: @lui_colors-grey_light;
    @border-width: 5px;

    @v-padding: @lui_sizes-v_padding;
    @h-padding: @lui_sizes-h_padding;
    @v-margin: 1em;
    @h-margin: 0;

    @icon-size: 1.5em;

    @import "elements/_callout";
}
