
// Callout
// @type: element
// ===================================

$callout: (
	enabled: 					true,

	background: 				#FFF,
	borderColor: 				map-gets($luiTheme, references, colors, light, color),
	borderWidth: 				5px,

	verticalPadding: 			1em,
	horizontalPadding: 			2em,
	verticalMargin: 			1em,
	horizontalMargin: 			0,

	defaultColoring: 			(color: map-gets($luiTheme, references, colors, light, color), text: #222, lod: false)
);
$luiTheme: lui_set_component_variables(element, callout, $callout);
