
// Input(s)
// @type: element
// ===================================

$input: (
	enabled: 					true,

	background: 				#FFF,
	borderRadius: 				3px,
	color: 						#666,
	padding: (
		top: 					0.66em,
		right: 					1em,
		bottom:					0.66em,
		left: 					1em
	),
	borderColor: 				lui_get_colorscheme(light, color),
	focusBorderColor: 			darken(lui_get_colorscheme(light, color), 10),
	invalidColor:  				lui_get_colorscheme(red, color),
	shadow: 					0 2px 2px 0 map-gets($luiTheme, elements, divider, color),

	placeholder: (
		color: 					rgba(0, 0, 0, 0.5),
		style: 					italic,
	),

	field: (
		verticalMargin: 		0.5em,
		labelFontWeight: 		600,
	),

	checkbox: (
		enabled: 				true,

		color: 					lui_get_colorscheme(primary, color),
		size: 					1.5em
	),

	switch: (
		enabled: 				true,

		width: 					4.5em,
		height: 				2.25em,
		background: 			#666,
		color: 					darken(#666, 15),
		activeBackground: 		lui_get_colorscheme(primary, color),
		activeColor:			darken(lui_get_colorscheme(primary, color), 15),
		grabLinesColor: 		lui_get_colorscheme(light, color),
	),

	search: (
		enabled: 				true,

		paddingLeft: 			2.5em
	),


	timespanpicker: (
		enabled: 				true,

		width: 					5em
	),

	momentpicker: (
		enabled: 				true,

		width: 					2.2em,
		maxWidth: 				5.25em
	)
);
$luiTheme: lui_set_component_variables(element, input, $input);
