
// label
// @type: element
// ===================================

$label: (
	enabled: 					true,

	fontSize:					0.85em,
	lineHeight:					1,
	textAlign: 					center,

	verticalPadding: 			0.25em,
	horizontalPadding: 			0.5em,

	verticalMargin:				0,
	horizontalMargin: 			0.5em,

	borderRadius: 				3px,

	defaultColoring: 			(color: lui_get_colorscheme(light, color), text: #666, lod: false),

	addonBackground: 			rgba(0, 0, 0, 0.2),
	iconMargin: 				0.25em
);
$luiTheme: lui_set_component_variables(element, label, $label);
