<div class="lui {{::options.templateOptions.display}} field">
	<div class="lui {{::options.templateOptions.style}} input">
		<div class="lui radio input" ng-repeat="choice in options.templateOptions.choices">
			<input id="{{::id}}_{{$index}}" type="radio" name="{{::id}}" ng-model="model[options.key]" ng-required="{{options.templateOptions.required}}" ng-disabled="options.templateOptions.disabled" ng-value="choice">
			<label for="{{::id}}_{{$index}}">{{ choice.label }}</label>
		</div>
		<label>{{ options.templateOptions.label }}</label>
	</div>
	<small class="message helper">{{ options.templateOptions.helper}}</small>
	<small class="message error lui animated up fade in" ng-show="form.{{::id}}.$dirty && form.{{::id}}.$error.required">{{::options.templateOptions.requiredError}}</small>
</div>
