$luiTheme: () !default;

// Helpers
// ===================================

@function map-gets($map, $keys...) {
	@each $key in $keys {
		$map: map-get($map, $key);
	}

	@return $map;
}

@function map-extend($map, $maps.../*, $deep */) {
	$last: nth($maps, -1);
	$deep: $last == true;
	$max: if($deep, length($maps) - 1, length($maps));

	// Loop through all maps in $maps...
	@for $i from 1 through $max {
		// Store current map
		$current: nth($maps, $i);

		// If not in deep mode, simply merge current map with map
		@if not $deep {
			$map: map-merge($map, $current);
		} @else {
			// If in deep mode, loop through all tuples in current map
			@each $key, $value in $current {

				// If value is a nested map and same key from map is a nested map as well
				@if type-of($value) == "map" and type-of(map-get($map, $key)) == "map" {
					// Recursive extend
					$value: map-extend(map-get($map, $key), $value, true);
				}

				// Merge current tuple with map
				$map: map-merge($map, ($key: $value));
			}
		}
	}
	@return $map;
}


// Get / set theming variables
// ===================================

@function lui_set_component_variables($type, $name, $map) {
	$luiTheme: map-extend($luiTheme, ("#{$type}s": ($name: $map)), true);
	$luiTheme: $luiTheme !global; // Maske it globally known
	@return $luiTheme;
}

@function lui_get_component_variables($type, $name) {
	@if  (map-has-key($luiTheme, "#{$type}s")) and
		 (map-has-key(map-get($luiTheme, "#{$type}s"), $name)) {
			@return map-gets($luiTheme, "#{$type}s", $name);
	} @else {
		@warn "Component #{$name} of type #{$type} was not found !";
	}
}

// Colorscheme specifics
// ===================================

@function lui_get_colorscheme($colorName, $property: all) {
	$scheme: map-gets($luiTheme, globals, colors, $colorName);
	@if $property != all and map-has-key($scheme, $property) {
		@return map-get($scheme, $property);
	} @else {
		@return $scheme;
	}
}

@function lui_add_colorscheme($name, $scheme) {
	$lui_colors: map-set(map-gets($luiTheme, globals, colors), $name, $scheme);
}

// Get root unit size
// ===================================

@function lui_rem($number: 1) {
	// Remove $number unit if specified and multiply it by bodyFontSize
	@return (($number / ($number * 0 + 1)) * map-gets($luiTheme, elements, typography, body, fontSize));
}


// Load core defaults
// @import "core/theming/defaults.values";
@at-root {
	@import "core/theming/defaults.values";

	// User theme overrides
	$myTheme: () !default;
	@import "core/theme.overrides";

	$luiTheme: map-extend($luiTheme, $myTheme, true);
}
