
// Raised
// @type: adjective
// ===================================

$raised: (
	enabled: 					true,

	x: 							0,
	y: 							1px,
	blur: 						2px,
	spread: 					0,
	color: 						rgba(0, 0, 0, 0.2)
);
$luiTheme: lui_set_component_variables(adjective, raised, $raised);
