//requires ui bootstrap pagination directive/component
.lucca-pagination {
	> li {
		> a {
			color: @default-link-color;
			border-color: @color-grey-light;

			&:hover {
				color: @default-link-color-hover;
				background-color: lighten(@color-grey-light, 10);
			}
		}

		&.active {
			> a {
				background-color: @color-primary;
				color: @color-over-primary;

				&:hover, &:active, &:focus {
					background-color: lighten(@color-primary, 10);
				}

				&, &:hover, &:active, &:focus {
					border-color: darken(@color-primary, 15);
				}
			}
		}
	}
}